/* variables, Mixins & Fonts */

@import '../dcw_variables.less';

/*Contact Us Page Design 
----------------------*/

@import 'dcw_contact_us.less';

/***************************** CMS Static Banners ***/

@import 'dcw_cms_static_banners.less';

/***************************** dcw_404_error.less ***/

@import 'dcw_404_error.less';
[class*="cms-page-view"] {
	.column.main {
		padding-bottom: 40px;
		@media only screen and (max-width: 767px) {
			padding-bottom: 10px;
		}
	}
	#maincontent {
		padding: 0px 15px !important;
	}
	.sidebar {
		margin-top: 15px !important;
	}
	.widget.block.block-static-block {
		margin-bottom: 20px;
	}
	.widget.block.blog-search,
	.widget.block.block-categories,
	.widget.block.block-recent-posts,
	.widget.block.block-archive {
		display: none;
	}
}

.cms-about-us{
	.cds_pages_body {
		iframe{
			max-width: 560px; margin: 0 auto;
		}
	}
	.about_us_section{
		img{
			width: 100%;
			max-width: 100%;
		}
		.content_sec {
			h2 ,h3{
		    font-size: 24px;
		    padding-bottom: 15px;
		    margin-bottom: 20px;
		    color: @clr_blue;
		    border-bottom:2px solid @clr_blue;
			}
		}
	}
}
.contact-index-index{
		h1.page-title{
	    font-size: 24px;
	    padding-bottom: 15px;
	    margin-bottom: 20px;
	    color: @clr_blue;
	    border-bottom:2px solid @clr_blue;
		}
		address {
		    margin-bottom: 20px;
		    line-height: 26px;
		    padding: 15px;
		    background-color: rgba(69, 152, 218, 0.8);
		    color: #fff;
		    border-radius: 20px;
		}
		form#simple_contact_form {
		    display: inline-block;
		    width: 100%;
		}
		.form-group {
		    display: inline-block;
		    width: 100%;
		    .col-sm-4{
		    	width: 40%;
		    }
		    .col-sm-8{
		    	width: 60%;
		    }
		    button.contact-submit{
		    	background-color:@clr_blue;
		    	color: #fff;
		    	font-size: 18px;
		    	width: 150px;
		    	border:none;
		    }
		}
}

.cms-about-us,
.cms-help,
.cms-call_our_sales_counter_today,
.cms-application_engineers_on_staff,
.cms-askabout_credit,
.cms-nationwide_shipping,
.cms-askinspector_pump,
.cms-contact-us,
.cms-meet_the_team,
.cms-privacy-policy,
.cms-conditions-of-use,
.cms-returns-policy,
.cms-low-price-guarantee,
.cms-repair-parts-help,
.cms-website-suggestions,
.cms-payment-methods,
.cms-return_and_exchange_authorization,
.cms-product-manuals,
.cms-terms-and-conditions,
.cms-viewing-an-order,
.cms-connect-with-us,
.cms-registrations,
.cms-update-your-account-details,
.cms-email-subscription,
.cms-contractors,
.cms-apply-for-credit-account,
.cms-apply-for-credit-account,
.cms-municipal,
.cms-industrial,
.cms-residential,
.cms-back-orders-policy,
.cms-buy-direct-and-save,
.cms-family_owned,
.cms-no-route {
	font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; font-weight: 400; 
	h1 {margin-top: 15px !important; margin-bottom: 10px; 
		@media only screen and (max-width: 767px) {
			margin-top: 0;
		}
	}
	h2,h3{
		margin: 35px 0 0; border-bottom: 2px solid #4598da; padding-bottom: 5px;
	}
	p {
		font-size: 16px; margin: 0 0 10px; line-height: 20px;
		strong {
			line-height: 26px;
		}
	}
	ul {
		li {
			font-size: 14px; margin: 0 0 10px; line-height: 20px;
		}
	}
	&.cms-askabout_credit {
		ul {
			li {
				margin: 0;
			}
		}
	}
	&.cms-about-us {
		table {
			width: 100% !important;
		}
		p {
			span {
				a {
					color: #004f88;
				}
			}
		}
		.cds_pages_body {
			span {
				img {
					@media only screen and (max-width: 767px) {
						float: none !important; margin: 0 auto;
					}
				}
			}
			iframe {
				width: 100%;
			}
		}
	}
	&.cms-help {
		.column.main {
			.page-header {
				padding-bottom: 20px;
			}
			.mtop20 {
				.col-sm-6.col-md-4 {
					@media only screen and (max-width: 767px) {
						width: 100%;
					}
				}
			}
			ul.list-unstyled {
				li {
					margin: 0;
					&:before {
						content: '\f101'; display: inline-block; font-size: 14px; font: normal normal normal 14px/1 FontAwesome;
					}
					a {
						font-size: 14px; color: #004f88 !important; line-height: 20px; text-decoration: none;
						&:hover {
							color: #9b0005 !important; text-decoration: underline!important;
						}
					}
				}
			}
			.page-header {
				border: 0;
			}
			.row.row.mtop20 {
				margin-top: 10px; display: flex; flex-wrap: wrap;
				.panel.panel-default {
					width: 100%;
				}
			}
		}
	}
	&.cms-payment-methods {
		.page-header.bluestrip_title {
			border-bottom: 2px solid #cc0000!important; margin: 0!important; padding-bottom: 0px!important;
			h1 {
				    margin: 19px 0 0 !important; line-height: 0 !important;
				@media only screen and (max-width: 767px) {
					line-height: 0;
				}
				img {
					padding-bottom: 10px; width: 100%;
				}
			}
		}
		.cds_pages_body {
			width: 100% !important;
			@media only screen and (max-width: 767px) {
				padding: 0 !important;
			}
			h3 {
				border: 0 !important; font-size: 12px; line-height: 24px !important; font-weight: 600 !important; color: #e60300 !important; font-family: 'Open Sans', sans-serif !important; 
				width: 100% !important;
				@media only screen and (max-width: 767px) {
					padding: 0 !important; margin: 0 !important;
				}
			}
			p {
				padding-left: 7px !important; margin: 10px 0px 8px 4px !important; font-size: 14px; line-height: 20px; color: #333; font-family: 'Open Sans', sans-serif !important; 
				width: 100% !important;
				@media only screen and (max-width: 767px) {
					padding: 0 !important;
				}
			}
		}
	}
	&.cms-meet_the_team {
		.columns {
			padding: 0;
		}
		.pump_newteam {
			.heading-title {
				border-bottom: #9b0005 2px solid; color: #006699; font-size: 30px !important; font-weight: bold; margin-bottom: 20px !important; padding-bottom: 5px;
				@media only screen and (max-width: 767px) {
					margin-top: 0;
				}
			}
			.widget.widget-static-block {
				.widject-bg {
					background-color: #f6f6f6; padding: 10px; border-radius: 6px; box-shadow: 0px 0 20px #ddd inset; font-size: 14px; font-size: 14px; color: #333; 
					font-family: 'Open Sans', sans-serif !important; font-weight: 400; margin: 0 0 10px;
					span.services_avb {
						color: rgb(255, 0, 0) !important; font-size: 18px !important;
					}
					img {
						@media only screen and (max-width: 767px) {
							margin: 0 auto 15px; float: none !important;
						}
					}
				}
			}
		}
	}
	&.cms-privacy-policy {
		.columns{
			padding: 0;
		}
		.column.main {			
			.page-header{
				border-bottom: 2px solid #cc0000!important; margin: 0!important; padding: 0;
				h1.ptitle{
						font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px;
				}
			}
			ul {
				padding-left: 40px;
				li {
					list-style: disc; margin: 0;
				}
			}
			h3{
				margin: 20px 0; border-bottom: 1px solid #9b0005!important; font-size: 12px!important; font-weight: 600!important;
				span{
					color: #333; font-size: 12px; line-height: 13px; padding-bottom: 5px; display: block;
					@media only screen and (max-width: 767px){
						line-height: 17px;
					}
					strong{ 
						font-weight: 700;
					}
				}
			}
			a{
				span{
					color: #333;
				}
			}
		}
	}
	&.cms-conditions-of-use {
		.columns {
			padding: 0;
		}
			.column.main{
				table {
				width: 100% !important;
				tr{
					td{
						padding: 0;
					}
				}
			}			
			.page-header{
				border-bottom: 2px solid #cc0000!important; margin: 0!important; padding: 0;
				h1{
					font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px; 
				}
			}
			p{
				line-height: 22px;
			}
			h3{
				margin: 20px 0; font-size: 12px!important; font-weight: 700;
				strong{ 
					font-weight: 700; color: #333; font-size: 12px; line-height: 21px; padding-bottom: 5px; 
				}
			}
		}
	}
	&.cms-returns-policy {		
		.column.main{
			table {
				td {
					padding: 0;
					p {
						color: #333;
						strong {
							color: #333;
						}
					}
				}
			}
			.page-header{
				padding: 0 !important; border: 0;
				h1.ptitle.name{
					box-sizing: border-box; font-size: 15px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; 
					line-height: 17px; border-bottom: 2px solid #cc0000!important; margin-top: 15px !important;
				}
			}
			p{
				box-sizing: border-box; font-size: 14px; font-family: 'Open Sans', sans-serif; white-space: normal; word-spacing: 0px; text-transform: none; 
				font-weight: 400; color: #666666 !important; font-style: normal; orphans: 2; widows: 2; letter-spacing: normal; line-height: 22px; background-color: #ffffff; 
				text-indent: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-style: initial; 
				text-decoration-color: initial;
			}
			strong{
				color: #666666 !important; font-weight: 700; line-height: 22px;
			}
		}
	}
	&.cms-low-price-guarantee {
		.column.main{
			.page-header{
				border: 0;
				h1{
				font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0 0;
				border-bottom: 2px solid #cc0000!important; 
				}
			}
			.title_bar {
				.clear {
					display: none !important;
				}
			}
			.indus_main {
				border-top: #cc0000 2px solid; margin-top: -20px;
				@media only screen and (max-width: 991px) {
					margin-top: -30px;
				}
			}
		}
	}
	&.cms-repair-parts-help {
		.column.main {
			margin-top: 15px;
			hr {
				margin: 0;
			}
			.page-header {
			p{
			 background: none; padding: 0; margin: 0; border: 0; line-height: 19px; 
			}
			h2.ptitle{
			 border-bottom: 2px solid #cc0000; font-size: 16px!important;font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333 !important; 
			 padding-bottom: 7px !important; margin: 15px 0px 0px;
			}
		}
		.colA.row {
			.col-md-6 {
				width: 50% !important;
				@media only screen and (max-width: 767px) {
					width: 100% !important;
				}
			}
		}		
		h2{
			border: 0; width: 100% !important;  box-sizing: border-box; margin-bottom: 0px !important; font-size: 13px !important; font-family: inherit; 
			text-transform: uppercase; font-weight: bold; color: #004f88; padding-bottom: 5px; margin-top: 20px; line-height: 18px;
			span {
				color: #004f88 !important; font-size: 13px !important; line-height: 14px;
				span{
					color: #004f88 !important; font-size: 13px !important; line-height: 14px;
				}
			}
		}
		h2.plc-order.head_rph{
			box-sizing: border-box; margin-bottom: 0px !important; font-size: 16px !important; font-family: inherit; text-transform: uppercase; font-weight: bold; 
			color: #333333; padding-bottom: 5px; margin-top: 20px;
		}
		p {
			width: 100% !important; box-sizing: border-box; color: #333; font-family: "trebuchet ms", helvetica, sans-serif; font-size: 13px; line-height: 18px;
			background: url(../images/answer-icon.png) no-repeat 0px 0px; border-bottom: #cccccc 1px solid; padding-bottom: 8px; padding-top: 5px;
			padding-left: 27px; margin: 10px 0px 8px 0px; padding-right: 18px;
			@media only screen and (max-width: 767px) {
			 margin-left: 0 !important; padding-right: 0 !important;
			}
			&:nth-child(1) {
				display: none;
			}
		}
		h3 {
			width: 100% !important; border: 0 !important; font-weight: 600 !important; margin-bottom: 0 !important; padding-bottom: 0 !important;
			box-sizing: border-box; font-size: 13px !important; border-top: medium none; font-family: inherit; border-right: medium none; width: 100%; 
			background: url(../images/question.png) no-repeat 0px 0px; border-bottom: #cccccc 1px solid; text-transform: uppercase !important; font-weight: bold; 
			color: #e60300; padding-bottom: 8px; padding-top: 0px; padding-left: 27px; margin: 10px 0px 8px 0px; border-left: medium none; 
			line-height: 24px; padding-right: 0px; border-image: initial;
			@media only screen and (max-width: 767px) {
			 padding-right: 0 !important; margin-left: 0 !important;
			}
		}
		.well.mtop20{
			    box-sizing: border-box; margin-bottom: 20px; font-family: 'open sans'; min-height: 20px; margin-top: 20px; background-color: #f5f5f5; 
			    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px inset; border-radius: 4px; border: #e3e3e3 1px solid; padding: 19px;
		}
		.colA.row{
			margin: 0; 
			ul{
				li{
					list-style: disc; margin: 0;
					a{
						color: #004f88 !important; line-height: 19px; font-size: 13px; text-decoration: none !important; 
					}
				}
			}
		}
		ul {
			margin: 0;
		}		
		}		
	}
	&.cms-return_and_exchange_authorization{
		.page-title-wrapper {
			display: none;
		}
		h1 {
			font-size: 16px; font-family: inherit; text-transform: uppercase; font-weight: 700; color: #333333; padding-bottom: 5px; margin: 20px 0px 30px; border-bottom: #cc0000 2px solid;
			@media only screen and (max-width: 767px) {
				margin-top: 0;
			}
		}
		p {
			strong {
				line-height: 20px;
			}
			&:nth-last-child(1),
			&:nth-last-child(2) {
				display: none;
			}
		}
		table {
			tr {
				td {
					padding: 0;
				}
			}
		}
	}
	&.cms-terms-and-conditions {
		.column.main {
			.page-header {
				padding: 0 !important; margin-top: 15px !important; border-bottom: 2px solid #cc0000!important;
			}
			h1.ptitle.name{
				font-size: 15px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 0px;
			}
			p{
				line-height: 22px; 
				strong{
					a{
						color: #004f88 !important; text-decoration: none !important;
						span{
							color: #004f88 !important;
						}
					}
				}
			}
			table{
				tr{
					td{
						padding: 0;
					}
				}
			}
		}
		table {
			width: 100% !important;
			tr {
				td {
					.cds_pages_body {
						p {
							font-size: 14px; line-height: 22px; color: #666666; font-weight: normal; font-family: 'Open Sans', sans-serif !important;
							a {
								color: #004f88; font-weight: 700; line-height: 22px; font-size: 14px;
								&:hover {
									color: #9b0005;
								}
								strong {
									line-height: 22px;
								}
							}
							strong {
								span {
									font-size: 14px; line-height: 22px; color: #666666; font-weight: 700; font-family: 'Open Sans', sans-serif !important;
								}
							}
						}
						ul {
							padding-left: 40px;
							li {
								list-style: disc;
							}
						}
						br {
							display: none;
						}
					}
				}
			}
		}
		.col-md-12,
		.col-md-3.col-sm-4,
		.col-md-9.col-sm-8 {
			@media only screen and (max-width: 767px) {
				padding: 0;
			}
		}
	}
	&.cms-back-orders-policy {
		.column.main{
			.page-header{
				padding: 0; 
				h1.ptitle.name{
					font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px; 
					border-bottom: 2px solid #cc0000!important;
				}
			}
			table {
				width: 100% !important;
				tr{
					td{
						padding: 0;
						p{
							line-height: 22px;
						}
					}
				}
				ul {
					padding-left: 40px;
					@media only screen and (max-width: 767px){
						padding-left: 20px;
					}
					li {
						list-style: disc;
					}
				}
			}
		}
	}
	&.cms-buy-direct-and-save, &.cms-no-route {
		.column.main {
			padding-bottom: 20px;
			.page-header {
				padding: 0; border: 0;
				h1 {
					font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px; 
					border-bottom: #cc0000 2px solid;
					@media only screen and (max-width: 767px) {
						margin-top: 0;
					}
				}
			}
		}
		&.cms-no-route{
			#maincontent {
				padding: 0px 15px !important;
			}
			.sidebar-additional{
				display: block; margin-top: 1px !important;
			}
			.column.main{
				    padding-left: 7px;
				    @media only screen and (max-width: 767px){
				    	padding: 0;
				    }
				h1{
					font-weight: 600 !important; margin: 15px 0px 10px; 
				}
				ul.breadcrumb {
				 padding: 8px 0px; margin-bottom: 20px; list-style: none; background-color: #fff; border-radius: 0; font-size: 13px;
				}
			}
		}
	}
	&.cms-viewing-an-order,
	&.cms-connect-with-us,
	&.cms-registrations,
	&.cms-update-your-account-details,
	&.cms-email-subscription,
	&.cms-contractors,
	&.cms-apply-for-credit-account,
	&.cms-municipal,
	&.cms-industrial,
	&.cms-residential,
	&.cms-family_owned {
		.page-header {
			padding: 0; border: 0; margin-bottom: 0px;
			h1 {
				font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px; border-bottom: #cc0000 2px solid;
				@media only screen and (max-width: 767px) {
					margin-top: 0;
				}
			}
		}
		h3 {
			border-bottom: 1px solid #9b0005!important; font-size: 12px!important; font-weight: 600!important; margin: 20px 0; padding-bottom: 5px!important; text-transform: uppercase!important; 
			line-height: 21px;
		}
		.social_media.indus_main {
			ul {
				li {
					border: 1px solid #ccc; border-radius: 10px; margin: 10px 0; padding: 10px; width: 100%; display: inline-block;
					a {
						color: #004f88; text-decoration: none!important; font-size: 18px; font-weight: bold; padding: 0; display: inline-block;
						&:hover {
							color: #9b0005; text-decoration: underline!important;
						}
						img {
							display: inline-block; margin: 0 15px; height: 40px; width: 40px;
						}
					}
				}
			}
		}
		table {
			width: 100% !important;
			tr {
				td {
					padding: 0 !important;
					p {
						strong {
							a {
								color: #004f88;
								&:hover {
									color: #9b0005;
								}
							}
						}
					}
					ul {
						padding-left: 40px;
						li {
							list-style: disc;
							margin: 0;
						}
					}
				}
			}
		}
		&.cms-viewing-an-order,
		&.cms-apply-for-credit-account {
			.cds_pages_body,
			.title_bar {
				a {
					color: #004f88;
					&:hover {
						color: #9b0005;
					}
				}
			}
		}
		&.cms-update-your-account-details,
		&.cms-email-subscription,
		&.cms-municipal,
		&.cms-industrial,
		&.cms-residential {
			.column.main{
				p {
					a {
						strong {
							color: #004f88;
							&:hover {
								color: #9b0005;
							}
						}
					}
				}
				h3 {
					border: 0 !important;
				}
			}			
		}
		&.cms-contractors,
		&.cms-municipal,
		&.cms-industrial,
		{
			.ind_link.well {
				padding: 0 3px;
				ul {
					li {
						float: left; border-right: 1px solid #ddd; padding: 0px 10px; margin: 11px 0; display: inline-block;
						a {
							color: #004f88; text-decoration: none!important;
							&:hover {
								color: #9b0005; text-decoration: underline!important;
							}
						}
					}
				}
				.clear {
					height: 0;
				}
			}
			.indus_main.table-responsive {
				table {
					tr {
						td {
							ul {
								li {
									margin: 0 0 10px;
									img {
										display: inline-block; max-height: 81px; margin: 10px 15px; width: 90px;
									}
									strong {
										display: inline-block; vertical-align: top;
									}
								}
							}
						}
					}
				}
			}
			h2 {
				border: 0;
				span {
					color: #004f88 !important;
				}
			}
			&.cms-contractors {
				.column.main{
					p.contr_banner{
						margin: 0;
					}
					.cds_pages_body {
						p {
							line-height: 22px;
						}
						.cds_pages_titl{
							padding: 12px; background-color: #e6e6e6;
							.cont_title{
								strong{
									font-size: 18px; line-height: 25px; color: #336699; font-weight: 700;
								}
							}
							ul{
								li{
									list-style: none !important;
									img{
										width: 90px; height: 80px; margin: 10px 20px;
									}
									strong{
										vertical-align: middle;
									}
								}
							}
						}						
						p.as_conta{
							strong{
								font-size: 18px; line-height: 22px; color: #336699; font-weight: 700; 
							}
						}
						p.prof_mem{
							strong{
								font-size: 18px; line-height: 22px; color: #336699; font-weight: 700;
							}
						}
						.busin_cre{
							padding: 12px; background-color: #e6e6e6;
								strong{
									font-size: 18px; line-height: 25px; color: #336699; font-weight: 700;  font-size: 18px; line-height: 25px;
								}
						}
					}
					table {
						a {
							color: #004f88;
							&:hover {
								color: #9b0005; text-decoration: underline!important;
							}
						}
						tr{
							td{
								ul{									
									li{
										list-style: disc;
										strong{
											span{
												font-size: 12px; line-height: 22px; font-weight: 700; color: #333;
											}
										}
									}
								}
							}
						}
					}
					.cds_pages_body ul {
					    li{
					    	list-style: disc !important;
					    }
					}
					table.img_watab{
						tr{
							td.top_img{
								img{
									width: 48px; height: 38px; margin-left: 15px; margin-right: 15px;
								}
							}
							td.first_img{
								img{
									width: 133px; height: 28px;
								}
							}
							td.sec_img{
								img{
									width: 74px; height: 26px; margin-left: 15px; margin-right: 15px;
								}
							}
							td.thrd_img{
								img{
									width: 87px; height: 33px;
								}
							}
							td.fourth_img{
								img{
									width: 127px; height: 30px;
								}
							}
							td.fifth_img{
								img{
									width: 92px; height: 33px; margin-left: 15px; margin-right: 15px;
								}
							}
						}
					}
					p.con_contact{
						strong{
							font-size: 16px; line-height: 22px; color: #336699; font-weight: 700;
						}
					}
					ul.cont_ls{
						li{
							strong{
								font-size: 12px; line-height: 22px; 
							}
						}
					}
				}
			}
			&.cms-municipal {
				.column.main {
					padding-bottom: 0px;
					p.ban_mun{
						margin: 0;
					}
					.cds_pages_body {
						p{
							font-size: 14px; line-height: 22px;
						}
						p.mun_title{
							strong{
								font-size: 20px; line-height: 22px; font-weight: 700; color: #000;
							}
						}
						h2 {
							margin: 10px 0 0; text-transform: uppercase; font-size: 18px; line-height: 20px; font-weight: 700; color: #004f88;
						}
					}
				}
			}
		}
		&.cms-update-your-account-details,
		&.cms-municipal {
			.column.main {
				.page-header.bluestrip_title {
					margin-bottom: 17px;
				}
			}
		}
		&.cms-family_owned,
		&.cms-connect-with-us,
		&.cms-registrations,
		&.cms-email-subscription,
		&.cms-industrial {
			.column.main {
				.page-header {
					margin-bottom: 0px;
				}
			}
		}
	}
}
.cms-industrial{
	.column.main{
		.ind_link.well {
			ul {
				padding-bottom: 40px;
				li{
					a{
						color: #004f88; text-decoration: none!important;
						&:hover{
							color: #9b0005; text-decoration: underline!important;
						}
					}
				}
			}
		}
		p{
			line-height: 22px;
			&.banner_par{
				margin: 0 !important;
			}
			&.indus_title_pmp{
				font-size: 20px; line-height: 22px; font-weight: 700; color: #000;
				strong{
					line-height: 22px;
				}
			}
		}
		.li_supp{
			padding: 12px; background-color: #f5f5f5;
			p{				
				strong{
					font-size: 14px; line-height: 20px; font-weight: 700;
				}
			}
			img{
				margin-left: 15px; margin-right: 30px; float: left; width: 150px; height: 130px;
			}
		}
		.ther_cooling{
			padding: 12px; background-color: #f5f5f5;
			p{
				strong{
					line-height: 20px;
				}
			}
		}
	}
}

/*faqs page satrts*/

.cms-faq,
.cms-faq-quick-tips {
	font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; font-weight: 400;
	.column.main {
		.page-header {
			border: 0;
		}
		.clear {
			font-size: 0;
		}
		.white_box1 {
			@media only screen and (max-width: 767px) {
				border: 0;
			}
			.table {
				th,
				td {
					white-space: unset !important;
				}
				tbody {
					tr {
						td {
							border: 0;
							@media only screen and (max-width: 767px) {
								padding: 0;
							}
							.repair_parts_help_links {
								white-space: unset;
								ul {
									padding-left: 40px;
									li {
										list-style: disc;
										margin: 0;
										a {
											color: #004f88;
											&:hover {
												color: #9b0005; text-decoration: underline!important;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		h2 {
			font-size: 16px!important; font-weight: bold; margin-bottom: 0!important; margin-top: 20px; padding-bottom: 5px; text-transform: uppercase; color: #333;
		}
		h3 {
			background: url(../images/question.png) no-repeat scroll 7px 0 rgba(0, 0, 0, 0); color: #e60300; font-weight: bold; line-height: 24px; margin: 10px 0 8px 0px; padding: 0 0 8px 37px; 
			width: 100%; font-size: 12px!important; font-weight: 600!important; padding-bottom: 5px!important; text-transform: uppercase!important;
			@media only screen and (max-width: 767px) {
				margin-left: 0;
			}
		}
		p {
			background: url(../images/answer-icon.png) no-repeat scroll 7px 0 rgba(0, 0, 0, 0); border-bottom: 1px solid #ccc; margin: 10px 0 8px 0px; 
			padding: 5px 18px 8px 37px; width: 100%; font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; font-weight: 400; line-height: 20px;
			@media only screen and (max-width: 767px) {
				margin-left: 0; margin-right: 0; padding-right: 0; width: 100%;
			}
		}
	}
	&.cms-faq-quick-tips {
		.white_box1 {
			table {
				tr {
					td {
						padding: 0;
						.cds_pages_body {
							.colA{
								margin: 10px 0;
							}
							ul {
								margin-left: 40px;
								li {
									margin: 0; list-style: disc;
									a {
										color: #004f88; text-decoration: none!important;
										&:hover {
											color: #9b0005; text-decoration: underline!important;
										}
									}
								}
							}
							p {
								width: 100%;
								a {
									color: #004f88;
									&:hover {
										color: #9b0005; text-decoration: underline;
									}
								}
							}
						}
					}
				}
			}
			h2.plc-order {
				span {
					color: #004f88 !important;
				}
			}
		}
	}
}


/*review page starts here*/

.cms-product-reviews,
.cms-technical-support,
.cms-placing-an-order,
.cms-track-order-status,
.cms-shipping-and-delivery,
.cms-customer-feedback,
.cms-product-manuals,
.cms-faq-quick-tips {
	.page-header {
		border: 0 !important;
		h1 {
			font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px !important; 
			border-bottom: #cc0000 2px solid;
			@media only screen and (max-width: 767px) {
				margin-top: 0;
			}
		}
	}
	p {
		font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; font-weight: 400; line-height: 20px; margin-bottom: 10px;
	}
	.table-responsive {
		@media only screen and (max-width: 767px) {
			border: 0;
		}
	}
	&.cms-technical-support {
		.column.main{
			h1.ptitle.name{
				font-size: 15px; color: #333; line-height: 17px; font-weight: 600; 
			}
			h2 {
				font-size: 16px !important; line-height: 18px !important; margin-top: 0 !important;
			}
			ul.tech_support {
				@media only screen and (max-width: 768px) {
					margin-right: 0 !important; width: 100% !important;
				}
				li {
					margin: 0;
					&:before {
						content: ''; background: url(../images/arroe_new2.png) no-repeat center center; width: 12px; height: 11px; background-size: 100%; margin: 7px 5px 0 -15px; float: left;
					}
				}
			}
			.secure_image {
				ul {
					margin: 0 -10px;
					li {
						float: left; width: 50%; padding: 0 10px;
						img {
							border: 1px solid #ccc; padding: 20px 0;
						}
					}
				}
			}
			table{
				tr{
					td{
						padding: 0 !important;
						.cds_pages_body{
							h2{
								font-family: inherit; text-transform: uppercase; font-weight: 600; color: #4476ae; padding-bottom: 10px; padding-top: 0px; 
								padding-left: 0px; margin-top: 20px; line-height: 1.1; padding-right: 0px; font-size: 16px; margin-bottom: 0 !important;
							}
							p{
								margin: 0px 0px 10px; font-size: 13px; color: #7b7b7b; line-height: 20px;
								span{
									box-sizing: border-box; font-size: 13px; color: #7b7b7b; line-height: 20px;
								}
								&.pump_sep{
									font-size: 13px; color: #4476ae !important; line-height: 20px;
								}
							}
							ul{
								list-style-type: none !important; box-sizing: border-box; width: 325px; float: left; margin: 10px 10px 10px 0px; 
								background-color: #4476ae; border-radius: 3px; padding: 10px;
								li{
 									background: url(images/arroe_new2.png) no-repeat 0px 5px; padding-left: 16px; color: #fff; font-size: 14px; line-height: 22px;
 									span{
 										color: #fff; font-size: 14px; line-height: 22px;
 									}
								}
							}
						}
						&.call_dec{
							font-size: 18px; float: left; color: #4476ae; padding: 10px 0 !important; line-height: 22px;
						}
					}
				}
			}
		}
	}
	table {
		width: 100%!important;
		&.feedback_table {
			tr {
				td {
					label {
						@media only screen and (max-width: 767px) {
							width: 100% !important; margin: 0 !important;
						}
					}
				}
			}
		}
	}
	&.cms-placing-an-order,
	&.cms-track-order-status,
	&.cms-shipping-and-delivery {		
		.column.main{
			table {
			width: 100%!important;
			tr {
				td {
					h2 {
						strong {
							color: #004f88 !important;
						}
					}
				}
			}
		}
		.indus_main{
			table{
				td{
					padding: 0;
				}
			}
			h1{
				color: #000;
			}
			h2{
				box-sizing: border-box; margin-bottom: 0px !important; font-size: 16px !important; font-family: inherit; text-transform: uppercase; font-weight: bold; 
				color: #333333; padding-bottom: 5px; margin-top: 20px;
			}
			h3{
			box-sizing: border-box; margin-bottom: 0px; font-size: 15px; font-family: 'Open Sans', sans-serif; white-space: normal; word-spacing: 0px; 
			text-transform: uppercase; font-weight: 600; color: #666666; padding-bottom: 10px; font-style: normal; orphans: 2; widows: 2; margin-top: 20px; 
			letter-spacing: normal; line-height: 1.1; background-color: #ffffff; text-indent: 0px; font-variant-ligatures: normal; font-variant-caps: normal; 
			-webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; padding-bottom: 5px;
			}
			p{
			box-sizing: border-box; font-size: 14px; line-height: 22px; font-family: 'Open Sans', sans-serif; white-space: normal; word-spacing: 0px; text-transform: none; 
			font-weight: 400; color: #333; font-style: normal; margin: 0px 0px 10px; orphans: 2; widows: 2; letter-spacing: normal; background-color: #ffffff; 
			text-indent: 0px; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-style: initial; 
			text-decoration-color: initial;
			}
			span{
				color: #333;
			}
			strong{
				font-weight: bold;
			}
		}
		}
	}
	&.cms-placing-an-order{
		.column.main{
			.page-header{
			    h1.ptitle.name{
			    	color: #000 !important;
			    }
			}
			h3{
				border-bottom: 1px solid #9b0005!important; font-size: 12px!important; font-weight: 600!important; padding-bottom: 5px!important; 
				text-transform: uppercase!important; margin-bottom: 20px; color: #333 !important;
			}
		}		
	}
	&.cms-track-order-status {		
		.column.main{
			table {
				tr {
					td {
						padding: 0; font-size: 14px; 
						strong{
							font-weight: 700;
						}
					}
				}
			}
			.page-header{
				border-bottom: 2px solid #cc0000!important; box-sizing: border-box; font-size: 17px; line-height: 19px; font-family: inherit; text-transform: uppercase;
				 font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px !important;
			}
			.cds_pages_body{
				a{
					color: #0000ff; font-size: 14px; line-height: 20px; 
				}
				h3{
					margin: 20px 0; padding-bottom: 5px;border-bottom: 1px solid #9b0005!important; font-size: 12px!important; font-weight: 600!important; 
					padding-bottom: 5px!important; text-transform: uppercase!important;
				}
			}
			table.statuses_list{
				tr{
					td{
						padding: 10px 0; vertical-align: middle;
					}
				}
			}
		}
	}
	&.cms-shipping-and-delivery {
		h1 {
			font-size: 15px;
			@media only screen and (max-width: 767px) {
				margin-top: 0;
			}
		}
		.column.main {
			ul {
				padding-left: 40px; margin-bottom: 10px !important;
				li {
					list-style: disc; margin: 0;
				}
			}
			span{
				font-size: 14px; color: #333; line-height: 22px; 
			}
			h3{
				margin: 20px 0 !important; border-bottom: 1px solid #9b0005!important;
				strong{
					font-size: 12px !important; line-height: 13px; border: 0 !important; padding: 0 !important; font-weight: 600; color: #333;
				}
			}
		}
	}
	&.cms-product-reviews {
		.column.main{
				p {
				&:nth-child(1) {
					margin: 0;
				}
			}
		}
	}
	&.cms-customer-feedback {
		.page-header {
			padding-bottom: 0;
		}
		#feedbackForm>div {
			padding: 0 !important; margin: 0;
			.form-group {
				label {
					margin-bottom: 15px; font-size: 14px; line-height: 20px; color: #333; font-weight: normal;
					.astric {
						color: #f00 !important;
					}
				}
				input {
					margin-bottom: 15px;
				}
				span {
					font-weight: normal; font-size: 14px; line-height: 20px; color: #ff0000 !important;
				}
			}
			table {
				tr {
					td {
						color: #333; font-weight: normal; font-size: 14px; line-height: 20px; padding: 7px 10px;
						&.feed_q {
							background: #f8f8f8; border-bottom: 1px solid #e8e8e8; border-left: 2px solid #ccc; color: #555 !important; font-weight: 600; padding: 0 10px; font-size: 14px; 
							line-height: 20px; font-weight: 600px; font-family: 'Open Sans', sans-serif !important;
						}
						textarea {
							width: 78%;
							@media only screen and (max-width: 767px) {
								width: 100%;
							}
						}
						&.main {
							span {
								background: url(../images/vvc_display.jpg) !important; margin-top: 15px !important; font-size: 20px; height: 30px; text-align: center; letter-spacing: 5px; 
								color: #222f51; display: inline-block; width: 110px; margin-bottom: 12px; margin-top: 5px; line-height: 30px;
							}
						}
						&.sugg_q.nobb {
							padding-left: 0 !important;
							.astric {
								color: #f00 !important;
							}
						}
						#ff_user_captha {
							height: 26px; width: 47%; margin: 0;
						}
					}
				}
			}
			.suggestion-submit {
				font-size: 14px; padding: 0px 4px;
			}
		}
	}
	&.cms-product-manuals {
		.column.main {
			.page-header {
				padding: 0;
			}
			table {
				tr {
					td {
						padding: 0 !important;
					}
				}
			}
			h3 {
				strong {
					font-size: 12px; font-weight: 700; line-height: 21px; color: #333;
				}
			}
			p {
				strong {
					font-size: 14px; font-weight: 700; line-height: 21px; color: #333;
				}
				a {
					color: #006bb4; text-decoration: none;
					&:hover {
						color: #9b0005; text-decoration: underline!important;
					}
				}
			}
			.cds_pages_body {
				h3 {
					&:nth-child(1) {
						strong {
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}

.cms-change-or-cancel-order {
	.column.main {
		.title_bar{
			padding: 0; 
			.page-header{
				font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px; 
				border-bottom: 2px solid #cc0000!important; line-height: 19px;
			}
		}
		.indus_main {
			p {
				font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; font-weight: 400; line-height: 22px;
			}
			h1{
				margin: 20px 0;    font-size: 12px !important; text-transform: uppercase !important; font-weight: 600 !important; padding-bottom: 5px !important;
				line-height: 21px;
				strong{
    			font-weight: bold;
				}
			}
		}
	}
}

#myModalcontactus,
.cms-contact-us {
	.mtop10 {
		margin-top: 10px; margin-bottom: 20px;
	}
	.panel {
		.panel-heading {
			background: #868686 !important; padding: 10px 15px; border-bottom: 1px solid transparent; border-top-left-radius: 3px; border-top-right-radius: 3px;
			h3 {
				margin: 0; font-size: 20px; line-height: 22px; color: #fff;
			}
		}
		.panel-body {
			.cont-box {
				width: 100%;
			}
			h4 {
				font-size: 17px; color: #9b0005!important; font-weight: 700; line-height: 19px;
			}
			p.mbt30,
			p.mbt20 {
				a {
					color: #004f88; cursor: pointer;
					&:hover {
						color: #9b0005; text-decoration: underline;
					}
				}
			}
		}
	}
	.help_topics {
		ul.red-bullet-link {
			position: relative;
			top: -50px;
			@media only screen and (max-width: 991px) {
				top: -20px;
			}
			@media only screen and (max-width: 767px) {
				top: 0;
			}
			li {
				margin: 5px 15px; display: block;
				&:before {
					content: "\f105"; font: normal normal normal 14px/1 FontAwesome; color: #9b0005;
				}
				em {
					display: none;
				}
				a {
					color: #004f88; padding-left: 10px;
					&:hover {
						color: #9b0005; text-decoration: underline;
					}
				}
			}
		}
	}
	.col-sm-6 {
	padding: 0; width: 48%; margin-right: 18px;
		@media only screen and (max-width: 767px) {
			padding: 0 !important; margin: 0; width: 100%;
		}
		&:last-child{
			margin-right: 0; margin-left: 10px;
			@media only screen and (max-width: 767px){
				margin: 0;
			}
		}
	}
	&.modal.fade.in {
		background: rgba(0, 0, 0, 0.4);
		.modal-dialog {
			@media only screen and (max-width: 767px) {
				margin: 0 15px !important; width: auto !important;
			}
			.modal-header {
				h4.modal-title {
					font-size: 18px;
				}
				a.close {
					width: 22px; height: 22px; background: url(../images/topnav_close_1.png); background-size: contain; display: block; opacity: 1;
				}
			}
			form#simple_contact_form {
				.form-group {
					display: inline-block; width: 100%;
					label {
						color: #333 !important; font-weight: normal; font-size: 14px;
						.astric {
							color: #f00 !important;
						}
					}
					input,
					select {
						height: 34px;
					}
					textarea#comment {
						border-radius: 0; resize: vertical;
					}
					input[type="checkbox"] {
						vertical-align: middle; margin: -2px 4px 0 0px;
					}
					button.btn.btn-danger.contact-submit {
						border-radius: 0; background: #9b0005!important;
					}
					&:nth-last-child(3) {
						span {
							&:nth-child(2) {
								background: url(../images/vvc_display.jpg) !important; margin-top: 15px !important;
							}
						}
					}
				}
			}
		}
	}
}

.cms-faq {
	.page-header {
		padding: 0; border: 0;
		h1 {
			font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px; border-bottom: #cc0000 2px solid;
			@media only screen and (max-width: 767px) {
				margin-top: 0;
			}
		}
	}
}

.sidebar .widget.block:not(:last-child),
.sidebar .widget:not(:last-child),
.sidebar .widget.block:not(:last-child),
.sidebar .widget:not(:last-child) {
	margin-bottom: 0;
}

.cms-website-suggestions {
	.title_bar {
		padding: 0 15px;
		@media only screen and (max-width: 767px) {
			padding:0;
		}
		.bluestrip_title {
			h2 {
				margin-top: 20px; font-size: 16px; line-height: 18px; text-transform: uppercase; font-weight: 700;
			}
		}
	}
	.form-horizontal {
		.col-sm-12 {
			.form-group {
				margin-bottom: 30px;
				label {
					font-size: 14px; line-height: 20px; color: #333333; font-weight: 400; font-family: @OpenSans;
					.red-txt {
						color: #f00;
					}
				}
				input {
					font-size: 14px; line-height: 20px; color: #555555; font-weight: 400;
				}
				.sugg_email_txt {
					color: #f00; font-size: 14px; line-height: 20px; font-weight: 400;
				}
				span.sugg_email_txt {
					@media only screen and (max-width: 767px) {
						padding: 15px 0; display: block;
					}
				}
			}
			.col-sm-6 {
				@media only screen and (max-width: 767px) {
					padding: 0;
					span.sugg_email_txt {
						padding: 15px;
					}
				}
			}
		}
		.panel.panel-default {
			.panel-heading {}
			.panel-body {
				.co-md-12 {
					.col-sm-1 {
						input {
							width: 13px; height: 13px; border: 1px solid #b8b8b8; 
						}
					}
					label {
						font-weight: 400; color: #333333 !important; margin-bottom: 15px;
					}
				}
				select {
					margin-bottom: 15px; border: 1px solid #b8b8b8; background: url(../images/down-arrow.svg) no-repeat; background-size: 6px; background-position: 99% 50%;
				}
				textarea {
					border-radius: 0; margin-bottom: 15px; border: 1px solid #b8b8b8;
				}
			}
		}
		.table-responsive {
			table {
				tr {
					td {
						table {
							tr {
								td {
									padding: 0;
									.astric {
										color: #ff0000;
									}
									#ws_user_captha {
										width: 100%; max-width: 340px; height: 30px;
									}
								}
							}
						}
					}
					td.main {
						font-family: @OpenSans; padding-bottom: 7px; padding-left: 16px;
					}
				}
			}
		}
		.pull-left {
			margin-bottom: 20px;
		}
	}
}

.cms-residential {
	.column.main {
		.ind_link.well {
			padding: 0 3px;
			ul {
				/*padding-left: 30px;*/
				li {
					float: left; border-right: 1px solid #ddd; padding: 0px 10px; margin: 11px 0; display: inline-block;
					a {
						color: #004f88; text-decoration: none!important;
						&:hover {
							color: #9b0005; text-decoration: underline!important;
						}
					}
				}
			}
		}
		.bckgrnd-box {
			background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset; margin-bottom: 20px; min-height: 20px; padding: 19px; 
			overflow: hidden; width: 100%;
			img {
				display: inline-block;
			}
		}
		.cds_pages_body {
			.plain-box {
				min-height: 260px !important; margin: 10px 0 !important;
			}
		}
		.cds_pages_body{
			p{
				line-height: 22px;
				strong{
					line-height: 22px;
				}
				&.irri_pmp{
					img{
						float: left; margin: 15px; width: 136px; height: 106px;
					}
				}
				&.pro_ser{
					img{
						margin: 10px 20px; float: left; width: 88px; height: 123px;
					}
				}
				&.com_sys{
					img{
						float: left; width: 108px; height: 134px; margin-left: 15px; margin-right: 15px;
					}
				}
				&.sta_rt{
					img{
						margin: 20px 30px; float: left; width: 95px; height: 95px;
					}
				}
				&.pond_pmp{
					img{
						float: left; margin: 10px 15px; border-width: 0px; border-style: solid;
					}
				}
			}
		}
		ul{
			li{
				line-height: 22px;
			}
		}
	}
}

.cms-pump-repair-with-free-service-pickup-delivery {
	.page-header {
		border: 0 !important;
		h1 {
			font-size: 17px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; padding-bottom: 5px; margin: 15px 0px 0px;
			border-bottom: #cc0000 2px solid;
			@media only screen and (max-width: 767px) {
				margin-top: 0;
			}
		}
	}
	.freeship_page {
		h2 {
			margin: 0 0 5px; line-height: 0;
			span {
				font-size: 16px!important; font-weight: bold; margin-bottom: 0!important; padding-bottom: 5px; text-transform: uppercase; color: #333; line-height: 18px;
			}
		}
	}
	.cds_pages_body {
		p {
			font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; font-weight: 400;
		}
	}
	table {
		width: 100% !important;
		td {
			padding: 0 !important;
		}
	}
}


.page-template-default{
	#primary{
		display: inline-block;
		h2.page-title{
				text-align: left; color: #333333; position: relative; margin-bottom: 25px !important; width: 100%; overflow: hidden; border-bottom: 1px solid #ccc;
				width: 100%; font-size: 16px; line-height: 16px; font-family: 'Montserrat', sans-serif !important; font-weight: 700; padding-bottom: 5px;
			&:after{
				display: none;
			}
		}
		.page-content{
			.faq-accordion{
				.faq-main{
					h4{
						font-size: 14px !important; color: #333 !important; font-family: 'Montserrat', sans-serif !important; font-weight: 700 !important; 
					}
				}
			}
		}
	}
}

.cms-about-us{
	.column{
		.title_bar{
			box-sizing: border-box; font-size: 14px; font-family: 'Open Sans', sans-serif; white-space: normal; word-spacing: 0px; text-transform: none;
			font-weight: 400; color: #666666; font-style: normal; orphans: 2; widows: 2; letter-spacing: normal; background-color: #ffffff; text-indent: 0px;
			font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-style: initial; 
			text-decoration-color: initial;
			.bluestrip_title{
				box-sizing: border-box; border-bottom: #9b0005 2px solid; padding-bottom: 9px; margin: 0px;
				.ptitle{
					box-sizing: border-box; font-size: 15px; font-family: inherit; text-transform: uppercase; font-weight: 600; color: #333333; 
					padding-bottom: 5px; margin: 0px; line-height: 1.1;
				}
			}
			.clear{
				box-sizing: border-box; overflow: hidden; height: 1px; clear: both; display: inline !important;
			}
		}
		.indus_main{
			box-sizing: border-box; font-size: 14px; font-family: 'Open Sans', sans-serif; white-space: normal; word-spacing: 0px; text-transform: none; 
			font-weight: 400; color: #666666; font-style: normal; orphans: 2; widows: 2; letter-spacing: normal; line-height: 22px; 
			background-color: #ffffff; text-indent: 0px; font-variant-ligatures: normal; font-variant-caps: normal;
			-webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;
			table{
				box-sizing: border-box; width: 738px; border-collapse: collapse; border-spacing: 0px; background-color: transparent;
				tbody{
					box-sizing: border-box;
					tr{
						box-sizing: border-box;
						td{
							box-sizing: border-box; padding: 0px;
							p{
								box-sizing: border-box; margin: 0px 0px 10px; color: #333333;
							}
							span{
								color: #333333;
							}
							strong{
								box-sizing: border-box; font-weight: bold;
							}
							img{
								float: right;
							}
							iframe{
								margin-left: auto; display: block; margin-right: auto;
							}
						}
					}
				}
			}
		}
	}
}