/* variables, Mixins & Fonts */
@import '../dcw_variables.less';

/* 404 page design 
---------------------------------------*/
.pg_errs {
    text-align: center; padding: 50px 0px 50px; width: 100%; max-width: 375px; margin: 0 auto;
    h1{
      color: @clr_black; font-size: 100px; font-family: @Oswald; font-weight: 700; text-align: center; line-height: 100px; margin: 0px 0px 15px;
    }
    h2{
      color: @clr_black; font-family: @Montserrat; font-size: 30px; font-weight: 700; text-align: center; margin: 0px 0px 30px;
    }
    p{
      color: @clr_black; font-family: @Montserrat; font-size: 18px; line-height: 24px; text-align: center;
    }
    a{
      height: 50px; background: @clr_black; font-family: @Montserrat; font-size: 18px; line-height: 50px; display: inline-block; 
      margin-top: 25px; color: @clr_white; padding: 0 25px;
      .transition(all 0.2s ease-in-out);
      &:hover{
        background: @clr_black;
      }
    }
}
.cms-no-route{
  .columns .sidebar-additional{
    display: none; 
  }
}
