/* variables, Mixins & Fonts */
@import '../dcw_variables.less';

/* Contact Us page design 
===============================*/
.contact_us_page{
	margin: 0 -15px;
	.contact_left,
	.contact_right{
		width: 50%; float: left; padding: 0 15px;
	}

	.contact_left{

	}
	.contact_right{

	}
	.clear;
}