@media only screen and (max-width: 767px){
  /*.table_header{
    display: block; width: 100%;
  }*/
  .table_header th.table_header_logo{
    width: 100%; display: block;
  }
  /*.table_header th.table_header_details{
    display: block; width: 65%;
  }
  .table_header th.table_header_invoice{
    display: block; width: 30%; text-align: center;
  }*/
}

@media only screen and (max-width: 567px){
  .table_header{
    display: block; width: 100%;
  }
  .table_header th.table_header_logo{
    display: block; width: 100%;
  }
  .table_header th.table_header_details{
    display: block; width: 100%;
  }
  .table_header th.table_header_invoice{
    display: block; width: 100%; text-align: center;
  }
  /*.table_addresses{
    display: block; width: 100%;
  }
  .table_addresses table{
    display: block; width: 100%; margin-bottom: 15px;
  }
  .table_addresses table th, .table_addresses table td {
    display: block; width: 100%;
  }*/
}

.price_foot table, .price_foot th table td{
  border: none;
}