@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* Mini Cart Design
*****************************/
/* variables, Mixins & Fonts */
/* Mini Search Design
*****************************/
/* variables, Mixins & Fonts */
/* Mini Cart Design
*****************************/
/* variables, Mixins & Fonts */
header .header.content {
  float: left;
  padding: 15px 20px 0;
}
header .header.content .logo {
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
}
header .panel {
  float: right;
  box-shadow: none !important;
  height: 100px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
}
header .sections.nav-sections {
  float: left;
  margin: 0;
  background: transparent;
  height: 100px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: center;
  align-items: center;
  width: 50%;
}
header .sections.nav-sections .section-items .section-item-content nav.navigation {
  background: transparent;
}
header .sections.nav-sections .section-items .section-item-content nav.navigation ul li a {
  color: #4598da;
}
header .sections.nav-sections .section-items .section-item-content nav.navigation ul li a:hover {
  border-color: #4598da;
}
