/* variables, Mixins & Fonts */
@import '../dcw_variables.less';

/* Top Banner Slider  
********************************************************/
@import 'dcw_banner_slider.less';

/* Home page blog section
===================================*/
.homepage-blog{
	ul{
		margin:0 -15px; 
		li{
			width: 25%; float: left; padding: 0 15px; margin-bottom: 30px;
			@media only screen and (max-width: 991px){
				width: 33.3%;
			}
			@media only screen and (max-width: 767px){
				width: 50%;
			}
			@media only screen and (max-width: 480px){
				width: 100%;
			}
		}
		.clear;
	}
}

.post-content{
	background: @clr_white; border: solid 1px fade(@clr_black, 20%); border-radius: 5px; overflow: hidden;
	.transition(all 0.2s ease-in-out);
	.post-description{
		padding: 0 15px 15px;
		.post-ftimg-hld{
			margin: 0 -15px 15px;
			a{ 
				padding-bottom: 60%; display: block; position: relative; overflow: hidden;
				img {
					position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;
					.transition(all 0.2s ease-in-out);
				}
			}
		}

		.post-title{
			padding: 5px 0; 
			a.post-item-link{
				color: @clr_black; font-size: 14px; font-weight: 700;
			}
		}

		.post-posed-date{
			color: @clr_black; font-size: 10px; padding: 5px 0;  text-transform: uppercase;
		}
		.post-text-hld{
			color: @clr_black; font-size: 14px; margin-bottom: 15px;
		}
	}
	&:hover{
		box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
		.post-description .post-ftimg-hld a img{
			.transform(scale(1.3));
		}

	}
}