/* variables, Mixins & Fonts */
@import '../dcw_variables.less';

/* Banner Slider 
------------------*/
.aw-rbslider-container{
  width: 100% !important; max-width: 100%; position: relative; margin:0 !important;
  ul{
    li{
      margin: 0;
    }
  }
  img{
    width: 100%; height: auto; min-height: 320px; object-fit: cover;
  }
  .home_slider_info{
    position: absolute; top: 50%; left: 50%;
    .transform(translate(-50%, -50%));
    h2{
      span{
        display: block;
      }
    }
  }

  /* Arrows
  ----------------------------*/
  .uk-slidenav{
    display: block; position: absolute; top: 50%; margin: 0;
    height: auto; line-height: 0; width: 50px; height: 50px; 
    .transform(translateY(-50%));
    &:before{
      content:''; display: block;width: 100%; height: 100%; 
      background-size: auto 100% !important; background-position: center !important;
    }
    &.uk-slidenav-previous{
      left: 10px;
      &:before{
        background: url(../images/Banner_slider_left.png) no-repeat; 
      }
    }
    &.uk-slidenav-next{
      right: 10px;
      &:before{
        background: url(../images/Banner_slider_right.png) no-repeat; 
      }
    }
  }

  /* Dots
  ----------------------------*/
  .uk-dotnav {
    .displayFlex(flex);
    li{
      margin: 0 5px; padding: 0;
    }
  }

  .clear;
}


._home_sliderbanner_home_content_top{
  /*min-height: 330px;*/ background: fade(@clr_black, 30%);
}

._home_sliderbanner_home_menu_bottom{
  min-height: 320px; background: fade(@clr_black, 30%);
}



/* For IE Browser
-------------------------------------------------*/
_:-ms-lang(x), ._home_sliderbanner_home_content_top,
_:-ms-lang(x), ._home_sliderbanner_home_menu_bottom{
  min-height: 0;
  /* IE edge */
}

 _:-ms-fullscreen, ._home_sliderbanner_home_content_top,
 _:-ms-fullscreen, ._home_sliderbanner_home_menu_bottom{
  min-height: 0;
  /* IE edge */
}
