/* variables, Mixins & Fonts */
@import '../dcw_variables.less';

.main_navigation{
	.nav-sections{
		margin: 0; background: none; float: right;
		@media only screen and (min-width: 768px){
			/*margin: 10px 0;*/
		}
		@media only screen and (max-width: 991px) and (min-width:768px){
			width:100%; float: none; display: inline-block; 
		}
		@media only screen and (max-width: 991px){
			background: @clr_white;
		}


		nav, nav.navigation{
			background: none; display: inline-block;
			@media only screen and (max-width: 767px){
				display: block;
			}
			ul{
				padding: 0; 
				li{
					position: static;
					a{
						line-height: 30px; padding: 10px 15px;
					}
				}
			}
		}
	}
}