/* variables, Mixins & Fonts */
@import '../dcw_variables.less';

/* Mini Cart Design
*****************************/
@import 'dcw_main_navigation.less';

/* Header main 
---------------------------------------*/
body{ 
	padding-top: 144px; 
	@media only screen and (max-width: 991px){
		padding-top: 197px; 
	}
	@media only screen and (max-width: 767px){
		padding-top: 80px; 
	}

}
header.page-header{
	position: fixed; top: 0; left: 0; width: 100%; z-index: 9; background: @clr_white; box-shadow: 0 1px 5px 0 fade(@clr_black, 40%); margin-bottom: 0;

	.compare.wrapper{
		display: none;
	}

	/* Header content 
	---------------------------------------*/
	.header.content{
		width: 100%; max-width: 1366px; padding:15px; margin: 0 auto; 

		/* Toggle button 
		-----------------------------------*/
		.nav-toggle{
			position: static; float: left; box-sizing: border-box; padding: 10px; height: 50px; width: 50px;
			&:before{
				line-height: 30px; vertical-align: top; color: @clr_black; 
			}
		}

		/* Logo 
		-----------------------------------*/
		.logo{ margin: 0; }

		/* Mini cart 
		-----------------------------------*/
		.mini_cart;

		/* Main navigation 
		-----------------------------------*/
		.main_navigation;

		/* Mini Search
		-----------------------------------*/
		.miniSearch;

		.clear;
	}
}
