/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* PLP Listing page 
======================================*/

.page-products .columns{
  padding: 0; 
}
.sidebar.sidebar-additional{
  /*display: none;*/ margin-top: 0 !important;
  .block.block-compare, .block.block-wishlist, .block.block-reorder{
    display: none;
  }
}

/*   PLP search page 
=================================*/

.nsearch-index-index{
  padding: 0 15px;
  .page-title-wrapper{
    display: none;
  }
  .sidebar.sidebar-additional{
    margin-top: 1px !important;
  }
  .checkbox{
    display: none !important;
  }
  #amasty-shopby-product-list{  
    .toolbar-products{
      padding-top: 2px;
    }
  }
}

/* Template layouts
======================================*/
body{
  .columns{
    z-index: auto !important; 
    .sidebar{
      width: 25%; margin-top: 32px; padding-right: 23px;
      @media only screen and(max-width: 1024px){
        width: 30%;
      }
      @media only screen and(max-width: 767px){
        margin-top: 15px; width: 100% !important; display: block; padding-right: 0;
      }
    }
    .column{
      width: 75% !important;
      @media only screen and(max-width: 1024px){
        width: 70% !important;
      }
      @media only screen and(max-width: 767px){
        width: 100% !important; display: block;
      }
    }
  }
  &.page-layout-1column{
    .column.main{
      width: 100% !important; 
    }
  }
  &.page-layout-2column{
    .column.main{
      width: 80%; 
      @media only screen and (max-width: 991px){
        width: 70%;
      }
      @media only screen and (max-width: 767px){
        width: 100%; float: none; display: block;
      }
    }
    .sidebar{
      width: 20%; 
      @media only screen and (max-width: 991px){
        width: 30%;
      }
      @media only screen and (max-width: 767px){
        width: 100%; float: none; display: block;
      }
    }
  }
}


body.catalog-category-view{

	/* Left Column 
	=======================================*/
	.column.main{
    @media only screen and (max-width: 991px) and (min-width: 768px){
      width: 70%;
    }
	}


	/* right Column 
	=======================================*/
	.sidebar{
    @media only screen and (max-width: 991px) and (min-width: 768px){
      width: 30%;
    }
	}
	
}

/* PLP page toolbar
======================================*/
.toolbar-products{
  position: static !important; display: block;/* border-bottom: dashed 1px fade(@clr_black, 40%); */padding: 15px 0 0; margin-bottom: 0px;
  .modes{
    strong[title=Grid], strong[title=List],
    a[title=List], a[title=Grid] {
      color: @clr_gray; background: fade(@clr_black, 30%); box-shadow: none; border: none; border-radius: 0; vertical-align: top; margin-right: 5px;
      &.active{
        background: @clr_black; color: @clr_white;
        &:before{
          color: @clr_white;
        }
      }
    }
  }
}


body.filter-active{
  @media only screen and(max-width: 767px){
    overflow: hidden;
    .page-wrapper{
      height: auto; margin: 0 !important; visibility: visible;
    }
    .page-header{
      display: block;
    }
    .filter.active .filter-title{
      position: static;
      strong{
        background-color: #f0f0f0; border: 1px solid #cccccc;
        &:before{
          content: ''; background: url('../images/forbidden-mark.png') !important;
          background-repeat: no-repeat !important; background-size: 20px !important; width: 20px; height: 20px; display: inline-block;
        }
      }
    }
    .filter.active .cat_land{

    }
    .filter.active .filter-options{
      width: 100%; max-width: 300px; height: 100%; min-height: 300px; position: absolute; top: 0; left: 0 !important;
    }
  }
} 

.page-with-filter.page-products{
  .category-view{
    display: none;
  }
  .columns{
    padding: 0 15px;
    .sidebar{
      .block.filter{
        margin-bottom: 0; 
        .filter-title{
          @media only screen and(max-width: 767px){
            background: #fff; border: 0; width: 15%; height: auto;float: left;
            strong{
              float: right;font-size: 0; float: none; width: 40px; height: 40px; padding: 8px;
              &:before{
                content: ''; background: url('../images/filter-tool-black-shape.png');
                background-repeat: no-repeat; background-size: 20px; width: 20px; height: 20px; display: inline-block;
              }
              &:after{
                display: none;
              }
            }
            &:before{
              display: none;
            }
          }
          .clear;
        }
        .filter-title strong{
          @media only screen and(max-width: 767px){
            position: static; display: inline-block; margin-bottom: 0px; 
          }
        }
        .block-content.filter-content.cat_land + .block-content.filter-content{
          margin-bottom: 0; display: none;
        }
        .block-content{
          @media only screen and(max-width: 767px){
            margin-bottom: 0px;  width: 85%; float: right; position: relative;
          }
          .block-subtitle {
            border-bottom: 0; display: none;
          }
          .block-actions.filter-actions{
            border-bottom: 2px solid #9b0005; padding: 0; margin-bottom: 5px;
            h6{
              font-size: 16px; line-height: 23px; color: #333333;  font-weight: 700; float: left; width: auto; text-transform: uppercase; margin-bottom: 12px;
            }
            a.action{
              background-color: #c9302c; border-radius: 3px; text-decoration: none !important; text-transform: uppercase; display: block; color: #fff !important; 
              padding: 2px 5px; text-transform: uppercase; font-weight: bold; letter-spacing: -1px; float: right; width: auto;
              font-size: 13px; line-height: 19px; font-weight: 700; margin-top: 5px;
            }
            .clear;
          }
          .filter-current{
            margin-bottom: 20px;
            ol.items{
              padding: 0;
              li{
                padding: 3px 15px 3px 5px;   border-bottom: 1px solid #e1dbd4; margin: 0;
                .filter-label{
                  font-size: 10px; line-height: 10px; color: #333; 
                }
                .filter-value {
                  font-size: 13px; line-height: 19px; color: #333333; font-weight: 400;
                }
                .action.remove{
                  right: -2px; top: 6px; left: auto; font-size: 0; width: 15px; height: 15px; background: url('../images/cross-button.png') no-repeat; 
                  background-size: contain; 
                  &:before{
                    display: none;
                  }
                }
              }
            }
          }
          .filter-options{
            @media only screen and(max-width: 767px){
              left: -150%; padding: 0;/* display: block !important; .transition(0.5s all ease-in-out);*/
            }
            .filter-options-item{
              margin-bottom: 20px; border: 2px solid #1D509F; border-radius: 6px; padding: 5px; box-shadow: 0px 0 20px #ddd inset; background: #f6f6f6;
              .filter-options-title{
                font-size: 13px; text-align: left; background: url(../images/head-shadow.png) no-repeat rgb(42, 98, 177) right; 
                color: @clr_white; padding: 10px; border-radius: 3px; padding-left: 11px; font-weight: bold; line-height: 19px;
                text-transform: capitalize; height: 40px;
                @media only screen and(max-width: 767px){
                  text-align: center;
                }
                &:after{
                  display: none;
                }
              }
              .filter-options-content{
                display: block !important; padding: 5px 5px 10px;
                ol{
                	li{
                		margin: 0; border-bottom: 1px solid #e1dbd4; padding: 3px 0; padding-left: 20px;position: relative;
                    &:last-child{
                      border: 0;
                    }
                    input{
                      margin: 0; vertical-align: middle;
                    }
                    [class*=am-filter-item], a{
                      input[type=checkbox]{
                       display: none;
                       &+label, &+span.label{
                        &:before{
                          content: ''; cursor: pointer; background: url('../images/checkbox_unchecked.png') no-repeat; background-size: contain;
                          width: 13px; height: 13px; display: inline-block; margin-right: 6px; vertical-align: middle;
                          position: absolute;left: 0; top: 10px;
                        }
                       }
                       &:checked{
                         &+label, &+span.label{
                            &:before{
                             background: url('../images/checkbox_checked_hover.png') no-repeat;  width: 13px; height: 13px; background-size: contain; 
                             vertical-align: middle;
                           }
                         }
                       }
                      }
                      &:hover{
                        input[type=checkbox]{
                          &+label, &+span.label{
                            &:before{
                              background: url('../images/checkbox_unchecked_hover.png') no-repeat; width: 13px; height: 13px; background-size: contain;
                              vertical-align: middle;
                            }
                          }
                          &:checked{
                           &+label, &+span.label{
                              &:before{
                               background: url('../images/checkbox_checked_hover.png') no-repeat !important;  width: 13px; height: 13px; 
                               background-size: contain !important; vertical-align: middle;
                             }
                           }
                         }
                        }
                      }
                    }
                		a{
                			font-size: 12px; line-height: 17px; color: #004f88; font-weight: 400; padding: 0;
                			span{
                				font-size: 12px; line-height: 17px; color: #004f88; font-weight: 400; padding: 0;
                        &.label{
                          padding: 0 0px 0 2px; letter-spacing: -0.4px; white-space: normal;
                        }
                				&.count{
                					font-size: 13px; line-height: 19px; color: #333333; font-weight: 400; padding: 0;
                				}
                			}
                			&:hover{
                				background: none; text-decoration: none; background: none;
                        span{
                          &.label{
                            color: #9b0005;
                            text-decoration: underline;
                          }
                        }
                			}
                			&:focus{
                				outline: 0; text-decoration: none;
                			} 
                		}
                	}
                }
              }
            }
          }
          .cat_landing_filter{
            margin-bottom: 20px; border: 2px solid #1D509F;border-radius: 6px; padding: 5px; box-shadow: 0px 0 20px #ddd inset; background: #f6f6f6;
            .filter-options-item{
              border:0; padding: 0; margin:0; box-shadow: none; background: none;
              .filter-options-title{
                font-size: 13px; text-align: left; background: url(../images/head-shadow.png) no-repeat rgb(42, 98, 177) right; 
                color: @clr_white; padding: 10px; border-radius: 3px; padding-left: 11px; font-weight: bold; line-height: 19px;
                text-transform: capitalize; height: 40px;
                @media only screen and(max-width: 767px){
                  text-align: center;
                }
                &:after{
                  display: none;
                }
              }
              .filter-options-content{
                padding: 10px 5px 5px;
                ol{
                  li{
                    padding: 0px 5px; border-bottom: 1px solid #e1dbd4; margin: 0; line-height: 20px; display: none;
                    &:last-child{
                      border: 0;
                    }
                    input{
                      margin: 0; vertical-align: middle;
                    }
                    a{
                      font-size: 12px; line-height: 17px; color: #004f88; display: inline-block; padding-bottom: 4px; padding-right: 4px;
                      &:hover{
                        color: #9b0005; text-decoration: underline; background: none;
                      }
                    }
                    span.count{
                      font-size: 13px; line-height: 19px; color: #333333; font-weight: 400; padding: 0;
                    }
                    a:hover + .count {
                        background-color: transparent;
                    }
                  }
                }
                .m-more-less{
                  p{
                    color: #004f88; font-size: 13px; line-height: 19px; font-weight: 700; cursor: pointer; padding: 10px 5px; margin: 0;
                    &:hover{
                      color: #9b0005; text-decoration: underline;
                    }
                  }
                  .m-show-less-action{
                    display: none; 
                  }
                  .m-show-more-action{
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
    .column{
      padding-left: 7px;
      @media only screen and(max-width: 767px){
        padding-left: 0px;
      }
      .main-counters{
        h3.cat_head_title{
         border-bottom: 2px solid #cc0000; font-size: 16px; font-weight: bold; margin-bottom: 0; padding-bottom: 5px; 
         text-transform: uppercase; color: #333; margin-top: 35px;
         @media only screen and(max-width: 767px){
            margin-bottom: 15px; margin-top: 35px;
         }
        }
        .row{
          .col-md-3{
            width: 20%;
            @media only screen and(max-width: 1200px){
              width: 25%;
            }
            @media only screen and(max-width: 991px){
              width: 33.3%;
            }
            @media only screen and(max-width: 767px){
              width: 50%;
            }
            @media only screen and(max-width: 480px){
              /*width: 100%;*/
            }
            .counter_in{
              .pcp_image{
                margin: 15px 0; .transition(all 1s ease-out);
                @media only screen and(max-width: 767px){
                  margin: 0;
                }
                a{
                  display: block;
                  figure{
                    background: #fff; border: 1px solid #dadada; position: relative; padding-bottom: 117%; display: block;
                    @media only screen and(max-width: 480px){
                      padding-bottom: 100%;
                    }
                    img{
                      position: absolute; top: 50%; left: 0; width: 100%; height: auto; object-fit: contain; padding: 10px 17px;
                      .transform(translateY(-50%)); max-height: 100%;
                    }
                  }
                  .sub_cat_name, span{
                    color: #004f88; display: block; font-size: 14px;  line-height: 15px; overflow: hidden; 
                    text-decoration: none; margin-top: 5px; text-align: left; .dot_elips; color: #666; height: 32px; margin-bottom: 30px;
                    @media only screen and(max-width: 480px){
                      margin-bottom: 15px; text-align: center;
                    }
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                }
                &:hover{
                  .transform(scale(1.1));
                  @media only screen and(max-width: 480px){
                    .transform(scale(1.05));
                  }
                  .wht-brd-box{
                    box-shadow: 0 0 5px #ccc;
                  }
                }
              }
            }
          }
        }
        .home-brands-bottom{
          margin-bottom: 25px;
          h5{
            border-bottom: 2px solid #cc0000; font-size: 16px; font-weight: bold; margin-bottom: 10px; padding-bottom: 5px; 
            text-transform: uppercase; color: #333;
          }
          ul{
            margin: 0; padding: 10px 25px; border-bottom: 1px solid #dadada; position: relative;
            .slick-arrow {
              font-size: 0; padding: 0; position: absolute; top: 50%; .transform(translateY(-50%)); background: none; border: 0; z-index: 10;
              &.slick-prev{
                left: 0; right: auto;
                &:after{
                  content: ''; background: url('../images/arrows.png') no-repeat; width: 25px; height: 38px; background-size: 50px; display: block;
                }
              }
              &.slick-next{ 
                right: 0; left: auto;
                &:after{
                  content: ''; background: url('../images/arrows.png') no-repeat; width: 25px; height: 38px; background-size: 50px; background-position: -25px;
                  display: block;
                }
              }
            }
            li{
              padding: 0 10px;
              .cat-image{
                width: 100%;
                a{
                  position: relative; padding-bottom: 70%; display: block;
                  img{
                    position: absolute; top: 0; left: 0; width: auto; height: 100%; object-fit: contain; padding: 5px;
                  }
                  &:focus{
                    outline: none;
                  }
                }
              }
            }
          }
        }
        .about_category{
          margin-bottom: 25px;
          h2{
            border-bottom: 2px solid #cc0000; font-size: 16px; font-weight: bold; margin-bottom: 0px; padding-bottom: 5px; 
            text-transform: uppercase; color: #333;
          }
          .cur_cat_description{
            text-align: justify; padding: 11px 0 10px;
            p{
              font-size: 13px; font-family: @PTSans; font-weight: 500; margin-top: 13px; margin-bottom: 10px; line-height: 19px; font-family: arial,helvetica,sans-serif;
            }
          }
        }
      }
      .products.wrapper + .toolbar.toolbar-products {
          display: none;
      }
      .toolbar.toolbar-products{
        .row{
          border-bottom: 2px solid #cc0000; margin: 0; padding-bottom: 0px;
          .col-md-5{
            padding: 0; width: auto;
            @media only screen and(max-width: 991px){
              width: 100%; padding: 0;
            }
            .list_cur_catname{
              font-size: 17px; font-weight: 600; margin-bottom: 10px; text-transform: uppercase; margin: 0; margin-top: 17px; color: #333; 
              padding-bottom: 11px; text-align: left;
            }
          }
          .clear;
          .col-md-7{
            padding-right: 0; text-align: right; width: auto; float: right;
            @media only screen and(max-width: 991px){
              width: 100%; margin-bottom: 10px;
            }
            @media only screen and(max-width: 767px){
              float: left; padding: 0; text-align: left;
            }
            > span{
              margin: 9px 0 0 !important;
            }
            .clear;
            .modes{
              float: right; margin: 17px 13px 5px 10px;
              @media only screen and(max-width: 767px){
                display: none; text-align: left; margin: 12px 10px 5px;
                .mode-grid{
                  &:before{
                    content: '\f00a'; font-family: @FontAwesome; font-weight: 400; font-size: 14px;
                  }
                  span{
                    /*display: none;*/
                  }
                }
              }
              strong{
                &.active{
                  background: #9b0005; border-radius: 3px; padding: 2px; margin-top: -2px; 
                  @media only screen and(max-width: 767px){
                    padding: 3px 0 1px 3px; background: @clr_white
                  }
                  &:before{
                    /*color: @clr_white;*/ color: #9b0005;
                  }
                  span{
                    color: #9b0005; font-weight: 700;
                  }
                }
                &.mode-list{
                  @media only screen and(max-width: 767px){
                    padding: 3px 1px 1px 1px;
                  }

                }
              }
              strong.modes-label {
                display: none;
                position: static; width: auto; height: auto; margin: 0; padding: 0 5px 0 0; float: left;
                @media only screen and(max-width: 767px) {
                  margin-left: -5px;
                }
              }
              .clear;
              .modes-mode {
                border-radius: 0; border: none; background: none; box-shadow: none; margin: 0px 6px 0 0;  padding: 0;
                @media only screen and(max-width: 767px){
                  &:before{
                    font-size: 14px !important;
                  }
                }
                @media only screen and(max-width: 480px){
                  margin: 0 0 0 6px;
                }
                span{
                  position: static; height: auto; width: auto; overflow: visible; text-decoration: none; color: #666666; box-shadow: none; display: inline-block;
                  font-size: 13px; line-height: 13px; font-weight: 400; font-family: @PTSans; text-transform: uppercase; text-decoration: none;
                }
                &:before {
                  height: 13px; font-size: 13px; width: 13px; color: #9b0005; line-height: 13px; margin-right: 1px;
                }
              }
              a{
                &:hover, &:focus{
                  span{
                    text-decoration: underline;
                  }
                }
              }
              @media only screen and(min-width: 468px){
                a.mode-list{
                  &:before{
                    color: #9b0005;
                  }
                }
                strong.mode-list{
                  &.active{
                    background: none;
                    &:before{
                      color: #9b0005;
                    }
                  }
                }
                a.mode-grid{
                  &:before{
                    color: #9b0005; font-size: 12px;
                  }
                }
                strong.mode-grid{
                  &.active{
                    background: none;
                    &:before{
                      color: #9b0005; font-size: 12px;
                    }
                  }
                }
              }
              .mode-list{
                &:before{
                  content: '\f00b'; font-family: @FontAwesome; font-weight: 400; font-size: 14px;
                }
                @media only screen and(max-width: 767px){
                  span{
                    /*display: none;*/
                  }
                }
              }
            }
            .toolbar-sorter.sorter{
              @media only screen and(max-width: 767px){
                position: static; float: none;
              }
              a.action.sorter-action{
                display: none;
              }
              label{
                font-size: 14px; line-height: 19px; color: #333; font-weight: 400;
              }
              select{
                width: 130px; height: 31px; margin-top: 8px !important; text-transform: capitalize;
                padding: 5px 14px 5px 9px; font-size: 12px; border: 1px solid #b8b8b8; background-color: #f5f5f5 !important;
                background: url(../images/down-arrow.svg) no-repeat; background-size: 6px; background-position: 97% 50%;
              }
            }
          }
        }
      }
      .description_parent + .products.wrapper{
        border: 0;
        ol{
          border: 0;
        }
      }
      .amscroll-loading{
       background-position: 27%; float: left; text-align: center; vertical-align: middle;
        line-height: 50px; background-size: 120px;font-style: italic;
      }
      .category-products.products.wrapper.list.products-list + .description_parent,
      .description_parent + .description_parent{
        display: none; 
      }
      .description_parent{
        display: block; padding: 11px 0 20px; border-bottom: 1px solid #ccc;
        p{
          font-size: 13px; font-family: arial,helvetica,sans-serif; font-weight: 500; margin-top: 13px!important; margin-bottom: 10px !important; line-height: 19px;
          text-align: justify; padding: 0px;
          br{
            display: none;
          }
        }
      }
      .category-products.products.wrapper + .toolbar.toolbar-products{
        display: none !important;
      }
    }
  }
}

/* sidebar three blocks */
.sidebar{
  .block.block-banner{
    border: 2px solid #1D509F;border-radius: 6px; margin-bottom: 20px; 
    .left-prod{
      background-color: #f6f6f6; padding-top: 8px; padding: 6px; margin: 0px; border-radius: 6px;
      box-shadow: 0px 0 20px #ddd inset;
      p{
        font-size: 14px; text-align: left; background: url(../images/head-shadow.png) no-repeat rgb(42, 98, 177) right; 
        color: @clr_white; padding: 10px; border-radius: 3px; padding-left: 11px; font-weight: bold; line-height: 20px; height: 40px;
        @media only screen and(max-width: 767px){
          text-align: center;
        }
      }
      .left-pord-links {
        margin-bottom: 5px;
        a{
          img{
            object-fit: contain;
            @media only screen and(max-width: 767px){
              margin: 0 auto;
            }
          }
        }
      }
      ul{
        &.blue-icon-links{
          margin-bottom: 10px;
        }
        li{
          margin-bottom: 8px;
          &.snup-news{
            margin-bottom: 17px;
            img{
              object-fit: contain;
              @media only screen and(max-width: 767px){
                margin: 0 auto;
              }
            }
          }
          a{
            margin-left: 0px; color: #174380; font-size: 12px; font-weight: bold; position: relative; cursor: pointer;
            img{
              display: inline-block; vertical-align: top; padding-left: 3px;
              object-fit: contain; 
            }
            span{
              padding-left: 8px; vertical-align: top;
            }
            &:hover{
              color: rgb(149, 10, 0);
            }
          }
        }
      }
      .email-block{
        padding-left: 5px; margin-bottom: 0;
        .row{
          margin: 0;
          .col-md-12{
            padding: 0;
            .f-wid{
              i,em{
                color: #2055A5; font-size: 24px; margin-right: 0; width: auto; float: left; padding: 0;
                @media only screen and(max-width: 767px){
                  margin-right: 12px;
                }
              }
              span{
                display: block; text-align: left; font-size: 12px; line-height: 17px; font-family: arial; font-weight: 700;
                text-transform: uppercase; color: rgb(31, 83, 163); padding-left: 30px;
                @media only screen and(max-width: 767px){
                  display: inline-block; padding-left: 0;
                }
              }
            }
            .block.newsletter{
              border: 0; border-radius: 0; width: 100%; max-width: 170px; margin-bottom: 10px; margin-top: 15px;
              @media only screen and(max-width: 767px){
                margin-left: 35px;
              }
              .content{
                form{
                  .field{
                    .control{
                      &:before{
                        display: none;
                      }
                      input{
                        width: 118px; float: left; padding: 0px 0px 3px 8px; border: 1px solid #b8b8b8; font-size: 13px; 
                        line-height: 19px; color: #333333; height: 23px; margin-top: 1px;
                        @media only screen and(max-width: 767px){
                          width: 190px;
                        }
                      }
                      .mage-error{
                        margin-top: 0;
                      }
                    }
                  }
                  .actions{
                    button{
                      color: @clr_white; background-color: #215ab9; padding: 3px 5px;  height: 23px; font-weight: 400;
                      line-height: 18px; font-size: 12px; min-height: 23px; text-transform: capitalize; border: 0; margin-left: -1px;
                      span{

                      }
                      &:hover{
                        text-decoration: none; background-color: rgb(182, 0, 6);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



/* compare products */

.imports-compare-index{
  #maincontent{
    padding: 0 15px;
    .columns{
      .column{
        .addnewitem{
          form{
            .well{
              padding: 9px 0;
              .row{
                margin: 0;
                > div{
                  width: auto; padding: 0 10px;
                  @media only screen and(max-width: 567px){
                    width: 100%; display: block;
                  }
                  button{
                    background: #9b0005; color: @clr_white; margin-bottom: 0px; border-radius: 0px; height: auto; padding: 6px 12px; border: 0;
                    vertical-align: top; font-size: 14px; line-height: 20px; 
                    @media only screen and(max-width: 567px){
                      margin-bottom: 10px;
                    }
                    i{
                      padding-left: 5px;
                    }
                    &:hover{
                      background: #c9302c;
                    }
                  }
                  input.form-control{
                    height: 34px; max-width: 157px; font-size: 14px; line-height: 20px; color: #555555; padding: 0 12px;
                    @media only screen and(max-width: 567px){
                      max-width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        .table_compare{
          overflow: auto;
          table{
            tr{
              border: 1px solid #ddd;
              &:first-child{
                background: @clr_white;
              }
              &:nth-child(even) {
                background: #f9f9f9;
              }
              &:nth-child(odd) {
                background: @clr_white;
              }
              th{
                border: 1px solid #ddd;
              }
              td{
                border: 1px solid #ddd; padding: 8px; font-size: 14px; line-height: 20px; color: #333; text-align: center;
                vertical-align: middle;                
                .product_heading{
                  text-align: center; display: block; font-size: 14px; line-height: 20px; color: #333333; font-weight: 700; 
                }
                img.product_heading_img{
                  width: 100%; max-width: 260px; height: auto; object-fit: contain; margin: 0 auto;
                }
                img.brand_logo_img{
                  width: 75px; height: 75px; object-fit: contain; margin: 0 auto;
                }
                a.product_image{
                  position: relative; padding-bottom: 80px; display: block;
                  img{
                    width: 100%; height: 80px; object-fit: contain; position: absolute; top: 0;left: 0;
                  }
                }
                a{
                  display: inline-block;
                  h2{
                    font-size: 16px; line-height: 18px; color: #333333; font-weight: 700;  margin-top: 20px; margin-bottom: 0; text-transform: uppercase;
                    @media only screen and(max-width: 567px){
                      font-size: 14px;
                    }
                  }
                  &.product_title{
                    color: #9b0005;
                  }
                  &:hover{
                    text-decoration: underline;
                  }
                }
                form{
                  vertical-align: top; font-size: 0;  white-space: nowrap;
                  button{
                    background: @clr_white; color: #333333; font-size: 14px; line-height: 20px; white-space: nowrap;
                    &:hover{
                      background-color: #e6e6e6; border-color: #adadad; text-decoration: underline;
                    }
                  }
                  input#qty{
                    padding: 5px; text-align: center; color: #949494; font-size: 12px; line-height: 20px; height: 30px; display: inline-block; width: 38px;
                  }
                  button.action{
                    display: inline-block; padding: 5px 6px; background: #9b0005; color: #fff; border-radius: 0; border-color: #d43f3a;
                    text-transform: capitalize; font-size: 12px; height: 30px; margin: 0; vertical-align: top; line-height: 20px;
                    span{
                      color: @clr_white;
                    }
                    &:hover{
                      background: #c9302c; text-decoration: none;                  
                    }
                  }
                }
                button.btn{
                  background: #9b0005; color: @clr_white; margin-bottom: 0px; border-radius: 0px; height: 30px; padding: 5px 12px; border-color: #d43f3a;
                  vertical-align: top; font-size: 12px; line-height: 20px;
                  i{
                    padding: 0 5px; font-size: 12px;
                    &.fa-caret-right{
                      padding-right: 2px;
                    }
                  }
                  &.seeprice{

                  }
                  &.callforprice, &.seepriceincart{
                    /*padding: 0 2px 0 3px;*/
                  }
                  &.callforprice{
                    i{
                      font-size: 14px; padding-left: 0;
                    }
                  }
                  &:hover{
                    background: #c9302c;
                  }
                }
                a{
                  font-size: 14px; line-height: 20px; color: #333;
                  &.btn.btn-default{
                    @media only screen and(max-width: 767px){
                      font-size: 12px;
                    }
                  }
                }
                .price_box{
                  .price{
                    color: #9b0005; font-size: 20px; font-weight: 700; line-height: 29px; margin-bottom: 0;
                    @media only screen and(max-width: 767px){
                      font-size: 18px;
                    }
                    .red-txt{
                      span{
                        color: #9b0005; font-size: 20px; font-weight: 700; line-height: 29px; margin-bottom: 0;
                      }
                    }
                    .info_img{
                      img{
                        display: inline-block;
                      }
                    }
                  }
                }
                .green-txt{
                  color: #019901;
                  i{
                    padding-right: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}