/* variables, Mixins & Fonts */

@import 'dcw_variables.less';
.cms-customshiping, .cms-customshippingbyweight {
    background: url(../images/main_bg.gif) repeat-x rgba(0, 0, 0, 0); background-size: cover;
    .page-wrapper {
        width: 100%; max-width: 1366px;
        #maincontent {
            background: transparent;
            .columns{
                .column.main{
                    width: 100% !important;
                }
            }
            .block {
                border-radius: 5px; background: @clr_white !important; margin: 20px;
                .shipping-calculation {
                    max-width: 100%; padding: 1px 20px 0;
                    h2.calc_title {
                        position: relative; background: linear-gradient(to bottom, rgba(78, 129, 184, 1) 0%, rgba(48, 99, 154, 1) 100%); border-radius: 5px; 
                        color: @clr_border; font-size: 14px !important; padding: 14px; margin: 20px 0;
                        @media only screen and(max-width: 767px){
                        	padding: 4px;
                        }
                        a {
                            position: absolute; right: 14px; top: 50%; transform: translateY(-50%); 
                            @media only screen and(max-width: 767px){
                            	right: 2px;
                            }
                        }
                    }
                }
                p.calc_txt {
                    font-size: 14px; font-family: @OpenSans !important; line-height: 18px;
                }
                .shipping-form {
                    .fieldset {
                        display: inline-block; margin: 0; vertical-align: middle;
                        .field {
                            display: inline-block; padding: 8px 10px; margin: 0;
                            @media only screen and(max-width: 767px){
                            	padding: 8px 0;
                            }
                            .label {
                                font-weight: normal; padding-right: 0;
                                &:after {
                                    display: none;
                                }
                            }
                            .control {
                                display: inline-block;
                                input {
                                    height: 34px; line-height: 34px; width: 70px; padding: 0 8px; text-align: center;
                                    @media only screen and(max-width: 767px){
                                    	width: 60px;
                                    }
                                }
                            }
                        }
                    }
                    .actions-toolbar {
                        display: inline-block; vertical-align: middle;
                        .primary {
                            button {
                                height: 23px; min-height: 23px; line-height: 22px; padding: 0 15px; text-transform: capitalize; background-color: #9b0005; 
                                color: @clr_white; font: 12px/19px open sans, Helvetica, sans-serif;
                                @media only screen and(max-width: 767px){
                                	margin-left: 6px;  padding: 0 5px;
                                }
                            }
                        }
                    }
                    .shipping-calculation-result-container{
                    	table.items.methods{
                    		width: 60%;
                    		@media only screen and(max-width: 767px){
                    			width: 100%;
                    		}
                    		tr{
                    			border: 0;
                    			&:nth-child(1){
                    				border-bottom: 1px solid @clr_black;
                    			}
                    			&:nth-child(2){
                    				td{
                    					color: #4476ae !important; font-size: 13px !important; font-weight: 700 !important;
                    				}
                    			}
                    			th{
                    				color: #4476ae !important; font-size: 13px; padding: 11px 8px;
                    				&:nth-child(2){
                    					text-align: center;
                    				}
                    			}
                    			td{
                    				border: 0;  font: 14px "Open Sans",sans-serif !important;
                    				&:nth-child(2){
                    					text-align: center;
                    				}
                    			}
                    		}
                    	}
                    	> div{
                    		width: 60% !important; font-size: 13px; line-height: 20px; padding-bottom: 30px;
                    		@media only screen and(max-width: 767px){
                    			width: 100% !important; 
                    		}
                    	}
                    }
                }
            }
        }
    }
}