/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* Css reset 
----------------------*/
*{ outline: none; margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; }
ul, ol{margin: 0; padding: 0; list-style: none !important;}
a,a:visited,.alink:visited{color: @clr_black; }
a:hover{text-decoration: none;}
figure{margin: 0;}
img{max-width: 100%; height: auto; display: block; }
html{ height: auto !important; }
body{
  font-family: @OpenSans; font-size: 16px; /*-webkit-font-smoothing: antialiased;*/ -webkit-text-size-adjust: 100%; 
  -webkit-font-smoothing: antialiased !important; text-rendering: optimizeLegibility !important;
  background-color: #ececec!important; height: auto !important;
  //background: url(../images/main_bg.gif) repeat-x scroll left -88px rgba(0, 0, 0, 0);
}
.columns .column.main{
  padding-bottom: 25px;
}
div, header, section, footer, aside, nav, article, figure, main {display: block; }
main.page-main, .container{width: 100%; max-width: 1366px; padding: 0 15px;}
p:empty {
    display: none;
}
p{
  font-size: 16px; line-height: 26px; margin-bottom: 15px;
  @media only screen and (max-width: 991px){}
  @media only screen and (max-width: 767px){}
  @media only screen and (max-width: 480px){}
}
h1, .h1{
  font-size: 40px; margin: 5px 0 15px; font-weight: 600;
  @media only screen and (max-width: 991px){}
  @media only screen and (max-width: 767px){}
  @media only screen and (max-width: 480px){}
}

h2, .h2{
  font-size: 32px; margin: 5px 0 15px; font-weight: 600;
  @media only screen and (max-width: 991px){}
  @media only screen and (max-width: 767px){}
  @media only screen and (max-width: 480px){}
}

h3, .h3{
  font-size: 28px; margin: 5px 0 15px; font-weight: 600;
  @media only screen and (max-width: 991px){}
  @media only screen and (max-width: 767px){}
  @media only screen and (max-width: 480px){}
}
h4, .h4{
  font-size: 24px; margin: 5px 0 15px; font-weight: 600;
  @media only screen and (max-width: 991px){}
  @media only screen and (max-width: 767px){}
  @media only screen and (max-width: 480px){}
}
h5, .h5{
  font-size: 20px; margin: 5px 0 15px; font-weight: 600;
  @media only screen and (max-width: 991px){}
  @media only screen and (max-width: 767px){}
  @media only screen and (max-width: 480px){}
}
h6, .h6{
  font-size: 16px; margin: 5px 0 15px; font-weight: 600;
  @media only screen and (max-width: 991px){}
  @media only screen and (max-width: 767px){}
  @media only screen and (max-width: 480px){}
}


/* page title 
======================================*/
.page-title-wrapper{
  width: 100%; max-width: 1366px; margin: 0 auto; padding: 0 15px !important; 
  h1{
    display: block !important; font-size: 32px; font-weight: 300; color: @clr_black; font-family: @Oswald; text-transform: uppercase; padding: 10px 0; 
    border-bottom: dashed 1px fade(@clr_black, 40%);
    @media only screen and (max-width: 767px){
      font-size:24px; padding-bottom:4px;
    }
  }
  .print{
    display: none !important;
  }
}

.account{
  .page-title-wrapper{
    padding: 0 !important; margin-bottom: 15px;
    h1{
      margin: 0 !important;
    }
  }
}

/* breadcrumbs 
======================================*/
body.blog-page .breadcrumbs .items > li.blog {
    display: none !important;
}
.breadcrumbs{
  width: 100% !important; max-width: 1366px; padding: 0 15px; display: block; margin-bottom: 0; position: relative; background: @clr_white; z-index: 1;
  ul{
    padding: 10px 0 !important;
    @media only screen and (max-width: 767px){
      padding-top: 5px;
    }
    li{
      padding: 0px 0; color: #333333; display: inline !important; font-size: 13px;
      a, strong{
        color: #333333 !important; font-size: 13px; text-transform: capitalize; font-weight: 500; line-height: 19px;
        @media only screen and (max-width: 767px){
         font-size: 12px; margin-bottom: 12px;
        }
      }
      &:hover{
        a{
          text-decoration: underline;
        }
      }
      &:after{
        content: '' !important; font-size: 16px !important; background: url('../images/double-angle-pointing-to-right.svg') no-repeat; width: 7px; height: 7px; 
        display: block; background-size: contain; margin: 6px 0px 6px 1px !important;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
  }
}

/* Buttons & input fields 
======================================*/
textarea, button, select, input:not([type=radio]), input:not([type=checkbox]){
  box-shadow: none !important; outline: 0 none !important;  
}

.actions a.action.continue,
.actions a.action.viewcart,
/*a.action:not(.remind):not(.action-delete):not(.action-edit),*/
a.link,
.actions-toolbar a.action:not(.remind):not(.action-delete):not(.action-edit),
button[class*=action]:not(.search):not(.close):not(.action-close)
{
    .all_button_design; /* From variable file */
    .transition(all 0.2s ease-in-out);
    &:hover{
      /*.animation(shadow_pulse_inset 0.5s 1);*/ /* This is from Variable page */
    }
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"]{
  height: 32px; padding: 0 15px; font-family: @Montserrat !important;
}

textarea{
  /*resize: none;*/
}

input[type="password"]{
  font-weight: 900 !important; letter-spacing: 1px;
}
input[type="number"]{
  padding: 0; text-align: center;
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button; margin: 0; opacity: 1;
  }
}

/* Check box 
======================================*/
/*input[type=checkbox]{
  display: none;
  &+label{
    cursor: pointer;
    &:before{
      content:'\f096'; font-family: @FontAwesome; margin-right: 10px;
    }
  }
  &:checked{
    &+label{
      &:before{
        content:'\f046'; 
      };
    }
  }
}*/

/* Radio buttons
======================================*/
/*input[type=radio]{
  display: none;
  &+label{
    cursor: pointer;
    &:before{
      content:'\f10c'; font-family: @FontAwesome; margin-right: 10px;
    }
  }
  &:checked{
    &+label{
      &:before{
        content:'\f058'; 
      };
    }
  }
}*/

select{
  border-radius: 0 !important; background-color: transparent !important; margin-top: 1px !important; 
}

.fieldset:focus{box-shadow: none;}

.column.main{
  padding-top: 0 !important;
}

/* Model Design 
======================================*/
.modals-wrapper{
  .modal-popup{
    .modal-inner-wrap{
      width: 95%; max-width: 600px; border-top: solid 10px @clr_black;
      .modal-header{
        h1{
          color: @clr_black; font-size: 30px; font-weight: bold; text-align: center; margin: 0 auto; border-bottom: 0; 
          text-transform: uppercase;
          @media only screen and (max-width: 767px){
            font-size: 20px; 
          }
        }
      }
      .modal-content{
      
      }
      .modal-footer{

      }
    }
  }
}




/* ===========================*/

.cols-5 .col-md-3 {
  @media (min-width: 992px){
      width: 20%!important;
  }
}
.cms-home #maincontent{
  background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);
}
#maincontent{ 
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); padding: 0; background: @clr_white
}

/*.page-wrapper{
  width: 100%; max-width: 1054px; margin: 0 auto; box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); padding: 0 15px;
  @media only screen and(max-width: 767px){
    padding: 0;
  }
}*/

.page-header{margin: 0;}

.hide_popup .close{
    float: right; margin: -10px -10px 0 0; opacity: 1; position: absolute; top: 0; right: 5px;
}
.hide_popup .close:after{
    content: "\f057"; font-family: 'FontAwesome'; color: #004f88; font-size: 16px; line-height: 15px; text-align: center;
}
.hide_popup{
    display: none; z-index: 99; 
    text-align: left; border: solid 2px #8f8f8f; box-shadow: 0 0 5px #aaa; border-radius: 5px; 
     margin: 0 auto; width: 90%; max-width: 440px; padding: 15px; font-size: 12px; background: none repeat scroll 0 0 #fff;
    position: fixed;  right: 0; left: 0; top: 50%; .transform(translateY(-50%));
}

.popup_trigger, .see_price_incart{color: #019901; text-decoration: underline; display: inline-block;  margin-top: 5px;}
.see_price_incart{color: #9b0005; width: 100%; font-size: 10px; line-height: 15px; font-weight: 700; cursor: pointer;}

.catalog-product-view .dcw-list-page-customs .see_price_incart{
  font-size: 14px;
}

.modal-backdrop{display: none;}
    .page-header{margin: 0;}
.page-header .panel.wrapper{
/*display: none;*/ border-radius: 0; border: 0; margin-bottom: 0;
  .panel.header{
    border-radius: 0; background: none; margin: 0;
  }
}


label, th{color: #000!important}

@media (min-width: 768px)
{
  .page-layout-1column .product-info-main {
    width: 65%;
  }
  .page-layout-1column .product.media {
    width: 32%;
  }
  .product-info-stock-sku .product.attribute.sku{ display:none; }
  .product-info-stock-sku .stock.available{ display:none; }
  .h1, h1 {
    font-size: 30px;
  } 
  .product-info-main .product-info-price
  {
    border-bottom:none !important;
  }
  .product-info-main .product-info-price{ margin-bottom:-20px !important;}
  .product-info-main .product-add-form{padding-top: 0px !important;}
  .product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
  font-size: 20px;
    line-height: 33px;
    color: #9b0005;
  }
  ._questions h4 {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important;
    margin: 10px 0;
  }
  ._questions > strong {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important;
  }
  ._questions .col-xs-6 {
    padding-top: 0px;
  } 
  .col-xs-6 {
    /*width: 50%;*/
  } 
  ._questions img {
    width: 96px;
    height: auto;
    margin-left: 40px;
  } 
  ._questions .col-xs-6 p {
    color: #333;
    font-size: 14px;
    font-weight: 400; line-height: 20px; margin-bottom: 10px;
  } 
  ._questions .col-xs-6 p._tele {
    color: #333;
    font-weight: 500;
    font-size: 18px;
  } 
  ._questions .col-xs-6 p i {
    color: #9b0005;
  } 
  ._questions .col-xs-6 p._tele strong {
    color: #0095da;
  } 
  .tab-pane {
    border: 1px solid #ccc !important;
    border-top: 0 !important;
    padding: 15px 25px !important;
  }
    .row.vcenter {
    display: table;
    width: 100%;
  }
  #product_tabs_repairparts_contents .row.vcenter >[class*="col-"] {
    color: #333;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
  }
  #product_tabs_repairparts_contents .row.vcenter img {
    width: 128px;
  }
  hr.light-gray {
    border-color: #ccc; margin: 15px 0;
  }
  #product_tabs_repairparts_contents h4.tabs-title {
    color: #333;
    font-weight: 600;
    font-size: 20px;
  }
}
