/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* Alerts 
--------------------*/
.messages, .c-replyform{
	margin-bottom: 15px;
	.message{
		position: relative; z-index: 1; background: @clr_white; padding: 12px 20px 12px 100px; border:1px solid @clr_black; border-right: 10px solid @clr_black; 
		font-family: @Montserrat; font-size: 12px; line-height: 23px; height:100%; min-height:65px; /*margin-bottom: 15px; display: block;*/
		@media only screen and (max-width: 767px){
			padding: 12px 10px 12px 50px; border-right-width: 5px;
		}
		> div, > span{
			color: @clr_black; font-family: @Montserrat; font-size: 12px; font-weight:500;
			span{
				color: @clr_black; font-family: @Montserrat; font-size: 16px; font-weight: 700; line-height: 23px; text-transform: uppercase; display:block; 
			}
			a{
				color:@clr_black; font-family:@Montserrat; font-size:12px;  font-weight:700;
				&:hover{
					color:@clr_black; text-decoration:underline;
				}
			}
			&:first-child:before{
				content: ''; display:block; font-family: @Montserrat; font-size: 16px; font-weight: 700; line-height: 23px;
				position: static; margin: 0; width: 100%; text-align: left; text-transform: uppercase; 
			}
			&:after{
				content: ''; background-size: 30px !important; background-position: center 18px !important; display:block; 
				position: absolute; top: 0; left: 0; width: 65px; margin: 0; height: 100%;
				@media only screen and (max-width: 767px){
					width: 35px; background-size: 20px !important;
				}
			}
		}

		&.message-success.success{
			border-color:@clr_black;
			> div{
				&:before{
					content: ''; color: @clr_black;
				}
				&:after{
					background:url("../images/alert_success.png") no-repeat @clr_black;
				}
			}
		}
		&.message-error.error{
			border-color:@clr_red;
			> div{
				span{
					color: @clr_red;
				}
				&:before{
					content: 'ERROR !!'; color: @clr_red;
				}
				&:after{
					background:url("../images/alert_error.png") no-repeat @clr_red;
				}
			}
		}
		&.message-notice.notice{
			border-color:@clr_yellow; 
			> div{
				span{
					color: @clr_yellow;
				}
				&:before{
					content: 'SOMETHING IS NOT RIGHT !!'; color: @clr_yellow;
				}
				&:after{
					background:url("../images/alert_warning.png") no-repeat @clr_yellow;
				}
			}
		}
	}
}

.message.info.empty,
.message.notice,
.message.info{
	position: relative; z-index: 1; background: @clr_white; padding: 12px 20px 12px 100px; border:1px solid @clr_yellow; border-right: 10px solid @clr_yellow; 
	font-family: @Montserrat; font-size: 12px; line-height: 23px; height:100%; min-height:65px;
	@media only screen and (max-width: 767px){
		padding: 12px 10px 12px 50px; border-right-width: 5px;
	}
	> div, > span, *:first-child{
		color: @clr_black; font-family: @Montserrat; font-size: 14px; font-weight:500;
		span{
			color: @clr_yellow; font-family: @Montserrat; font-size: 16px; font-weight: 700; line-height: 23px; text-transform: uppercase; display:block; 
		}
		&:before{
			content: 'SOMETHING’S NOT RIGHT !!'; color: @clr_yellow; display:block; font-family: @Montserrat; font-size: 16px; font-weight: 700; line-height: 23px;
			position: static; margin: 0; width: 100%; text-align: left; text-transform: uppercase; 
		}
		&:after{
			content: ''; background:url("../images/alert_warning.png") no-repeat @clr_yellow; background-size: 30px !important; background-position: center 18px  !important; display:block;
			position: absolute; top: 0; left: 0; width: 65px; margin: 0; height: 100%;
			@media only screen and (max-width: 767px){
				width: 35px; background-size: 20px !important;
			}
		}
	}
}

.contact-index-index, .account.customer-address-index{
	.messages{
		.message{
			&.message-success.success{
				> div{
					&:before{
						content: 'success !!'; color: @clr_black;
					}
				}
			}
		}
	}
}

