/* variables */
@clr_black: #000000;
@clr_white: #FFFFFF;
@clr_red: #ff0000;
@clr_yellow: #e5b955;
@clr_gray: #cccccc;
@clr_border: #ddd;
@clr_light_bg: #f4f4f4;

/* Theme Colors
=====================*/



.transform(@arguments) {
  	-webkit-transform: @arguments;
  	-moz-transform: @arguments;
  	-ms-transform: @arguments;
  	-o-transform: @arguments;
  	transform: @arguments;
}

.transition(@arguments) {
  	-webkit-transition: @arguments;
  	-moz-transition: @arguments;
  	-ms-transition: @arguments;
  	-o-transition: @arguments;
  	transition: @arguments;
}

.transition-delay(@arguments){
    -webkit-transition-delay: @arguments;
    -moz-transition-delay: @arguments;
    -ms-transition-delay: @arguments;
    -o-transition-delay: @arguments;
    transition-delay: @arguments;
}

.displayFlex(@argument){ 
    display: ~"-webkit-@{argument}";
    display: ~"-moz-@{argument}";
    display: ~"-ms-@{argument}";
    display: ~"-o-@{argument}";
    display: @argument;
}

.flex_wrap(@argument){
    -webkit-flex-wrap: @argument;
    -moz-flex-wrap: @argument;
    -ms-flex-wrap: @argument;
    -o-flex-wrap: @argument;
    flex-wrap: @argument;
}

.flexDirection(@argument){
    -webkit-flex-direction: @argument;
    -moz-flex-direction: @argument;
    -ms-flex-direction: @argument;
    -o-flex-direction: @argument;
    flex-direction: @argument;
}

.order(@argument){
  -webkit-order: @argument;
  -moz-order: @argument;
  -ms-order: @argument;
  -o-order: @argument;
  order: @argument;
}

.animation(@argument){
  -webkit-animation: @argument;
  -moz-animation: @argument;
  -ms-animation: @argument;
  -o-animation: @argument;
  animation: @argument;
}

.columncount(@argument){
    -webkit-column-count: @argument;
    -moz-column-count: @argument;
    -ms-column-count: @argument;
    -o-column-count: @argument;
    column-count: @argument;
}

.columnrulestyle(@argument){
    -webkit-column-rule-style: @argument;
    -moz-column-rule-style: @argument;
    -ms-column-rule-style: @argument;
    -o-column-rule-style: @argument;
    column-rule-style: @argument;
}

.columnrulewidth(@argument){
    -webkit-column-rule-width: @argument;
    -moz-column-rule-width: @argument;
    -ms-column-rule-width: @argument;
    -o-column-rule-width: @argument;
    column-rule-width: @argument;
}

.columnrulecolor(@argument){
    -webkit-column-rule-color: @argument;
    -moz-column-rule-color: @argument;
    -ms-column-rule-color: @argument;
    -o-column-rule-color: @argument;
    column-rule-color: @argument;
}



/* Fonts 
====================*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

@Montserrat: 'Montserrat', sans-serif;
@Oswald: 'Oswald', sans-serif;
@OpenSans: 'Open Sans', sans-serif;
@Economica: 'Economica', sans-serif;
@PTSans: 'PT Sans', sans-serif;
@Helvetica: 'Helvetica', sans-serif;
@Arial: 'Arial', sans-serif;

@FontAwesome: 'FontAwesome'; /*==== FontAwesome 4 */
@FontAwesome5_Brands: 'Font Awesome 5 Brands', 'Font Awesome 5 Free'; /*==== FontAwesome 5 */

@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'),
    url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'),
    url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@franchiseregular: 'franchiseregular',arial;

/* Clear floating
======================================*/
.clear{
  &:after{
    content:''; clear: both; display: block; height: 0;
  }
}

/* Clear ellipsis
======================================*/
.dot_elips{
  display: block; display: -webkit-box; text-overflow: ellipsis; overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 42px;
}

/* all_button_design
======================================*/
.all_button_design{
  border: 1px solid @clr_black; background: none; color: @clr_black; font-size: 12px; font-family: @Montserrat; text-transform: uppercase; 
  padding: 0 20px; margin: 0 5px 0 0; line-height: 30px; font-weight: normal; min-height: 30px; display: inline-block; border-radius: 0;
  &:hover{
    background:@clr_black; color:@clr_white;
  }
}