/* variables, Mixins & Fonts */

@import 'dcw_variables.less';

/* Dashboard Page
======================================*/

.account {
	#maincontent {
		padding: 0 15px;
		.columns {
			@media only screen and (max-width: 767px) {
				.displayFlex(flex); .flexDirection(row);
			}
		}
	}
	/* Alert design
	===================*/
	.page.messages {
		margin-bottom: 15px;
	}
	/* column 
	===================*/
	.column {
		width: 75% !important;
		@media only screen and (max-width: 767px) {
			width: 100% !important;
		}
	}
	/* Side Bar 
	===================*/
	.sidebar {
		position: relative; margin-top: 0 !important; width: 25% !important;
		@media only screen and (max-width: 767px) {
			.order(1); width: 100% !important;
		}
		.block {
			/*margin: 0;*/
			&.block-collapsible-nav {
				background-color: #f6f6f6; box-shadow: 0px 0 20px #ddd inset; padding: 4px; margin-top: 20px; 
				@media only screen and (max-width: 767px) {
					position: relative; top: 0;
				}
				.content {
					background: #fff; padding: 8px 0 15px;
					@media only screen and (max-width: 767px) {
						position: absolute; top: 100%; left: 0; width: 100%;
					}
					ul {
						li {
							display: block; width: 100%; 
							strong {
								border: 0; padding: 0; 
							}
							&.current {
								a {
									color: #004f88;
								}
								strong {
									 padding: 5px 8px 5px; border-bottom: 1px solid #e1dbd4; 
								}
							}
							a {
								 padding: 0; padding: 5px 8px 5px; border-bottom: 1px solid #e1dbd4; 
								&:hover {
									background: transparent;
								}
							}
							.delimiter {
								display: none;
							}
						}
					}
				}
			}
			.block-collapsible-nav-title {
				clip: auto; /* font-size: 20px; */ display: block; overflow: visible; width: 100%; text-align: left; 
				background: url(../images/head-shadow.png) no-repeat rgb(42, 98, 177) right !important; color: #fff; padding: 10px; border-radius: 3px; padding-left: 11px; 
				font-weight: bold; height: 40px; position: static;
				strong {
					padding: 0;
				}
				&:after{
					@media only screen and (max-width: 767px) {
						top: 46%; transform: translateY(-50%);
					}
				}
			}
		}
	}
	/* Page title
	===================*/
	.page-title-wrapper {
		.order-status {
			.all_button_design;
			/* From variable file */
			margin-top: 6px !important;
		}
		.order-date {
			float: right; margin: 6px 0 0 0 !important; padding: 5px 10px;
			@media only screen and (max-width: 767px) {
				width: 100%; padding: 5px 0;
			}
		}
		.actions-toolbar {
			float: right; margin: 6px 0 0 0 !important;
			@media only screen and (max-width: 767px) {
				width: 100%;
			}
		}
		.clear;
	}
	/* Main column
	===================*/
	.column.main {
		@media only screen and (max-width: 767px) {
			.order(2);
		}
		/* Table Wrapper 
		=======================*/
		.table-wrapper {
			table.data.table {
				thead {
					th {
						color: @clr_black; min-width: 100px; white-space: nowrap; font-size: 13px;
						@media only screen and (max-width: 991px) {
							min-width: auto;
						}
					}
				}
				tbody {
					td,
					strong,
					span {
						font-size: 14px; color: @clr_black;
						@media only screen and (max-width: 767px) {
							text-align: left;
						}
					}
				}
			}
		}
		.order-details-items {
			.order-title {
				strong {
					font-size: 18px; color: @clr_black; font-weight: 600;
				}
				a {
					color: @clr_red;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		/* Order detail view
		=======================*/
		.block.block-order-details-view {
			.block-title {}
			.block-content {
				font-size: 0; display: flex; flex-wrap: wrap;
				>div.box {
					width: 50% !important; display: inline-block; vertical-align: top;
					.box-content {
						font-size: 14px;
						address{
							margin-bottom: 0;
						}
					}
				}
				.clear;
			}
		}
	}
	/* Print page Design
	=======================*/
	&.page-print {
		padding-top: 0 !important;
		.logo,
		.nav-toggle {
			display: none !important;
		}
		.page-title-wrapper {
			/* variable is there for this, remaining properties coming from there */
			padding: 0 15px !important;
		}
	}
}


/*dashboard page santosh code*/

.customer-account-login,
.customer-account-create,
.customer-account-index,
.sales-order-history,
.customer-address-form,
.customer-account-edit,
.review-customer-index,
.newsletter-manage-index,
.sales-order-view,
.sales-order-invoice,
.sales-order-creditmemo,
.customer-address-index,
.customer-account-forgotpassword,
.customer-account-logoutsuccess, .sales-order-shipment, .customer-account-createpassword  {
	font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; 
	.sidebar.sidebar-additional {
		display: none; margin-top: 1px !important;
	}
	#maincontent {
		padding: 0 15px;
		.page-title-wrapper {
			padding: 0 !important;
			h1 {
				border-bottom: 2px solid #cc0000!important;
				span {
					font-size: 24px; font-weight: 600; margin-bottom: 10px; text-transform: uppercase; /*margin: 0;*/ margin-top: 17px; color: #333; padding-bottom: 5px; 
					font-family: 'Open Sans', sans-serif !important;
					@media only screen and (max-width: 767px) {
						font-size: 22px;
					}
				}
			}
		}
		form {
			.fieldset {
				.legend {
					span {
						font-size: 16px!important; font-weight: bold; margin-bottom: 0!important; text-transform: uppercase; color: #333; display: block;
					}
				}
				.field {
					.label {
						padding: 0; font-size: 14px; font-weight: normal; vertical-align: middle;
						&:after {
							margin: 0;
						}
					}
					.control {
						input,
						select {
							height: 34px;
						}
					}
					input[type="checkbox"]{
						display: inline-block; vertical-align: middle; margin: 0;
					}
					&.field.choice.newsletter {
						input {
							display: inline-block;
						}
						.label {
							display: inline-block; margin-left: 6px;
						}
					}
					&.field.captcha {
						.nested {
							button.captcha-reload {
								background-color: #9b0005!important; border: 1px solid #9b0005 !important; height: 34px; padding: 0 12px; color: @clr_white; 
								text-transform: capitalize !important; font-size: 14px !important; transition: ease-in-out all 0.3s; color: #fff !important; 
								font-family: 'Open Sans', sans-serif !important;
								&:hover {
									background-color: #c9302c !important; border: 1px solid #ac2925 !important;
								}
								span {
									font-weight: normal;
								}
							}
						}
					}
					&.field.choice {
						#change-email,
						#change-password {
							display: inline-block; vertical-align: text-top;
						}
					}
				}
				&:after {
					display: none;
				}
			}
			.field.password-info {
				p {
					font-size: 14px !important;
					a {
						color: #004f88; text-decoration: none;
					}
				}
			}
		}
	}
	.block {
		.block-title {
			strong {
				font-size: 18px!important; font-weight: bold !important; margin-bottom: 0!important; color: #333;
			}
			a.action {
				color: #004f88; text-decoration: none; font-weight: bold;
			}
		}
		.block-content {
			.box {
				strong.box-title {
					span {
						font-size: 14px;
					}
				}
				.box-actions {
					a {
						color: #004f88; font-weight: 600; text-decoration: none;
					}
				}
			}
		}
		p,
		address {
			font-size: 14px;
		}
	}
	.actions-toolbar {
		.primary {
			button,
			.primary {
				background-color: #9b0005!important; border: 1px solid #9b0005 !important; height: 34px; padding: 0 12px; color: @clr_white; 
				text-transform: capitalize !important; font-size: 14px !important; font-weight: 600; transition: ease-in-out all 0.3s; color: #fff !important; 
				font-family: 'Open Sans', sans-serif !important;
				&:hover {
					background-color: #c9302c !important; border: 1px solid #ac2925 !important;
				}
			}
		}
		.secondary {
			.action {
				border: 0 !important; background: #fff !important; font-size: 14px !important; color: #004f88 !important; transition: ease-in-out all 0.3s !important; 
				font-weight: 600 !important;
				&:hover {
					color: #004f88 !important;
				}
			}
		}
	}
	.table-wrapper {
		@media only screen and (max-width: 1200px) {
			overflow: auto;
		}
		@media only screen and (max-width: 767px) {
			border: 0;
		}
		table {
			thead {
				tr {
					th {
						color: #333 !important; border: 0; font-size: 14px !important;
					}
				}
			}
			tbody {
				tr {
					td {
						color: #333 !important;
						@media only screen and (max-width: 767px) {
							border: 0 !important;
						}
						&.actions {
							a.action {
								span {
									color: #004f88 !important; font-weight: 600;
								}
							}
						}
						.cart-price {
							span {
								color: #333 !important;
							}
						}
					}
					@media only screen and (max-width: 767px) {
						border-bottom: 1px solid #ccc;
					}
				}
			}
			tfoot {
				tr {
					th {
						background: #eee;
					}
					td {
						background: #eee;
					}
				}
			}
		}
	}
	.order-products-toolbar {
		.limiter {
			text-align: right;
		}
	}
	&.customer-account-create, &.customer-account-forgotpassword {
		ul.breadcrumb {
			background: #fff; margin-bottom: 0; padding-left: 0;
			li {
				color: #333333 !important; font-size: 13px; text-transform: capitalize; font-weight: 500; line-height: 19px;
				&:before{
					content: "\f101"!important; padding: 0; font-family: FontAwesome!important; color: #333; opacity: 0.8;
				}
				&:nth-child(1){
					&:before{
						display: none;
					}
				}
				span{
					display: none;
				}
			}
		}
		.sidebar.sidebar-additional {
			display: block; 
			.widget.block.block-static-block{
				.lef-nav-brdr{
					margin: 1px 0 20px;
				}
			}
		}
		.column.main {
			padding-left: 10px;
			@media only screen and (max-width: 767px) {
				padding-left: 0;
			}
		}
		.page-title-wrapper {
			display: none;
		}
		.row.custome_login_register_sec {
			padding: 15px;
			.page-header {
				border: 0;
				h1.ptitle {
					font-size: 24px; font-weight: 600; margin-bottom: 20px; text-transform: uppercase; color: #333; padding-bottom: 5px; 
					font-family: 'Open Sans', sans-serif !important; padding: 10px 0; border-bottom: 2px solid #cc0000!important;
				}
			}
			.col-md-6{
				margin-bottom: 20px; background-color: #fff; border: 1px solid transparent; border-radius: 4px; box-shadow: 0 1px 1px rgba(0,0,0,.05); border-color: #ddd;
				width: 48%; margin-right: 28px;
				@media only screen and (max-width: 767px){
					margin-right: 0; width: 100%;
				}
				&:last-child{
					margin-right: 0 !important;
				}
				&.col-md-6.customer_log_section_left{
					padding: 0; border: 0; box-shadow: none;
					.custom_login_sec{
						padding: 0 15px 30px; background-color: #fff; border: 1px solid transparent; border-radius: 4px; box-shadow: 0 1px 1px rgba(0,0,0,.05); border-color: #ddd;
					}
				}
			}
			form {
				fieldset {
					width: 100% !important;
					.field {
						padding: 0;
						&.field.choice.newsletter {
							input {
								display: inline-block;
							}
							.label {
								white-space: normal; display: inline !important; vertical-align: top;
							}
						}
						&.field.country.required {
							display: none !important;
						}
						&.field.field-name-firstname, &.field.zip {
							width: 48%; float: left;
						}
						&.field.field-name-lastname, &.field.telephone, &.field.confirmation{
							width: 48%; float: right;
						}
					}
					.field.note {
						display: none;
					}
					.benefits {
						a {
							color: #004f88; text-decoration: none!important; display: block; font-size: 13px; line-height: 19px; font-weight: normal; 
							text-transform: capitalize; margin-top: -28px !important;
							&:hover {
								color: #9b0005;
								text-decoration: underline!important;
							}
						}
					}
					&.fieldset.address {
						margin: 0;
					}
					&.fieldset.fieldset.address{
						.field.password{
							width: 48%; float: left;
						}
						.legend{
							color: #333; background-color: #f5f5f5; border-color: #ddd; display: block; margin: 0 -15px; height: 38px; border-bottom: 1px solid #c6c6c6; margin-bottom: 20px;
							padding: 0 !important;     width: calc(~"100% + 30px");
							span{
								font-size: 16px!important; font-weight: bold; margin-bottom: 0!important; text-transform: uppercase; color: #333; display: block;
								margin: 0; padding: 0 15px; line-height: 38px;
							}
						}
					}
				}
				.actions-toolbar {
					button.action.submit.primary {
						margin: 0 -15px 20px;
						@media only screen and (max-width: 767px) {
							margin: 0;
						}
					}
				}
			}
			.block-customer-login {
				.block-title {
					display: none;
				}
			}

		}
		.custom_login_sec {
			margin-bottom: 20px;
			@media only screen and (max-width: 767px) {
				margin-left: 0;
			}		
		}
		p.secure_content {
			font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; margin-bottom: 40px;
		}
		.login_title {
			color: #333; background-color: #f5f5f5; border-color: #ddd; display: block; margin: 0 -15px; height: 38px; border-bottom: 1px solid #c6c6c6; margin-bottom: 20px;
			h5 {
				font-size: 16px!important; font-weight: bold; margin-bottom: 0!important; text-transform: uppercase; color: #333; display: block; padding: 0 15px; line-height: 38px;
				margin-top: 0px;
			}
		}
		.block-customer-login {
			.block {
				.block-title {
					display: none;
				}
			}
		}
		#register-benefit-popup{
			.modal-content{
				border: 6px solid #3684c6;
				.modal-body{
					padding: 10px 10px 5px !important;
					h2.pop_blue_title{
						background: #3684c6 none repeat scroll 0 0; color: #fff; margin-top: 0; padding: 5px; margin: 0; font-size: 16px; line-height: 18px; 
						text-transform: uppercase; font-weight: 700; border-bottom: 2px solid #cc0000;
					}
					.pop_white_box{
						font-size: 14px; padding: 15px;
						>p{
							font-size: 13px; font-weight: bold; float: left; padding-top: 10px; line-height: 19px;
						}
						.pop_listiteams{
							li{
							    color: #3a3a3a; float: left; font-size: 13px; line-height: 17px; margin-bottom: 6px; padding-left: 15px !important; margin-right: 15px; 
							    min-height: 84px; padding: 7px; width: 47%;
							}
						}
					}
				}
			}
		}
			.modal-backdrop{
				/*position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background: rgba(0, 0, 0, 0.1);*/ display: block !important;
			}
	}
	&.customer-account-createpassword{
		.page-title-wrapper{
			padding: 0;
		}
		.sidebar.sidebar-additional{
			display: block !important;
		}
	}
	&.customer-account-forgotpassword{
		.page-title-wrapper{
			display: none;
		}
		.page-header{
			border: 0; padding: 0;
			h1 {
				border-bottom: 2px solid #cc0000!important;
				font-size: 24px; font-weight: 600; margin-bottom: 10px; text-transform: uppercase; /*margin: 0;*/ margin-top: 17px; color: #333; padding-bottom: 5px; 
				font-family: 'Open Sans', sans-serif !important;
				@media only screen and (max-width: 767px) {
				font-size: 22px;
				}
			}
		}
		.form.password.forget{
			.fieldset{
				width: 100%; margin-bottom: 0;
			.field.email.required{
				label{
					float: left; margin-top: 8px;
					span{
						font-weight: 700; color: #333; 
						}
				}
				.control{
					float: left; width: 50%; margin: 0 0 0 18px;
					@media only screen and (max-width: 767px) {
						width: 100%; margin: 0;
					}
				}
				.clear;
			}

		}
		.actions-toolbar{
			display: inline-block !important; width: auto !important;  padding: 0 !important; margin-left: 50px;
			@media only screen and (max-width: 767px){
				margin-left: 0; width: 100%
			}
			.primary{
				float: right; padding: 0px 10px;
			}
			.secondary{
				float: left; padding: 0px 10px;
				a.action{
					background-color: #9b0005!important; border: 1px solid #9b0005 !important; height: 34px; padding: 0 12px; color: @clr_white; 
					text-transform: capitalize !important; font-size: 14px !important; transition: ease-in-out all 0.3s; color: #fff !important; 
					font-family: 'Open Sans', sans-serif !important; font-weight: normal !important;
					&:hover {
						background-color: #c9302c !important; border: 1px solid #ac2925 !important;
					}
				}
			}
		}
	}	
}
	&.sales-order-view,
	&.sales-order-invoice,
	&.sales-order-creditmemo,
	&.sales-order-shipment{
		.page-title-wrapper {
			h1 {
				display: inline-block !important;
			}
			span.order-status {
				background-color: #fff; border: 1px solid #004f88 !important; height: 34px; padding: 0 12px; color: #004f88; text-transform: capitalize !important; 
				font-size: 14px !important; font-weight: 600; margin: 16px 0 0 16px !important; font-family: 'Open Sans', sans-serif !important;
			}
			.order-date {
				display: block; width: 100%; padding: 12px 0;
			}
			.order-actions-toolbar {
				float: none;
				a.action.order {
					background-color: #9b0005!important; border: 1px solid #9b0005 !important; height: 34px; padding: 0 12px; color: @clr_white; 
					text-transform: capitalize !important; font-size: 14px !important; font-weight: 600; transition: ease-in-out all 0.3s; color: #fff !important; 
					font-family: 'Open Sans', sans-serif !important;
					&:hover {
						background-color: #c9302c !important; border: 1px solid #ac2925 !important;
					}
				}
			}
		}
		ul.items.order-links {
			li {
				strong {
					font-size: 16px; color: #333; font-weight: bold;
				}
			}
		}
		.order-details-items{
			.table-wrapper{
				overflow: auto;
			}
		}
		.block.block-order-details-view {
			margin-top: 30px;
			overflow: auto;
		}
		.order-details-items {
			.actions-toolbar {  
				a.action.print {
					background-color: #9b0005!important; border: 1px solid #9b0005 !important; height: 34px; padding: 0 12px; color: @clr_white; 
					text-transform: capitalize !important; font-size: 14px !important; font-weight: 600; transition: ease-in-out all 0.3s; color: #fff !important; 
					font-family: 'Open Sans', sans-serif !important;
					&:hover {
						background-color: #c9302c !important; border: 1px solid #ac2925 !important;
					}
				}
			}
			.order-title {
				a.action{
					border: 0 !important; background: #fff !important; font-size: 14px !important; color: #004f88 !important; transition: ease-in-out all 0.3s !important; 
					font-weight: 600 !important;
					&:hover {
						color: #004f88 !important;
					}
				}
			}
		}
	}
	&.customer-address-form {
		.block.block-collapsible-nav {
			li.nav.item.current {
				a {
					border: 0; color: #333; font-weight: 600; padding: 0;			
				}
				strong {
					padding: 0 10px; border: 0;
				}
			}
		}
	}	
	&.newsletter-manage-index {
		.form-newsletter-manage{
			.fieldset{
				.field{
					input{
						display: inline-block;
					}
					label{
						display: inline-block;
					}
				}
			}
		}
	}
}

/* 10-06-2019 */
.newsletter-manage-index{
	.page-wrapper{
		#maincontent{
			.columns{
				.column.main{
					display: flex; flex-wrap: wrap; flex-direction: row;
					.form.form-newsletter-manage{
						order: 2; width: 100%;
					}
					.page-title-wrapper{
						order: 1;
					}
				}
			}
		}
	}
}