/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* PLP Landing page 
======================================*/

.checkout-onepage-success{
	.page-wrapper{
		#maincontent{
			padding: 0 20px;
			@media only screen and (max-width: 767px){
				padding: 0 15px;
			}
			.page-title-wrapper{
				padding: 0 5px !important; margin-top: 20px; 
				.page-title{
					border-bottom: 2px solid #cc0000; text-align: center; padding: 0 0 5px; margin: 0 0 10px; line-height: 18px; font-size: 16px; color: #333333; font-family: @OpenSans;
					.base{
						font-size: 16px; font-weight: bold; text-transform: uppercase; color: #333; font-family: @OpenSans; display: block; width: 100%; max-width: 550px; margin: 0 auto;
					}
				}
			}
			.columns{
				.column.main{
					.checkout-success{
						border-top: 1px solid #ddd; padding: 10px 5px;
						a.action.print.print_invoice{
							float: none; margin: 0 0 ; font-size: 14px; line-height: 20px;  font-weight: 400;
							span{
								color: #004f88;
							}
							&:hover{
								text-decoration: underline;
								span{
									color: #9b0005;
								}
							}
						}	
						.success-messages{
							margin-bottom: 0;
							p{
								font-family: @OpenSans; font-size: 14px; line-height: 20px; color: #333333; font-weight: 400; margin-bottom: 0; text-transform: uppercase;
							}
						}
						.account{
							.column{
								padding-bottom: 0; margin-bottom: 0;
								.block{
									margin-bottom: 20px;
									.block-title{
										padding-bottom: 5px; margin-bottom: 15px;
										strong{
											font-family: @OpenSans; font-size: 16px; line-height: 20px; color: #333333; font-weight: 500; text-transform: uppercase; 
										}
									}
									.block-content{
										.box{
											margin-bottom: 0;
											strong{
												span{
													font-family: @OpenSans; font-size: 16px; line-height: 20px; color: #333333; font-weight: 600; 
												}
											}
											.box-content{
												.address{
													font-family: @OpenSans; font-size: 14px; line-height: 20px; color: #333333; font-weight: 400; 
												}
												dl{
													dd{
														table{
															tr{
																th{
																	font-family: @OpenSans; font-size: 16px; line-height: 20px; color: #333333 !important; font-weight: 600; 
																	padding-left: 0;
																}
																td{

																}
															}
														}
													}
												}
											}
										}
									}
									.order-date, .order-total{
										font-family: @OpenSans; font-size: 14px; line-height: 20px; color: #333333; font-weight: 400; text-transform: uppercase; padding-bottom: 0; 
										border: 0;
									}
								}
								.block.block-order-details{

								}
								.order-details-items.ordered{
									padding: 0; border: 0; margin-bottom: 20px;
									.table-wrapper{
										border: 0;
										table{
											thead{
												tr{
													th{
														border-bottom: 0;
													}
												}
											}
											tbody{
												tr{
													background: #F0F1F1;
												}
											}
											tr{
												background: none;
												th, td{
													padding: 8px; font-family: @OpenSans; font-size: 14px; line-height: 20px; color: #333333 !important; font-weight: 400;
													vertical-align: middle; border: 1px solid #ddd;
													&.sku, &.price, &.qty{
														text-align: center;
													}
												}
												th{
													
												}
												td{
													strong, span{
														margin-bottom: 0; font-family: @OpenSans; font-size: 14px; line-height: 20px; color: #333333 !important; font-weight: 400;
													}
												}
											}
											.grand_total{
												th{
													strong{
														font-size: 14px; font-family: @OpenSans; line-height: 20px; color: #333333 !important; font-weight: 700;
													}
												}
												td{
													strong{
														span{
															font-size: 14px; font-family: @OpenSans; line-height: 20px; color: #333333 !important; font-weight: 700;
														}
													}
												}
											}
											tfoot{
												background: none;
												tr{
													background: none;
													th, td{
														background: none;
													}
												}
											}
										}
									}
								}
								.block.block-order-details-view{
									
								}
							}
						}
						.actions-toolbar{
							.primary{
								float: right;
								.action{
									color: @clr_white; background-color: #3071a9; border-color: #285e8e; padding: 5px 15px; min-height: 30px;
									font-size: 12px; line-height: 18px; height: 0;
									span{
										color: @clr_white; text-transform: capitalize; font-size: 12px; line-height: 18px; font-family: @OpenSans;
									}
									&:hover{
										text-decoration: none; background: #b60006;
									}
								}
							}
							.clear;
						}
					}
					#registration{
						border-left: 3px solid #3071a9;
						>div{
							p{
								font-family: @OpenSans; font-size: 14px; line-height: 20px; color: #333333 !important; font-weight: 400;
							}
							form{
								input{
									color: @clr_white; background-color: #3071a9; border-color: #285e8e; padding: 5px 15px; min-height: 30px;
									font-size: 12px; line-height: 18px; height: 0;
									&:hover{
										text-decoration: none; background: #b60006;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}