/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* Pagination 
------------------------------------*/
.pager{
    display: block;
    .toolbar-amount{
        display: none; 
    }
    .pages{
      padding: 0; border: 0; margin: 0; 
        strong{
            display: inline-block; position: static; width: auto; height: auto; line-height: 30px; vertical-align: top;
            color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px; font-weight: normal;
            *{
                width: 100%;
                color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px; 
            }
        }
        ul.items{
            vertical-align: top; display: inline-block; padding: 0 15px; 
            li{
                margin: 0; padding: 0; width: 30px; position: static; 
                color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px;
                a{
                    background: none; border: 0; padding: 0; margin: 0; display: block;
                    color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px; box-shadow: none;
                }
                &.pages-item-previous{
                    a{
                        &:before{
                            content: '\f053'; font-family: @FontAwesome; font-size: 12px;
                        }
                    }
                }
                &.pages-item-next{
                    a{
                        &:before{
                            content: '\f054'; font-family: @FontAwesome; font-size: 12px;
                        }
                    }
                }
                &.current{
                    span{
                        color: @clr_black; font-weight: 600;
                    }
                    *{
                        width: 100%; background: none; 
                        color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px; 
                    }

                    
                }
                &:hover{
                    a{
                        color: @clr_black; 
                        &:before{
                            color: @clr_black; 
                        }
                    }
                    span{
                        color: @clr_black; 
                    }
                }
            }
        }
    }
}