/* variables, Mixins & Fonts */
@import '../dcw_variables.less';

/* Top Banner Slider  
********************************************************/
@import 'dcw_banner_slider.less';

.home_title{
	font-size: 20px;
    font-weight: 600;
    color: #636363;
    border-bottom: 2px solid @clr_blue;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding-top: 25px;
}
.home_sub_title{
	font-size: 16px;
    color: #636363;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: 700;
}
.left_sec{
	padding-right:30px;
	.left_sec ul li {
	    list-style: disc;
	    margin-left: 30px;
	}

}
.left_sec,.right_sec {
    width: 50%;
    float: left;
}
.right_sec{
	form {
    	width: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    margin-top: 20px;
    	input[type="text"] {
		    float: left;
		    width: 85%;
		}
		input[type="submit"] {
		    width: 15%;
		    height: 32px;
		    float: right;
		    background-color: #4598da;
		    color: #fff;
		    font-weight: 700;
		    border: none;
		}
	}
}

