/* variables, Mixins & Fonts */
@import '../dcw_variables.less';

/* Mini Cart Design
*****************************/
@import 'dcw_minicart.less';

/* Mini Search Design
*****************************/
@import 'dcw_minisearch.less';

/* Mini Cart Design
*****************************/
@import 'dcw_main_navigation.less';

header {
	.header.content{
	float: left;
	padding: 15px 20px 0;
		.logo{
			width: 100%;
			max-width: 100%;
			margin-bottom: 5px;
		}
	}
	.panel {
	    float: right;
	    box-shadow: none !important;
	    height: 100px;
	    display: flex;
	    display:-webkit-flex;
		display:-ms-flexbox;
	    justify-content: center;
	    align-items: center;
	}
	.sections.nav-sections {
    float: left;
    margin: 0;
    background: transparent;
    height: 100px;
    display: flex;
    display:-webkit-flex;
	display:-ms-flexbox;
    justify-content: center;
    align-items: center;
    width: 50%;
	    .section-items{
	    	.section-item-content{
	    		nav.navigation{
	    			background: transparent;
	    			ul{
	    				li{
	    					a{
	    						color: @clr_blue;
	    					}
	    					a:hover{
	    						border-color:@clr_blue;
	    					}
	    				}
	    			}
	    		}
	    	}
	    }
	}
}

