/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* Shopping Cart 
-------------------------*/

.cart-container{
	@media only screen and (max-width: 991px){
		.flexDirection(column);
		.displayFlex(flex);
	}

	/* Left Column 
	=======================================*/
	form.form-cart{
		width: 100%; padding: 0;
		@media only screen and (max-width: 991px){
			padding-right: 0; order:1;
		}
		#shopping-cart-table{
			thead{
				background: @clr_light_bg; 
				th{
					padding: 10px 5px; vertical-align: middle; text-align: center; min-width: 120px;
					&:first-child{
						text-align: left;
					}
					&:last-child{
						text-align: right;
					}
				}	
			}
			
			tbody{
				td{
					padding: 10px 5px; vertical-align: middle; text-align: center;
					span{
						font-weight: 500; font-size: 16px;
					}
					&:first-child{
						text-align: left;
						.product-item-photo{
							width: 110px; height: 110px; border: solid 1px #ddd; float: left; vertical-align: middle;  border-radius: 5px;
							background: @clr_white; padding: 0; margin-right: 15px;  overflow: hidden;
							@media only screen and(max-width: 767px){
								position: static; width: auto; height: 65px;
							}
							&:focus{
								outline: none;
							}
							&:hover, &:focus, &:active{
								border-color: #428bca;
							}
						}
						.product-item-details{
							padding: 15px 0 0 0;
							@media only screen and (max-width: 767px){
								width: calc(~"100% - 80px"); float: right; padding: 0 0 10px;
							}
							a{
								font-size: 14px; line-height: 20px; color: #333333; font-weight: 400; .dot_elips; -webkit-line-clamp: 3; height: 64px;
								&:hover{
			                  	    text-decoration: none;
			                  	}
							}
							.grntxt_instock, .black_instock{
			                  font-size: 11px; line-height: 15px; margin-bottom: 0; color: #333333;
			                }
			                .grntxt_instock{
			                  cursor: pointer; font-weight: 600;  color: #019901; text-decoration: none;
			                  	&:hover{
			                  	    color: #9b0005; text-decoration: underline;
			                  	}
			                }
						}
						.clear;
					}
					&:last-child{
						text-align: right;
					}
				}	
			}
		}

		.cart.main.actions{
			a, button{
				display: inline-block;
			}
		}

	}

	/* Right Column 
	=======================================*/
	.cart-summary{
		width: 25%; position: static !important;
		@media only screen and (max-width: 991px){
			width: 100%; order: 2;
		}
	}
}
.checkout-cart-index {
	.column.main{
		padding-left: 7px;
		@media only screen and (max-width: 767px){
			padding-left: 0;
		}
		.breadcrumbs{
			margin-bottom: 25px;
			@media only screen and (max-width: 767px){
				margin-bottom: 15px;
			}
		}
	}
	.cart-empty{
		.empty-cart{
			font-size: 16px; font-weight: 700;  text-transform: uppercase;color: #333; padding-bottom: 5px; line-height: 18px;
			border-bottom: 2px solid #cc0000; font-family: @OpenSans;     margin: 20px 0 30px; padding-top: 0;
			span{
				font-weight: 600;
			}
		}
		p{
			font-size: 14px; line-height: 20px; color: #333333; margin-bottom: 10px;
			a{
				color: #004f88; 
				&:hover{
					color: #9b0005;
				}
			}
		}
	}
	#maincontent{
		padding: 0 15px;
		.page-title-wrapper{
			padding: 0 !important;
			.page-title{
				font-size: 17px; font-weight: 600;  text-transform: uppercase;color: #333; padding-bottom: 5px;
				border-bottom: 2px solid #cc0000;  margin-bottom: 10px; font-family: @OpenSans;     margin: 0 0 30px; padding-top: 0;
    			span{
    				font-weight: 600;
    			}
			}
		}
		.columns{
			.breadcrumbs{
				padding: 0;
			}
			.sidebar.sidebar-additional{
				margin-top: 1px !important;
			}
			.column.main{
				.cart-container{
					form{
						.cart.table-wrapper{
							@media only screen and(max-width: 767px){
								border: 0;
							}
							table{
								thead{
									border: 0;
									tr{
										background: #d9edf7; 
									}
								}
								tbody{
									border: 0;
									tr{
										&:hover{
											background: #f5f5f5;
										}
									}
								}
								tr.grand-total{
									@media only screen and (max-width: 767px){
										display: table; width: 100%;
									}
									td{
										text-align: center;
										@media only screen and (max-width: 767px){
											display: table-cell; width: 33.3%; border: 1px solid #ddd; padding: 8px;
										}
										span{
											font-size: 18px; line-height: 20px; color: #333333; font-weight: 500;
										}
									}
									.grand_total{
										text-align: right;
										span{
											font-weight: 700;
										}
									}
								}
								tr{
									border: 1px solid #ddd; background: #f9f9f9;
									@media only screen and (max-width: 767px){
										border: 0;
									}
									th{
										border: 1px solid #ddd; font-size: 14px; line-height: 20px; color: #333333 !important; font-weight: 700; padding: 8px;
										&.subtotal{
											text-align: center;
										}
									}
									td{
										border: 1px solid #ddd; display: table-cell; padding: 8px;
										@media only screen and (max-width: 767px){
											height: 100%; border: 0; display: inline-block; width: 33.3%;
											&:before{
												background: none; padding: 0px; width: 100%; margin-bottom: 10px; border: 0;
											}
										}
										.product-item-photo{
											.product-image-container{
												.product-image-wrapper{

													.product-image-photo{
														object-fit: contain; width: 100%; height: 100%; padding: 5px;
													}
												}
											}
										}
										.price{
											font-size: 14px; line-height: 20px; color: #666666;  font-weight: 700;
										}
										.input-text.qty{
											margin-top: 0;height: 30px;  width: 60px; text-align: left; padding: 6px 12px; background: @clr_white !important; 
											text-align: center;
											&::-webkit-inner-spin-button, 
										    &::-webkit-outer-spin-button {
										     -webkit-appearance: none; margin: 0; opacity: 1;
										    }
										}
										.actions-toolbar{
											text-align: center;
											.remove{
												.action{
													display: block; margin-top: 5px;
													span{
														border: 1px solid #ddd; border-radius: 2px; color: #ff0000; 
														font-size: 11px; margin-top: 6px; padding: 1px 1px 1px 5px;
														font-weight: 600;
													}
												}
											}
										}
									}
									.col.item{
										border: 0;
										@media only screen and(max-width: 767px){
											width: 100%;
											&:before{
												content: attr(data-th); display: block; font-weight: 600; height: auto; position: static;
												overflow: visible; background: #d9edf7; padding: 8px; margin: -8px -8px 10px; border: 1px solid #ddd; 
												width: calc(~"100% + 16px");
											}
										}
									}
								}
							}
						}
						.cart.main.actions{
							text-align: center;
							>div.col-xs-12{
								@media only screen and(max-width: 767px){
									width: 33.3%;
								}
								@media only screen and(max-width: 567px){
									width: 100%;
								}
							}
							.action{
								background: #9b0005; color: @clr_white; margin-bottom: 3px; border-radius: 0px; border: 1px solid #d43f3a;
								margin:  0 auto; padding: 6px 12px; height: 34px; font-size: 14px;  line-height: 20px;  font-family: @OpenSans;
								@media only screen and (max-width: 767px){
									margin-bottom: 10px;     width: 100%;    max-width: 200px;
								}
								&:hover, &:focus{
									background-color: #c9302c; border-color: #ac2925;
								}
								span{
									text-transform: capitalize;
								}
							}
							.action.update{

							}
						}
					}
				}
			}
		}
	}
}
