/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* Pagination 
------------------------------------*/
.pager{
    display: block;
    .toolbar-amount{
        display: none; 
    }
    .pages{
      padding: 0; border: 0; margin: 0; 
        strong{
            display: inline-block; position: static; width: auto; height: auto; line-height: 30px; vertical-align: top;
            color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px; font-weight: normal;
            *{
                width: 100%;
                color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px; 
            }
        }
        ul.items{
            vertical-align: top; display: inline-block; padding: 0 15px; 
            li{
                margin: 0; padding: 0; width: 30px; position: static; 
                color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px;
                a{
                    background: none; border: 0; padding: 0; margin: 0; display: block;
                    color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px; box-shadow: none;
                }
                &.pages-item-previous{
                    a{
                        &:before{
                            content: '\f053'; font-family: @FontAwesome; font-size: 12px;
                        }
                    }
                }
                &.pages-item-next{
                    a{
                        &:before{
                            content: '\f054'; font-family: @FontAwesome; font-size: 12px;
                        }
                    }
                }
                &.current{
                    span{
                        color: @clr_black; font-weight: 600;
                    }
                    *{
                        width: 100%; background: none; 
                        color: @clr_black; font-family: @Montserrat; font-size: 16px; line-height: 30px; 
                    }

                    
                }
                &:hover{
                    a{
                        color: @clr_black; 
                        &:before{
                            color: @clr_black; 
                        }
                    }
                    span{
                        color: @clr_black; 
                    }
                }
            }
        }
    }
}

.amfinder-index-index {
    .page-title-wrapper{
        display: none;
    }
}

.cms-part-finder, .cms-manual-part-finder{
    .part_finder_main{
        padding: 0 15px; margin-bottom: 50px;
        @media only screen and (max-width: 991px){
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 480px){
            margin-bottom: 15px; padding: 0; 
        }
        .part_finder_title{
            margin: 45px 0;
            @media only screen and (max-width: 767px){
                margin: 25px 0;
            }
            .browse-lft-line{
                border-bottom: 3px solid #cc0000; padding-top: 0px;
                @media only screen and (max-width: 991px){
                    width: 20%; display: inline-block;
                }
                @media only screen and (max-width: 567px){
                    width: 100%; padding-top: 0; line-height: 0;
                }
            }
            .browse{
                @media only screen and (max-width: 991px){
                    text-align: center; width: 60%; display: inline-block;
                }
                @media only screen and (max-width: 567px){
                    width: 100%;
                }
                p{
                    box-shadow: 0 0 20px #ddd inset; background-color: #f6f6f6; border-radius: 5px; color: #002757; font-size: 24px; 
                    font-weight: bold; padding: 11px 14px; text-align: center; width: 100%; max-width: 100%; margin: 0 auto 10px; font-family: @Helvetica;
                    margin: 0;
                    @media only screen and (max-width: 767px){
                        padding: 10px 16px; font-size: 18px;
                    }
                    @media only screen and (max-width: 567px){
                        margin: 10px auto; max-width: fit-content; width: auto;
                    }
                }
            }
            .browse-right-line{
                border-bottom: 3px solid #cc0000; padding-top: 0px;
                @media only screen and (max-width: 991px){
                    width: 20%; display: inline-block;
                }
                @media only screen and (max-width: 567px){
                    width: 100%; padding-top: 0; line-height: 0;
                }
            }  
            .clear;  
        }
        .part_finder_search{
            margin-bottom: 25px; position: relative; z-index: 1;
            @media only screen and (max-width: 767px){
                margin-bottom: 15px;
            }
            .block.block-search{
                float: none; width: 100%; max-width: 500px; margin: 0 auto; padding: 0;
                .block{
                    form{
                        .field{
                            @media only screen and (max-width: 767px){
                                position: relative;
                                .label{
                                    position: absolute; top: 3px; right: 0; margin: 0; cursor: pointer;
                                    &:before{
                                        color: #cc0001; margin: 0; line-height: 23px; font-size: 19px;
                                    }
                                }
                            }
                            .control{
                                border: 0;
                                input{
                                    height: 34px; border-radius: 2px !important; font-family: @Arial !important; font-size: 13px; 
                                    padding-right: 120px; padding-left: 10px; position: static; margin: 0; color: #999999;
                                    @media only screen and (max-width: 767px){
                                        padding-right: 40px;
                                    }
                                }
                            }
                        }
                        .actions{
                            .action.search{
                                height: 34px !important; color: @clr_white; padding: 5px 23px 6px 12px; height: auto; font-size: 14px;
                                 background: #cc0001; 
                                border-radius: 0 5px 5px 0 !important; opacity: 1; right: 0; line-height: 19px; font-family: @Arial;
                                @media only screen and (max-width: 991px){
                                    padding: 5px 15px 6px;
                                }
                                &:before{
                                    content:'\f002'; font-family: @FontAwesome; color: @clr_white; line-height: 19px; padding: 0 8px 0 0;
                                     font-size: 17px;
                                }
                                @media only screen and (max-width: 991px){
                                    &:before{
                                        padding: 0 5px 0 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .search_bottom_content{
                display: none;
            }
        }
        .part_finder_selection{
            .amfinder-common-wrapper{
                background: none; padding: 15px;
                @media only screen and (max-width: 480px){
                    padding: 15px 0;
                }
                form{
                    clear: both; max-width: 100%; margin: 0 auto;
                    .amfinder-title{
                        display: block; color: #333333; font-family: @Helvetica; font-size: 16px; font-weight: bold; line-height: 19px;
                        text-align: center; margin-bottom: 30px; border: 0; background: none;
                        &:after,  &:before{
                            display: none;
                        }
                    }
                    ul.amfinder-toggle{
                        padding: 0; font-size: 0; display: block; border: 0;  margin: 0 auto; text-align: center;
                        li{
                            vertical-align: top; margin: 0; width: 25% !important; padding-right: 15px; font-size: 14px;
                            @media only screen and (max-width: 480px){
                                width: 100% !important; padding-right: 0; margin-bottom: 20px;
                            }
                            &.am-item.-list-item{
                                
                            }
                            &.last.-list-item{
                                float: none; width: auto !important; padding-right: 0; margin-bottom: 0px;  text-align: center;
                                @media only screen and (max-width: 1024px){
                                    width: 100% !important;
                                }
                                .amfinder-buttons{
                                    padding: 00px 0 0; 
                                    @media only screen and (max-width: 1024px){
                                        padding: 20px 0 0; 
                                    }
                                    button{
                                        padding: 6px 12px; height: 30px; background: #9b0005; font-size: 14px; color: @clr_white; 
                                        line-height: 19px; box-shadow: none; border: 0; border-radius: 0; margin-left: 10px;
                                        text-transform: capitalize;
                                        &:hover{
                                            background: #c9302c;
                                        }
                                    }
                                    @media only screen and (max-width: 480px){
                                        padding: 0;
                                    }
                                }
                            }
                            &:last-child{
                                padding-right: 0;
                            }
                            .dropdown-title{
                                display: none;
                            }
                            .dropdown-element{
                                .amfinder-select-wrapper{
                                    &:after{
                                        display: none;
                                    }
                                    select{
                                        color: #666666; font-family: @Arial; font-size: 14px; line-height: 19px; 
                                        background-color: #f5f5f5 !important; border-radius: 4px !important; margin: 0 !important;
                                        background: url('../images/sort-up-and-down-arrows-couple.svg') no-repeat;
                                        background-size: 14px; background-position: 98% 50%;
                                    }
                                }
                            }
                            .chosen-container{
                                .chosen-single{

                                }
                                .chosen-drop{
                                    ul{
                                        li{
                                            width: 100% !important;
                                        }
                                    }
                                }
                            }
                            &:last-child{
                                width: 9% !important; display: inline-block;
                                .button{
                                    background: #cc0001; color: #fff; border: 1px solid #cc0001; padding: 4px 7px;
                                }
                            }
                        }

                        .clear;
                    }
                }
            }
        }
    }
}


 /* manual finder */

.cms-manual-part-finder .manual-result {
    border: none; margin-top: 15px;
}

.cms-manual-part-finder .manual-result #cart_main tr td table {
    border: none;
}

.cms-manual-part-finder .repair-table #cart_main tbody tr,
.cms-manual-part-finder .manual-result #cart_main tbody tr {
    border-bottom: none;
}

.cms-manual-part-finder .repair-table #cart_main tr td,
.cms-manual-part-finder .manual-result #cart_main tr td {
    padding: 0;
}

.cms-manual-part-finder .repair-table #cart_main thead tr,
.cms-manual-part-finder .manual-result #cart_main thead tr {
    border-bottom: 1px solid #B4B4B4;
}

.cms-manual-part-finder .repair-table #cart_main tbody tr td table tbody tr,
.cms-manual-part-finder .manual-result #cart_main tbody tr td table tbody tr {
    border-bottom: 1px solid #B4B4B4;
}

.cms-manual-part-finder .repair-table #cart_main thead,
.cms-manual-part-finder .manual-result #cart_main thead {
    border: none;
}

.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th {
    border: none; padding: 15px;    font-size: 15px; text-align: center;position: relative; line-height: 45px;
}

.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section td,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section td {
    padding: 15px !important;    vertical-align: middle; border: none;position: relative; line-height: 22px; font-size: 15px;
}

.cms-manual-part-finder .manual-result #cart_main .cart_section tbody tr td a {
    color: #fff; background: #9b0005; padding: 1px 15px;
}

.cms-manual-part-finder .manual-result #cart_main .cart_section tbody tr td a:hover {
    color: #fff;
}

.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:after {
    content: ''; position: absolute; right: 0; width: 1px; height: calc(100% - 20px); top: 9px; background: #B4B4B4; 
    vertical-align: middle;
}

.cms-manual-part-finder .repair-table #cart_main tr,
.cms-manual-part-finder .manual-result #cart_main tbody tr td table tbody tr{
    border-bottom: 1px solid #B4B4B4;
}

.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:last-child:after {
    display: none;
}

.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section tbody td:after {
    content: ''; position: absolute; right: 0; width: 1px; height: calc(100% - 14px);    top: 6px; background: #B4B4B4; 
    vertical-align: middle;
}

.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section tbody td:last-child:after {
    display: none;
}

.manual_filter_result {
    width: auto; text-align: center; padding: 17px 0 0;
}

.manual_filter_result span {
    font-size: 14px; color: #052B53; display: inline-block;
}

.manual_filter_result span h5 {
    display: inline; font-weight: 700; font-size: 14px;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(1){ width: 15%;}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th, .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(2){ width:33%;}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th, .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(3){ width: 42%;}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th, .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(4){ width: 10%;}

@media only screen and (max-width: 768px) {
     .cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
     .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(1){ width: 20%;}
    .cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th, .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(2){ width:28%;}
}

@media only screen and (max-width: 767px) {
    .cms-manual-part-finder .manual-result {
        overflow: auto;
    }
}

@media only screen and (max-width: 480px) {
    .cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
    .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th {
        vertical-align: top;
    }
    .cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section td, .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section td{
        padding: 15px 5px 15px 10px !important;
    }
}



/* Popups desgin for all pages*/

.account .modal-inner-wrap .modal-content {
    box-shadow: none; padding: 15px;
    border: none;
}
.account .modal-inner-wrap .modal-footer{
  border: none;
}

.modal-open{
  overflow: auto;
}

.modal-open .modal{
  background: fade(@clr_black, 50%);
}

/* Add to cart popup design*/
body.catalog-product-view, .page-with-filter.page-products, .imports-compare-index {
  .modal{
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999; background: fade(@clr_black, 50%);
    .modal-dialog{
      margin: 50px auto;
      @media only screen and(max-width: 991px){
        margin: 50px 20px;
      }
      @media only screen and(max-width: 480px){
        margin: 50px 10px;
      }
      .modal-content{
        .modal-body{
          position: relative; padding: 20px; z-index: 10;
          .ajax_cart_box{
            .panel{
              margin: 0; overflow: auto;
              .panel-heading{
                background: #428bca;
                img{
                    &.ajax-cart-img{
                        display: none;
                    }
                }
                .panel-title{
                  h3{
                    font-size: 13px; line-height: 21px; color: @clr_white; font-weight: 600; margin: 0; text-transform: uppercase;
                  }
                }
                p{
                  margin: 0; padding: 0; font-size: 0; line-height: 0;height: 0;
                  button#add_to_cart_d, button#add_to_cart_details{
                    position: absolute; right: 0px; top: 0px; background: #990000; border: none; color: @clr_white; border-top-right-radius: 3px; font-weight: bold;
                    font-size: 14px; padding: 0px 6px 1px; border-bottom-left-radius: 3px;  width: 20px; height: 20px; border-radius: 0 5px 0 4px;
                  }
                }
              }
              table{
                padding: 15px;
                table{
                  tr{
                    th{
                      border: 1px solid #ccc; 
                    }
                    td{
                      border: 1px solid #ccc; padding: 5px; vertical-align: middle;
                    }
                  }
                }
                th{
                  font-size: 12px; color: #666666 !important; line-height: 17px; padding: 5px; white-space: nowrap;
                  &.miniqty{
                    width: 60px;
                  }
                }
                td{
                  padding: 0;
                }
                #add_qty{
                  font-size: 12px; color: #666; line-height: 17px; text-align: center;
                }
                #add_to_cart_d, #add_to_cart_details{
                  background: #9d9e9e; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 17px; 
                  text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; display: inline-block;
                  border: 1px solid transparent; color: @clr_white; border: 1px solid #8f8f8f;     margin: 0 20px 8px;
                  &:hover{
                    opacity: 0.8; text-decoration: underline;
                  }
                }
                #sale_add_to_cart_redirect{
                  background: #9b0005; border-color: #d43f3a; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal;
                  line-height: 17px; text-align: center; white-space: nowrap; display: inline-block;     margin: 0 20px 8px;
                  vertical-align: middle; cursor: pointer; border: 1px solid transparent; color: @clr_white;
                  &:hover{
                    background-color: #c9302c; text-decoration: underline;
                  }
                }
                .box2{
                  padding: 0; margin: 20px 20px 8px;
                  table tr:first-child:hover {
                    background: none;
                  }
                  table tr:hover{
                    background-color: #f5f5f5;
                  }
                }
                #product_image{
                  width: 40px;
                  img{
                    width: 40px; height: 40px;
                  }
                }
                #product_title{
                  a{
                    font-size: 12px; color: #666; line-height: 17px; display: block;
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                }
                #product_price{
                  white-space: nowrap; font-size: 12px; color: #666; line-height: 17px;
                  strong{
                    font-size: 12px; color: #666; line-height: 17px; display: inline-block;
                  }
                }
                tr td.actions{
                  table{
                    tr{
                      th{
                        border: 0px solid #ccc;
                      }
                      td{
                         border: 0px solid #ccc; padding: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


/*  call_pop popup  myModalPricePopup  call_msrp_pop */
#call_pop, #myModalPricePopup, #call_msrp_pop{
  z-index: 9999;
  .modal-dialog{ 
    width: 500px; top: 50%; .transform(translateY(-50%)); margin: 0 auto;
    .modal-content{
      .modal-header{
        button.close{
          width: 22px; height: 22px; background: url('../images/topnav_close_1.png') no-repeat; background-size: contain; display: block; opacity: 1;
          span{
            display: none;
          }
        }
        strong{
          font-size: 18px; line-height: 26px; color: #666666; font-weight: 700;
        }
      }
      .modal-body{
        padding: 10px 15px;
        strong{
          font-size: 13px; line-height: 19px; color: #666666; font-weight: 700;
        }
        hr{
          margin: 10px 0;
        }
        p{
          font-size: 14px; line-height: 20px; color: #333333; font-weight: 400;
        }
        div{
          font-size: 14px; line-height: 20px; color: #666666; font-weight: 400;
          h4{
            font-size: 18px; line-height: 18px; color: #666666; font-weight: 500; margin-top: 10px;
            i{
              font-size: 18px; line-height: 18px; color: #9b0005; font-weight: 400;
            }
            strong{
              font-size: 18px; line-height: 18px; color: #0095da; font-weight: 700;
            }
          }
          img{
            width: 71px; height: 71px; margin-right: 25px;
          }
          span{
            font-size: 14px; line-height: 20px; color: #666666; font-weight: 400;
          }
        }
      }
    }
  }
}

/*  myModalPricePopup  */
#myModalPricePopup, #myModal_compare_callforprice{
  .modal-header{
    h4{
      font-size: 18px; line-height: 26px; color: #333333; font-weight: 500;
    }
    .close{
      width: 22px; height: 22px; background: url('../images/topnav_close_1.png') no-repeat; background-size: contain; display: block; opacity: 1;
    }
  }
  .modal-body{
    font-size: 14px; line-height: 20px; color: #666666; font-weight: 400; padding: 10px;
    strong{
      font-size: 14px !important; line-height: 20px !important; color: #333333 !important;
    }
    h4{
      font-size: 18px; line-height: 18px; color: #666666; font-weight: 500; margin-top: 10px;
      i{
        font-size: 18px; line-height: 18px; color: #9b0005; font-weight: 400;
      }
      strong{
        font-size: 18px !important; line-height: 18px !important; color: #0095da !important; font-weight: 700 !important;
      }
    }

  }
}


/*   categoryvideos popup  */
#categoryvideos{
  .modal-dialog{
    width: 612px; 
    .modal-content{
      button.close{
        opacity: 1; padding: 0 4px;
      }
      .modal-body{
        width: 100%; padding: 0 15px 15px; overflow: auto; 
      }
    }
  }
}


/* price match popup  */

#priceMatch{
  .modal-dialog{
    .modal-content{
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); box-shadow: 0 5px 15px rgba(0,0,0,.5); border: 1px solid rgba(0,0,0,.2);
      .modal-body{
        padding: 10px 10px 0;
        .close{
          margin-bottom: 10px; width: 100%; display: block;
          opacity: 1;
          button{
            width: 24px; height: 26px; padding: 0; border-radius: 1px; border-color: #adadad; background: #e8e8e8; color: #444444;
          }
        }
        p{
          font-size: 14px; line-height: 20px; color: #333333; font-weight: 400; margin-bottom: 10px;
          span{

          }
        }
        ul{
          padding-left: 40px; margin-bottom: 15px;
          li{
            margin-bottom: 0;
            p{
              margin-bottom: 0;
            }
          }
        }
        h3{
          border-bottom: 1px solid #9b0005; font-size: 12px; font-weight: 600; margin-bottom: 20px; padding-bottom: 5px;
          text-transform: uppercase; line-height: 21px;
        }
        .priceguarenteedetail{
          text-align: left; font-size: 22px; margin: 0.5em auto; display: block; line-height: 1em; width: 100%; max-width: 250px; color: #1C5174; 
          font-weight: bold; padding-bottom: 5px; clear: both;
          img{
            width: 55px !important; height: auto !important; float: left; margin-right: 10px;
          }
          p{
            font-size: 22px; line-height: 22px; color: #1c5174; font-weight: 700; margin-bottom: 0; margin-top: 5px; position: relative; top: 5px;
            span{
              font-weight: 400;
            }
          }
          .clear;
        }
      }
    }
  }
}


/* myModal_gallery */

#myModal_gallery{
  .modal-header{
    padding: 10px 10px 5px;
    button.close{
      opacity: 1;
    }
  }
  .modal-body{
    padding-top: 10px;
    figure{
      position: relative; padding-bottom: 75%; width: 100%;height: 100%;
      img{
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain;
      }
    }
  }
}

#myModalResellerRating{
  .modal-dialog{
    width: 100%; max-width: 1000px; margin: 0 auto; margin: 50px auto; padding: 0 15px;
  }
  .modal-header{
    border-bottom: 0; padding-bottom: 5px;
    button.close{
      opacity: 1; height: 35px; padding: 6px; width: 35px; border-radius: 100%; background: @clr_white; transition: background-color .5s ease;
      position: relative; right: -7px;
      &:before{
        width: 24px; background: url('../images/icon-close-black.png'); background-repeat: no-repeat;
        height: 24px; content: ''; display: block; background-size: 24px;  /*background-color: @clr_white;*/
      }
      span{
        display: none;
      }
      &:hover{
        background-color: #ea0eea;
        &:before{
          /*background-color: #ea0eea;*/
        }
      }
    }
    .modal-title{
      @media only screen and(max-width: 767px){
          font-size: 18px; line-height: 24px;
        }
      strong{
        @media only screen and(max-width: 767px){
          font-size: 18px; line-height: 24px;
        }
      }
    }
  }
  .modal-body{
    padding-top: 0;
    .acs_product_reviews{
      color: @clr_black;
      .acs_top_container{
        border-bottom: 1px solid #ddd; margin-bottom: 20px; padding-bottom: 15px;
        @media only screen and (max-width: 767px){
          padding-bottom: 0;
        }
        .rr_smb_ratings_container{
          table{
            tr{
              td{
                width: 85%;
                @media only screen and (max-width: 767px){
                  width: 50%;
                }
                &.centerContainer{
                  h4{
                    display: none; 
                  }
                  .rr_smb_starts_container{
                    > span{
                      display: none; width: 100%; 
                    }
                    .acs_rating_bar{
                      .acs_blox{
                        position: relative;
                        .acs_blox_fill{
                          position: absolute; top: 0; left: 0;
                        }
                      }
                    }
                    .rating-count{
                      font-size: 16px; font-weight: 400; color: #000;
                    }
                  }
                }
                &:first-child{
                  width: 15%;
                  @media only screen and (max-width: 767px){
                    width: 50%;
                  }
                }
                &:last-child{
                  display: none;
                }
              }
            }
          }
        }
      }
      .acs_js_reviews_container{
        .acs_review_container{
          .acs_single_review{
            position: relative;
            .acs_js_review_info{
              width: 25%; float: left; padding-bottom: 50px;
              @media only screen and (max-width: 767px){
                width: 100%; float: none; padding-bottom: 00px;
              }
              .acs_user_info{
                padding-right: 25px;
                .acs_user_img{
                  &:before{
                    width: 150px; background: url('../images/generic_user_png.png'); background-repeat: no-repeat;
                    height: 150px; content: ''; display: block; background-size: 150px; margin: 0 auto;
                     @media only screen and (max-width: 991px){
                      height: 100px; width: 100px; background-size: 100px;  margin: 0;
                    }
                    @media only screen and (max-width: 767px){
                      height: 50px; width: 50px; background-size: 50px; 
                    }
                  }
                }
              }
              .acs_reviewer_stats{
                position: absolute; left: 25%; top: 0;
                @media only screen and (max-width: 767px){
                  position: static;
                }
                .acs_verified_user{
                  display: none !important;
                }
                li{
                  font-size: 11px; display: inline-block; width: auto; padding-right: 15px;
                  @media only screen and (max-width: 767px){
                    display: block; width: 100%;
                  }
                  &:last-child{
                    padding-right: 0;
                  }
                  span{
                    font-size: 11px;
                  }
                }
              }
              .acs_heading_lg{
                text-align: center; font-size: 18px; color: @clr_black;
                @media only screen and (max-width: 767px){
                  text-align: left;
                }
              }
              .acs_review_recommend{
               display: none;
              }
              &:after{
                content: ''; display: block; clear: both;
              }
            }
            >.acs_review_summary{
              width: 75%; float: right; display: flex; flex-wrap: wrap; padding-top: 25px;
              @media only screen and (max-width: 767px){
                width: 100%; float: none; padding-top: 0; 
              }
              .acs_score_wrapper{
                width: 100%; display: block; order: 1; margin-bottom: 20px;
                @media only screen and (max-width: 767px){
                  margin-bottom: 10px;
                }
                .acs_rating_score{
                  display: none;
                }
                .acs_rating_bar{
                  .acs_blox{
                    position: relative;
                    .acs_blox_fill{
                      position: absolute; top: 0; left: 0; color: #FF9E32 !important;
                    }
                  }
                }
                .rating-count{
                  font-size: 16px; font-weight: 400; color: #000;
                }
              }
             .acs_heading_lg{
                font-size: 21px; width: 100%; display: block; order: 2;
                color: #672d91;  font-weight: 700; margin-bottom: 30px;
                @media only screen and (max-width: 767px){
                  margin-bottom: 15px;
                }
              }
              .acs_review_text{
                width: 100%; display: block; order: 3; margin-bottom: 20px;
                @media only screen and (max-width: 767px){
                  margin-bottom: 10px;
                }
              }
            }
            >.acs_review_recommend{
              width: auto; float: left; display: inline-block; padding: 10px 15px; border: 1px solid #ccc; border-radius: 10px;
            }
            &:after{
              content: ''; display: block; clear: both;
            }
          }
        }
        #answ_pagination_bottom{
          display: none;
        }
      }
    }
  }
}

.modal-body a#add_to_cart_details{
    /*display: none !important;*/
}