/* variables, Mixins & Fonts */

@import 'dcw_variables.less';

/* Blogs Page design
======================================*/

[class*="blog-"] {
	.column.main {
		padding-left: 10px; padding-bottom: 0; margin-top: 20px;
		@media only screen and (max-width: 767px) {
			padding-left: 0;
		}
		
	}
}
.blog-post-view {
	.column.main{
		a{
			color: #004f88 !important; text-decoration: none !important; transition: ease-in-out all 0.3s;
			&:hover{
				text-decoration: underline !important; color: #9b0005 !important; 
			}
		}
	}	
}
.blog-page{
	.column.main{
		> br{
				display: none !important;
		}	
	}
}
.blog-page {
	font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; font-weight: 400;
	#maincontent {
		padding: 0px 15px !important;
		.page-title-wrapper {
			padding: 0 !important; display: none;
		}
	}
	.row.mtop20 {
		padding: 0 15px;
	}
	h2.post-title {
		width: 100%; max-width: 100%; min-width: 100%; line-height: 28px; margin-bottom: 10px !important; line-height: 14px;
		bottom: 0;
		a {
			 line-height: 15px; font-weight: 700; color: #004f88 !important; transition: ease-in-out all 0.3s;
			&:hover {
				color: #9b0005 !important;
			}
		}
	}
	h1 {
		margin: 0 0 15px; border-bottom: 2px solid #cc0000; font-size: 16px!important; font-weight: bold; margin-bottom: 20px !important; padding-bottom: 5px; 
		text-transform: uppercase; color: #333;
		@media only screen and (max-width: 767px) {
			margin-bottom: 15px !important;
		}
	}
	p {
		font-size: 14px; margin: 0 0 10px; line-height: 20px; color: #333;
		strong {
			line-height: 26px;
		}
	}
	ul {
		li {
			font-size: 14px; margin: 0 0 10px; line-height: 20px;
		}
	}
	.category-content {
		display: none;
	}
	.blog_left_section {
		width: 25%; float: left;
	}
	.blog_right_section {
		width: 75%; float: right; padding-left: 30px;
	}
	.post-list-wrapper {
		background: #fff;
		ol.post-list {
			margin: 0;
		}
	}
	li.post-holder {
		padding: 0; list-style: none;
	}
	.post-content {
		border: 0;
		&:hover {
			box-shadow: none; border: 0;
			img {
				transform: scale(1);
			}
		}
		.post-description {
			.post-text-hld {
				font-size: 14px; color: #333; font-family: @OpenSans !important; font-weight: 400; padding-right: 30px; margin: 0 !important;
				@media only screen and (max-width: 767px) {
					padding-right: 10px;
				}
				p {
					color: #333;
					a{
						img{
							display: inline-block;
						}
					}
				}
			}
			.read_more_date {
				text-align: right;
				.blog_read_more {
					display: inline-block;
					a.post-read-more {
						float: none; padding-top: 0; color: #004f88 !important; transition: ease-in-out all 0.3s;
						&:hover {
							color: #333 !important;
						}
					}
				}
				.publish-date {
					display: inline-block; margin-left: 7px;
					span.value {
						font-size: 14px; color: #333; font-family: 'Open Sans', sans-serif !important; font-weight: 400; text-transform: capitalize; padding-left: 10px;
					}
				}
			}
		}
	}
	.clear;
	.post-holder {
		padding: 0; background: #fff;
		&:hover {
			box-shadow: none; border: 0;
		}
	}
	.post-ftimg-hld {
		padding: 0px 15px;
		@media only screen and (max-width: 767px) {
			padding: 0;
		}
		a {
			padding-bottom: 121%; position: relative; display: block;
			@media only screen and (max-width: 767px) {
				padding-bottom: 35%;
			}
			img {
				object-fit: contain; position: absolute; top: 0; left: 0; height: 100%; width: 100%;
			}
		}
	}
	.blog_main_img {
		float: left; width: 23%;
		@media only screen and (max-width: 767px) {
			width: 100%;
		}
	}
	.blog_main_details {
		float: right; width: 77%; padding: 0px 15px;
		@media only screen and (max-width: 767px) {
			width: 100%; padding: 0;
		}
		a.post-item-link2 {
			border-bottom: 1px solid #9b0005!important; font-size: 12px!important; font-weight: 600!important; line-height: 14px; padding-bottom: 5px!important; 
			text-transform: uppercase !important; text-decoration: none !important; color: #004f88; display: block; margin-bottom: 20px; line-height: 21px;
			&:hover {
				color: #9b0005!important; text-decoration: none!important;
			}			
		}
		.post-header{
			.title{
				p{
					a{
						border: 0 !important; margin: 0 !important;
					}
				}
			}
		}
		.facebook_section {
			float: right; margin-top: -40px;
			@media only screen and (max-width: 767px) {
				margin-top: 30px;
			}
			.facebook { 
				margin-bottom: 10px;
			}
			.blog_read_more {
				a {
					color: #004f88; text-decoration: none!important;
					&:hover {
						color: #9b0005!important;
					}
				}
			}
		}
		.post-description {
			padding: 0;
		}
		.post-header{
			.post-info{
				display: none;
			}
		}
	}
	.clear;
	&.blog-page.blog-category-buyers-guide {
		.post-title-holder {
			width: 80%; margin-bottom: 10px;
			@media only screen and (max-width: 767px) {
				width: 100%;
			}
		}
		.publish-date {
			display: none !important;
		}
		.read_more_date {
			display: none;
		}
		h2 {
			border-bottom: 1px solid #9b0005!important;
		}
		a.post-item-link2 {
			border-bottom: 0 !important;
		}
		.post-info {
			display: none;
		}
	}

.blog_detail_page{
	.meta-title {
		border-bottom: 1px solid #cc0000; color: #006699; font-size: 30px !important; font-weight: bold; margin: 20px 0; padding-bottom: 5px; line-height: 33px;
		}
		.post-title{
			margin-bottom: 15px;
		}
		.post-holder{
			.post-nextprev-hld{
				display: none;				
			}			
		}
		.post-ftimg-hld{
			padding: 0; 
		}
		.post-description {
			padding: 0;
			.post-text-hld{
				padding: 0 !important; margin: 0;
			}
		}
	}	
}




/* Naveen Chances 28-05-2019  */

.blog-page {
	.sidebar.sidebar-additional{
		margin-top: 15px !important;
		.blog-search, .block-categories, .block-recent-posts, .block-archive{
			display: none;
		}
	}
	.blog_detail_page{
		display: flex; flex-wrap: wrap; flex-direction: row;
		.post-ftimg-hld{
			display: none;
		}
		.post-title{
			order: 2; width: 100%; margin: 0;
			> p{
				font-size: 30px; line-height: 33px; color: #006699; font-weight: 700; font-family: @OpenSans; padding-bottom: 5px; margin: 0;
				span{
					font-size: 30px; line-height: 33px; color: #006699; font-weight: 700; font-family: @OpenSans; padding-bottom: 5px; margin: 0;
				}
			}
		}
		.meta-title{
			order: 1; width: 100%;  font-size: 14px; line-height: 20px; color: #333333; font-weight: 400; font-family: @OpenSans;
		}
		.blog_sub_section{
			order: 3; width: 100%;
			.post-view{
				.post-holder{
					.post-bottom{
						display: none;
					}
				}
			}
		}
	}
	.toolbar-blog-posts{
		.pages{
			text-align: right;
			.items.pages-items{
				li{
					margin: 0; padding: 6px 12px; margin-left: -1px; line-height: 20px; color: #428bca; text-decoration: none; background: @clr_white;
					border: 1px solid #ddd;  font-family: @OpenSans; font-size: 14px; height: 34px;
					&.current{
						background: #428bca; border-color: #428bca; font-family: @OpenSans;
						strong{
							z-index: 2; color: @clr_white; cursor: default;  padding: 0; background: #428bca; line-height: 20px; font-family: @OpenSans;
							span{
								color: @clr_white
							}
						}
					}
					
					&:first-child{
						border-radius: 5px 0 0 5px;
					}
					&:last-child{
						border-radius: 0 5px 5px 0;
					}
					&.pages-item-previous{
						a{
							border: 0; background: none; padding: 0; box-shadow: none; margin: 0; box-shadow: none;
							&:before{
								content: 'Prev'; color: #428bca; display: inline-block; font-family: @OpenSans;
							}
						}
					}
					&.pages-item-next{
						a{
							border: 0; background: none; padding: 0; box-shadow: none; margin: 0; box-shadow: none;
							span{
								position: static; color: #428bca; font-size: 14px; line-height: 20px;
							}
							.label{
								display: none;
							}
							&:before{
								display: none;
							}
						}
					}
					a{
						font-size: 14px; line-height: 20px; color: #428bca; background: @clr_white;
					}
					&:hover{
						color: #2a6496; background: #eee; border-color: #ddd;
						a{
							color: #2a6496; background: #eee; text-decoration: underline;
							&.previous{
								&:before{
									text-decoration: underline;
								}
							}
						}
						&.current{
							background: #428bca; border-color: #428bca; 
						}
					}
				}
			}
		}
	}	
}


/* Blog page design
==================*/
.blog-page .blog_detail_page .meta-title{
	    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333; margin: 0 0 7px 0; border: 0 none; 
}
.blog-page .blog_detail_page .post-title{
	    border-bottom: 1px solid #cc0000;
    color: #006699;
    font-size: 30px !important;
    font-weight: bold;
    margin-bottom: 0 !important;
    padding-bottom: 5px;
    line-height: 1.1;
}

body.blog-page .breadcrumbs .items > li.blog{
	display: none !important;
}


.post-content .post-description img{
	display: inline-block !important;
}

.blog-page .blog_main_details a.post-item-link2 * {
    color: #004f88;
    /*font-size: 12px;*/
}


.blog-page.blog-page.blog-category-news-releases a.post-item-link2{text-transform: uppercase !important;}
.blog-page.blog-page.blog-category-buyers-guide a.post-item-link2{
	text-transform: none !important;
}


/*santosh 06june changes*/
.blog-page.blog-post-sump-pump-buyers-guide{
	.sidebar.sidebar-additional {
	    margin-top: 20px !important;
	}
	.blog_detail_page{
		.meta-title{
			margin: 0 0 5px;
		}
		.blog_sub_section{
			.post-view{
				.post-content{
					.guide_content{
						p{
							line-height: 22px;
							img{
							float: right; margin: 0px 20px; border:1px solid #004f88; height: 106px !important; width: 106px !important;
							}
							> a{								
								> img{
									float: right; margin-left: 20px; margin-right: 20px; border:1px solid #004f88;  width: 171px !important; height: 187px !important;
								}
								&:hover{
									img{
										border: 1px solid #333;
									}
								}
							}
						}
						h2{
							margin: 0;
							span{
								color: #004f88 !important; font-size: 16px; line-height: 18px; font-weight: 700; text-transform: uppercase;
							}
						}
						hr{
							margin: 20px 0 4px;
						}
						h3{
							border-bottom: 1px solid #9b0005!important; font-size: 12px!important; font-weight: 600!important; margin-bottom: 20px; padding-bottom: 5px!important; 
							text-transform: uppercase!important; line-height: 21px; margin-top: 20px;
						}
					}
				}
			}
		}
	}
}

.blog-page.blog-post-well-pump-buyers-guide, .blog-post-pond-pump-buyers-guide, .blog-post-transfer-pump-buyers-guide{
	.sidebar.sidebar-additional {
	    margin-top: 20px !important;
	}
	.blog_detail_page{
		h2{
			margin: 0; font-size: 16px; line-height: 18px; font-weight: 700; text-transform: uppercase;
			span{
				font-size: 16px; line-height: 18px; font-weight: 700; text-transform: uppercase;
			}
		}
		h3{
		border-bottom: 1px solid #9b0005!important; font-size: 12px!important; font-weight: 600!important; margin-bottom: 20px; padding-bottom: 5px!important; text-transform: uppercase!important; 
		line-height: 21px;
			span{
				strong{
					span{
						font-size: 12px; font-weight: 700; color: #333; 
					}
				}
			}
		}
		p{
			line-height: 22px;
		}
	}
	&.blog-page.blog-post-well-pump-buyers-guide{
		.blog_detail_page {
				p{
					line-height: 25px;
					&:nth-child(3), &:nth-child(4){
						display: none;
					}
				}
				.ind_link.well.ptop0.no-bg{
					display: none;
				}
			}
		}
	&.blog-post-pond-pump-buyers-guide{
		.blog_detail_page{
			.blog_sub_section{
				.post-view{
					.post-content{
						.guide_content{
							p{
								line-height: 20px;
								img{
									float: right; margin: 0px 20px; border-width: 1px; border-style: solid;
								}			
								strong{
									img{
										height: 120px; width: 120px;
									}
								}
								&:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4){
									img{
										height: 6px; width: 6px;  background: #000; float: left; margin: 0 4px 0 0; position: relative; top: 8px;
									}
								}				
							}
							h2{
								margin: 0;
								span{
									color: #004f88 !important; font-size: 16px; line-height: 18px; font-weight: 700; text-transform: uppercase;
								}
							}
							h3{
								border: 0 !important;
							}
							ul{
								padding-left: 40px; 
								li{
									list-style: disc;
								}
							}
							hr{
								margin: 10px 0;
							}
						}
					}
				}
			}
		}
	}
	&.blog-post-transfer-pump-buyers-guide{
		.blog_detail_page{
			.blog_sub_section{
				.post-view{
					.post-content{
						.guide_content{
							p{
								line-height: 22px;
								img{
									height: 6px; width: 6px;  background: #000; float: left; margin: 0 4px 0 0; position: relative; top: 8px;
								}
								&:nth-child(1){
									img{
										float: right; margin: 12px 4px; height: 240px !important; width: 240px !important; 
									}
								}
							}
							hr{
								margin: 10px 0;
							}
						}
					}
				}
			}
		}

	}
}

.blog-category-news-releases{
	.blog_main_details{
		.post-header{
			h2.post-title{
				border: 0 !important; padding: 0 !important; font-size: 14px !important; 
				a{
					font-size: 14px !important;
				}
			}
		}
		.title{
			margin-bottom: 15px !important; padding-bottom: 15px !important; 
			a, h6{
				font-size: 12px !important;
			}
		} 
		a.post-item-link2{
			border: 0 !important; margin: 0 !important; padding: 0 !important;
			&:hover{
					color: #9b0005 !important;
				}
		}
		h6{
			border-bottom: 1px solid #9b0005!important; margin-bottom: 0px !important; padding-bottom: 10px !important; font-size: 14px !important;
			&:hover{
				color: #9b0005 !important;
			}
			p, span{
				font-size: 12px !important;
				&:hover{
					color: #9b0005 !important;
				}				
			}
			span{
					text-transform: uppercase;
				}
			
			a{
				color: #004f88 !important; text-transform: uppercase;
				&:hover{
					color: #9b0005 !important;
				}
			}
		}		
	}
}

.blog-category-buyers-guide{
	.page-wrapper{
		.breadcrumbs{
			ul{
				li{
					a{
						text-transform: capitalize !important;
					}
				}
			}
		}
	}
	ol.post-list{
		li{
			.blog_main_details{
				.post-header{
					.title{
						width: 80%;
						
					}					
				}
				h2.post-title{
					a{
						font-size: 12px !important;
					}
				}
			}
			h6{
				font-size: 14px; margin-bottom: 10px !important; padding: 0 !important; 
				&:hover{
					color: #9b0005 !important;
				}
				p, span{
					&:hover{
						color: #9b0005 !important;
					}
				}
			}
			a.post-item-link2{
				margin: 0 !important;
				&:hover{
					color: #9b0005 !important;
				}
			}
			.post-content{
				width: 80%;
			}
			a{
				color: #004f88 !important; 
				&:hover{
					color: #9b0005 !important;
				}
			}
		}
	}
}














/*Wordpress Blog*/
.is-blog #maincontent,
.is-blog .breadcrumbs {
  background: #f7f7f7;
}
.is-blog .column.main,
.is-blog .column.main .col-md-12.col-sm-12 {
  padding: 0 !important;
}
.is-blog .column.main .header_banner > p {
  margin: 0 -15px;
  position: relative;
}
.is-blog .column.main .header_banner > p > img {
  height: 290px;
  min-height: 290px;
  width: 100%;
}
.is-blog .page-title-wrapper {
  display: none;
}
.is-blog .sidebar {
  display: none;
}
.is-blog .column.main {
  width: 100% !important;
  padding: 0 15px 50px !important;
  display: flex;
  flex-direction: column;
}
.is-blog .column.main .header_banner {
  order: 1;
}
.is-blog .breadcrumbs {
  order: 2;
  padding: 0;
  padding-top: 23px;
}
.is-blog .breadcrumbs ul.items{
	padding: 0px 0 20px !important;
}
.is-blog .breadcrumbs ul li a {
	color: #003366 !important; font-size: 14px; line-height: 20px; 
}
.is-blog .breadcrumbs ul li a:hover{
	color: #222 !important;
}
.is-blog.wordpress-post-view .breadcrumbs{
	    order: initial;
}
.is-blog .breadcrumbs ul li strong {
  color: #333;
  line-height: 20px;
  font-size: 14px;
}
.is-blog .breadcrumbs ul li:after {
  content: '/' !important;
  font-size: 14px !important;
  background: none;
  height: auto;
  margin: 0 !important;
}

.is-blog .column.main .post-list-wrapper {
  order: 3;
}
.is-blog .column.main br {
  display: none;
}
.is-blog .menu {
  font-size: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.is-blog .menu .pp2_website h3 {
  border: 0 !important;
  color: #fff;
  font-size: 38px !important;
  font-weight: 700 !important;
  margin: 0;
  padding-bottom: 40px;
  line-height: 42px;
  text-transform: uppercase;
  font-family: Montserrat;
}
.is-blog .menu .pp2_website h1 {
  font-size: 80px !important;
  line-height: 74px !important;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: Montserrat;
  padding-bottom: 50px;
  margin: 0;
}
.is-blog .menu p {
  float: none;
  display: inline-block;
  background: url(../images/OuterBlog-vbar.jpg) repeat-x left top;
  margin: 0;
}
.is-blog .header_banner p:nth-child(2) {
  border-top-left-radius: 5px !important;
}
.is-blog .header_banner p:last-child {
  border-top-right-radius: 5px;
}
.is-blog .menu p a {
  margin: 0;
  padding: 13px 20px;
  color: #fff;
  text-transform: capitalize;
  background: url(../images/adscdavc.png) no-repeat;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-family: Montserrat;
}
.is-blog .menu p a:hover {
  text-decoration: underline;
}
.is-blog ol.post-list {
  font-size: 0;
  margin: 0 -15px;
  display: inline-block;
}
.is-blog ol.post-list li {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 0 15px;
  height: 490px;
  min-height: 490px;
  margin-bottom: 30px;
}

.is-blog ol.post-list li .post-image {
  width: 100%;
  margin: 0;
}
.is-blog ol.post-list li .post-image a {
  background: #fff;
  display: block;
  position: relative;
  padding-bottom: 84%;
}
.is-blog ol.post-list li .post-image img {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  object-fit: contain;
  transform: translateY(-50%);
}
.is-blog ol.post-list li:hover .post-image img{
  opacity: 0.8;
}
.is-blog ol.post-list li strong,
.is-blog ol.post-list li .post-tags.post-meta-item a {
  font-size: 11px;
  line-height: 16px;
  color: #333;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.is-blog ol.post-list li .post-tags.post-meta-item strong:hover,
.is-blog ol.post-list li .post-tags.post-meta-item a:hover {
  text-decoration: underline;
}
.is-blog ol.post-list li .post-tags.post-meta-item {
  position: relative;
}
.is-blog ol.post-list li .post-tags.post-meta-item:after {
  background: #003366 !important;
  width: 25px;
  position: absolute;
  height: 6px;
  content: "";
  left: 0;
  bottom: 0;
}
.is-blog ol.post-list li strong,
.is-blog ol.post-list li .post-tags.post-meta-item .post_inner_tags {
  height: 20px;
  min-height: 20px;
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 20px;
}
.is-blog ol.post-list li h2 {
  font-size: 14px;
  line-height: 16px;
  color: #000 !important;
  font-weight: 700;
  font-family: Montserrat;
  text-transform: uppercase;
  min-height: 60px !important;
  max-height: 60px !important;
  margin: 20px 0;
  letter-spacing: 0.020em;
}
.is-blog ol.post-list li h2 a {
  color: #000 !important;
}
.is-blog ol.post-list li h2 a:hover {
  text-decoration: underline;
}
.is-blog ol.post-list li .post-date.post-meta-item {
  color: #888888;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 17px;
  margin: 0;
}
.is-blog ol.post-list li .post-date.post-meta-item strong {
  margin: 0;
  display: none;
}
.is-blog ol.post-list li .post-excerpt {
  color: #666666;
  font-size: 13px;
  min-height: 75px;
  text-align: left;
  overflow: hidden;
  max-height: 57px;
  margin-bottom: 20px;
}
.is-blog ol.post-list li .blog_social {
  color: #333;
  font-size: 11px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;
  float: left;
}
.is-blog ol.post-list li .social_blog_sub{
  display: inline-block; width: auto;
}
.is-blog ol.post-list li .blog_social .share {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 5px 14px;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.is-blog ol.post-list li .blog_social .share a {
  color: #333;
}
.is-blog ol.post-list li .blog_social .share a i {
  margin-left: 7px;
}
.is-blog ol.post-list li .blog_social .social-share {
  display: inline-block;
    position: relative;
    left: -80px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.is-blog ol.post-list li > .blog_social .social_blog_sub:hover .social-share {
    opacity: 1;
    visibility: visible;
    left: 3px;
    transition: all 0.4s ease-in-out;
}
.is-blog ol.post-list li .blog_social .social-share .share-icon {
  display: inline-block;
}
.is-blog ol.post-list li .blog_social .social-share .share-icon a {
  font-size: 14px;
  margin: 0px 4px;
  color: #333;
}
.is-blog ol.post-list li .blog_social .social-share .share-icon a:hover{
	color: #999999;
}
.is-blog ol.post-list li .view {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-top: 3px;
}
.is-blog ol.post-list li .view a {
  background: #C9302C;
  color: #ffffff;
  padding: 5px 15px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: .25s;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}
.is-blog ol.post-list li .view a:hover {
  background: transparent;
  color: #333;
}
.is-blog .pager {
  display: block !important;
}
.is-blog .pager .pages strong#paging-label {
  display: none;
}
.is-blog .pager .pages ul {
  width: 100%;
  position: relative;
}
.is-blog .pager .pages ul li a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.is-blog .pager .pages ul li {
  display: none;
}
.is-blog .pager li.item.pages-item-previous {
  display: inline-block !important;
  width: auto;
  margin: 20px 0;
  position: absolute;
  left: 0;
}
.is-blog .pager li.item.pages-item-next {
  display: inline-block !important;
  width: auto;
  margin: 20px 0;
  position: absolute;
  right: 0;
}
.is-blog .pager li.item.pages-item-previous a {
  float: left;
  transition: .25s;
  display: inline-block;
}
.is-blog .pager li.item.pages-item-next a {
  float: right;
  transition: .25s;
  display: inline-block;
}
.is-blog .pager .pages li.item.pages-item-previous a:before {
  content: 'newer post';
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 20px 0;
  font-weight: bold;
  padding: 5px 30px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #C9302C;
  border: 1px solid #C9302C;
  float: right;
  transition: .25s;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.is-blog .pager .pages li.item.pages-item-next a:before {
  content: 'older post';
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 20px 0;
  font-weight: bold;
  padding: 5px 30px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #C9302C;
  border: 1px solid #C9302C;
  float: right;
  transition: .25s;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.is-blog .pager .pages li.item.pages-item-next a:hover:before,
.is-blog .pager .pages li.item.pages-item-previous a:hover:before {
  background-color: #F1F1F1;
  border: 1px solid #F1F1F1;
  color: #333 !important;
  text-decoration: underline;
  float: right;
  transition: .25s;
}
.is-blog.wordpress-post-view .page-title-wrapper {
  display: block;
}
.is-blog.wordpress-post-view .page-title-wrapper h1.page-title {
  display: none !important;
}
.is-blog.wordpress-post-view .breadcrumbs ul li a{
font-weight: bold; color: #003366 !important;
}
.is-blog.wordpress-post-view .breadcrumbs ul li a:hover{
	color: #222 !important;
}
.is-blog.wordpress-post-view .custom_title {
  margin: 50px 0 20px; /*position: relative; */
}
.is-blog.wordpress-post-view .custom_title h2 {
  padding: 0 5%;

}
.is-blog.wordpress-post-view .custom_title h2 a {
  font-size: 45px !important;
  line-height: 50px;
  text-transform: capitalize;
  color: #000 !important;
  margin-top: 0;
  text-align: center;
  display: block;
  font-weight: 700;
  font-family: Montserrat;
}
.is-blog.wordpress-post-view .custom_title h2 a:hover{
  text-decoration: underline;
}
.is-blog.wordpress-post-view .custom_title .border_slash {
  background: #3545A5 !important;
  height: 8px;
  width: 92%;
  position: relative;
  bottom: -16px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.is-blog.wordpress-post-view .custom_title .border_slash:before{
	content: '';
	    border-width: 8px 2px 0 0;
    border-color: #fff transparent transparent transparent;
    left: 0;
    position: absolute;
    border-style: solid;
    /*top: 50%;*/
    z-index: 2;
}
.is-blog.wordpress-post-view .custom_title .border_slash:after{
	border-width: 0 0 8px 2px;
    border-color: transparent transparent #fff transparent;
    right: 0;
    content: "";
    position: absolute;
    border-style: solid;
    top: -1px;
    z-index: 2;
}
.is-blog.wordpress-post-view .author {
  /*order: 1;*/
  text-align: center;
  width: 37%;
  position: relative;
  background: #F7F7F7;
  margin: 0 auto;
}
.is-blog.wordpress-post-view .author:before{
	content: '';
	border-width: 0 0 8px 2px;
    border-color: transparent transparent #fff transparent;
    left: -2px;
    position: absolute;
    border-style: solid;
    top: 7px;
    z-index: 2;
}
.is-blog.wordpress-post-view .author:after{
	    border-width: 8px 2px 0 0;
    border-color: #fff transparent transparent transparent;
    right: -2px;
    content: "";
    position: absolute;
    border-style: solid;
    top: 8px;
    z-index: 2;
}
.is-blog.wordpress-post-view .post-view .post-entry {
  order: 2;
}
.is-blog.wordpress-post-view .post-view .post-meta {
  order: 3;
  font-size: 0;
}
.is-blog.wordpress-post-view .post-view #comments {
  order: 4;
  background: #fff;
  padding: 2%;
}
.is-blog.wordpress-post-view .author .post-date.post-meta-item,
.is-blog.wordpress-post-view .author .post-user.post-meta-item {
  margin: 0;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  color: #000 !important;
  font-weight: 400 !important;
  padding-right: 10px;
  margin-right: 6px;
  border-right: 1px solid #000;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
.is-blog.wordpress-post-view .author .post-user.post-meta-item a:hover {
  text-decoration: underline;
  color: #222 !important;
}
.is-blog.wordpress-post-view .author .post-user.post-meta-item {
  border: 0;
  margin: 0;
  padding: 0;
}
.is-blog.wordpress-post-view .post-view .post-image {
  display: none;
}
.is-blog.wordpress-post-view .post-view .post-content {
  background: transparent;
  border: 0;
  margin-top: 30px;
  box-shadow: none;
}
.is-blog.wordpress-post-view .post-entry .post-content p {
  font-size: 17px;
  line-height: 24px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.is-blog.wordpress-post-view .post-entry .post-content p a{
  color: #3545A5; 
}
.is-blog.wordpress-post-view .post-entry .post-content p a:hover{
  text-decoration: underline; color: #000;
}
.is-blog.wordpress-post-view .post-entry .post-content a img {
  margin: 0 auto;
}
.is-blog.wordpress-post-view .post-entry .post-content pre{
  display: inline-block;
}
.is-blog.wordpress-post-view .post-view .post-meta .post-categories.post-meta-item {
  display: none;
}
.is-blog.wordpress-post-view .post-view .post-meta .post-tags.post-meta-item {
  width: 50%;
  padding: 0 5%;
  margin: 0;
}
.is-blog.wordpress-post-view .post-view .post-meta .post-tags.post-meta-item strong {
  display: none;
}
.is-blog.wordpress-post-view .post-view .post-meta .post-tags.post-meta-item a {
  background-color: #f1f1f1;
  padding: 5px 10px;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  transition: .25s;
  margin-right: 5px;
  display: inline-block;
}
.is-blog.wordpress-post-view .post-view .post-meta .post-tags.post-meta-item a:hover {
  background-color: #3545A5;
  color: #ffffff;
  text-decoration: underline;
}
.is-blog.wordpress-post-view .post-view .post-meta .blog_social {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 0 5%;
  float: right;
}
.is-blog.wordpress-post-view .post-view .post-meta .social_blog_sub {
  float: right; position: relative;
}
.is-blog.wordpress-post-view .post-view .post-meta .blog_social .share {
  font-size: 11px;
  line-height: 16px;
  color: #333;
  font-weight: 700;
  padding: 5px 0;
  display: inline-block;
}
.is-blog.wordpress-post-view .post-view .post-meta .social_blog_sub .social-share {
    display: inline-block;
    position: relative;
    right: -20px;
    left: auto !important;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.is-blog.wordpress-post-view .post-view .post-meta .blog_social:hover .social-share {
    opacity: 1;
    visibility: visible;
    right: 30px;
}
.is-blog.wordpress-post-view .post-view .post-meta .blog_social .share i {
  padding-left: 5px;
}
.is-blog.wordpress-post-view .post-view .post-meta .blog_social .share-icon {
  font-size: 14px;
  display: inline-block;
  color: #333;
  padding: 5px;
}
.is-blog.wordpress-post-view .post-view .share-icon a:hover{
	color: #999999;
}
.is-blog.wordpress-post-view .post-view .post-meta .blog_social a {
  text-decoration: none;
  color: #333;
}
.is-blog.wordpress-post-view #comments .fieldset .legend {
  font-size: 25px;
  line-height: 28px;
  color: #333;
  font-weight: 700 !important;
  font-family: Montserrat;
  border: 0;
  margin-bottom: 5px;
}
.is-blog.wordpress-post-view #comments .fieldset .required-fields {
  font-size: 15px;
  line-height: 21px;
  color: #333;
  margin: 0 0 20px;
}
.is-blog.wordpress-post-view #comments .fieldset .field.required {
  display: inline-block;
  width: 48%;
  margin-right: 15px;
}
.is-blog.wordpress-post-view #comments .fieldset .field label {
  display: inline-block;
  color: #333333 !important;
  font-weight: normal;
  padding-left: 0;
  font-size: 14px;
}
.is-blog.wordpress-post-view #comments .fieldset .field input {
  height: 40px;
}
.is-blog.wordpress-post-view #comments .fieldset .field textarea {
  height: 100px;
}
.is-blog.wordpress-post-view #comments .actions-toolbar {
  float: right;
}
.is-blog.wordpress-post-view #comments .actions-toolbar button {
  margin: 0;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  background-color: #CC0000 !important;
  font-weight: normal;
  padding: 0px 24px;
}
.is-blog.wordpress-post-view #comments .actions-toolbar button:hover {
  opacity: 0.7;
}
.post-list-wrapper li.item.video .video {
  position: relative;
}
.post-list-wrapper li.item.video .wpvl_auto_thumb_play {
  position: absolute;
}
.post-list-wrapper li.item.video .wpvl_auto_thumb_play {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}




.is-blog #cboxWrapper,
.is-blog #cboxContent{
  height: auto !important; 
}

.is-blog #cboxContent{
	    border-radius: 5px; position: relative; overflow: initial;

}
.is-blog #cboxCurrent {
    position: static;
    width: 100%;
    margin: 0 0 30px 0 !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 20px !important;
    display: block !important;
    padding: 15px;
    margin-top: -1px !important;

}

.is-blog #colorbox {
    outline: 0;
    height: 100% !important;
    min-height: 100% !important;
}
.is-blog #colorbox .cboxIframe{
	padding: 8px;
}
.is-blog #cboxCurrent h4, #cboxCurrent strong{
  color: #333; font-size: 14px;
    line-height: 20px;
}

.is-blog #cboxLoadedContent{
  margin: 0 !important;
}

#cboxCurrent h4{
    font-size: 20px !important;
    line-height: 23px !important;
    color: #333 !important;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 10px;
}

#cboxCurrent > div {
	color: #333; font-size: 14px;
    line-height: 20px;
}

#cboxClose{
	position: absolute; top: -3px; right: -18px; background: url("../images/sprite.png") 0 0; height: 27px; width: 27px;
}
#cboxClose:hover {
    background-position: initial;
}

.is-blog.wordpress-post-view .post-entry iframe{
    width: 100% !important;
    height: 505px !important;
}