/* variables, Mixins & Fonts */
@import 'dcw_variables.less';

/* PLP Listing page 
======================================*/
.pricing_sec {
    float: left;
    .border_sec {
      border: 2px solid @clr_blue;
      padding: 10px;
      margin-bottom: 30px;
      border-radius:5px;
    }
    .border_sec:hover {
      background-color: rgba(221, 221, 221, 0.4);
    }
    span {
      display: block;
      text-align: center;
      margin: 8px 0;
    }
    h4.price_heading {
      font-size: 20px;
      color: @clr_blue;
      text-align: center;
      font-weight: 700;
    }
    .pricing_sec span {
      width: 100%;
      display: block;
      font-size: 16px;
      margin: 8px 0;
      text-align: center;
    }
    .over_content{
      text-align: center;
      .pdf_sec a{
        color: @clr_blue;
        font-weight: 700;
      }
      .order_btn_sec{
        margin:25px;
        a{
          color: #fff;
          width: 100%;
          background-color: @clr_blue;
          display: block;
          height: 40px;
          font-weight: 700;
          line-height: 40px;
          border-radius: 15px;
        }
      }
    }
}