@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* PLP Listing page 
======================================*/
.pricing_sec {
  float: left;
}
.pricing_sec .border_sec {
  border: 2px solid #4598da;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.pricing_sec .border_sec:hover {
  background-color: rgba(221, 221, 221, 0.4);
}
.pricing_sec span {
  display: block;
  text-align: center;
  margin: 8px 0;
}
.pricing_sec h4.price_heading {
  font-size: 20px;
  color: #4598da;
  text-align: center;
  font-weight: 700;
}
.pricing_sec .pricing_sec span {
  width: 100%;
  display: block;
  font-size: 16px;
  margin: 8px 0;
  text-align: center;
}
.pricing_sec .over_content {
  text-align: center;
}
.pricing_sec .over_content .pdf_sec a {
  color: #4598da;
  font-weight: 700;
}
.pricing_sec .over_content .order_btn_sec {
  margin: 25px;
}
.pricing_sec .over_content .order_btn_sec a {
  color: #fff;
  width: 100%;
  background-color: #4598da;
  display: block;
  height: 40px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 15px;
}
