@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
.cms-customshiping,
.cms-customshippingbyweight {
  background: url(../images/main_bg.gif) repeat-x rgba(0, 0, 0, 0);
  background-size: cover;
}
.cms-customshiping .page-wrapper,
.cms-customshippingbyweight .page-wrapper {
  width: 100%;
  max-width: 1366px;
}
.cms-customshiping .page-wrapper #maincontent,
.cms-customshippingbyweight .page-wrapper #maincontent {
  background: transparent;
}
.cms-customshiping .page-wrapper #maincontent .columns .column.main,
.cms-customshippingbyweight .page-wrapper #maincontent .columns .column.main {
  width: 100% !important;
}
.cms-customshiping .page-wrapper #maincontent .block,
.cms-customshippingbyweight .page-wrapper #maincontent .block {
  border-radius: 5px;
  background: #ffffff !important;
  margin: 20px;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-calculation,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-calculation {
  max-width: 100%;
  padding: 1px 20px 0;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-calculation h2.calc_title,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-calculation h2.calc_title {
  position: relative;
  background: linear-gradient(to bottom, #4e81b8 0%, #30639a 100%);
  border-radius: 5px;
  color: #dddddd;
  font-size: 14px !important;
  padding: 14px;
  margin: 20px 0;
}
@media only screen and (max-width: 767px) {
  .cms-customshiping .page-wrapper #maincontent .block .shipping-calculation h2.calc_title,
  .cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-calculation h2.calc_title {
    padding: 4px;
  }
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-calculation h2.calc_title a,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-calculation h2.calc_title a {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 767px) {
  .cms-customshiping .page-wrapper #maincontent .block .shipping-calculation h2.calc_title a,
  .cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-calculation h2.calc_title a {
    right: 2px;
  }
}
.cms-customshiping .page-wrapper #maincontent .block p.calc_txt,
.cms-customshippingbyweight .page-wrapper #maincontent .block p.calc_txt {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 18px;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .fieldset,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .fieldset {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .fieldset .field,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .fieldset .field {
  display: inline-block;
  padding: 8px 10px;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .cms-customshiping .page-wrapper #maincontent .block .shipping-form .fieldset .field,
  .cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .fieldset .field {
    padding: 8px 0;
  }
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .fieldset .field .label,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .fieldset .field .label {
  font-weight: normal;
  padding-right: 0;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .fieldset .field .label:after,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .fieldset .field .label:after {
  display: none;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .fieldset .field .control,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .fieldset .field .control {
  display: inline-block;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .fieldset .field .control input,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .fieldset .field .control input {
  height: 34px;
  line-height: 34px;
  width: 70px;
  padding: 0 8px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .cms-customshiping .page-wrapper #maincontent .block .shipping-form .fieldset .field .control input,
  .cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .fieldset .field .control input {
    width: 60px;
  }
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .actions-toolbar,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .actions-toolbar {
  display: inline-block;
  vertical-align: middle;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .actions-toolbar .primary button,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .actions-toolbar .primary button {
  height: 23px;
  min-height: 23px;
  line-height: 22px;
  padding: 0 15px;
  text-transform: capitalize;
  background-color: #9b0005;
  color: #ffffff;
  font: 12px/19px open sans, Helvetica, sans-serif;
}
@media only screen and (max-width: 767px) {
  .cms-customshiping .page-wrapper #maincontent .block .shipping-form .actions-toolbar .primary button,
  .cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .actions-toolbar .primary button {
    margin-left: 6px;
    padding: 0 5px;
  }
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods {
  width: 60%;
}
@media only screen and (max-width: 767px) {
  .cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods,
  .cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods {
    width: 100%;
  }
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr {
  border: 0;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr:nth-child(1),
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr:nth-child(1) {
  border-bottom: 1px solid #000000;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr:nth-child(2) td,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr:nth-child(2) td {
  color: #4476ae !important;
  font-size: 13px !important;
  font-weight: 700 !important;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr th,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr th {
  color: #4476ae !important;
  font-size: 13px;
  padding: 11px 8px;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr th:nth-child(2),
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr th:nth-child(2) {
  text-align: center;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr td,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr td {
  border: 0;
  font: 14px "Open Sans", sans-serif !important;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr td:nth-child(2),
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container table.items.methods tr td:nth-child(2) {
  text-align: center;
}
.cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container > div,
.cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container > div {
  width: 60% !important;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .cms-customshiping .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container > div,
  .cms-customshippingbyweight .page-wrapper #maincontent .block .shipping-form .shipping-calculation-result-container > div {
    width: 100% !important;
  }
}
