@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* PDP page
------------------*/
body.catalog-product-view.page-layout-1column {
  /* Left Column 
	=======================================*/
  /* Gallery design
	----------------------------------*/
  /* Gallery design ends
	----------------------*/
  /* Right Column 
	=======================================*/
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .column.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px !important;
  }
  body.catalog-product-view.page-layout-1column .column.main .product.media {
    order: 1;
    width: 100%;
    padding: 0px;
  }
  body.catalog-product-view.page-layout-1column .column.main .product-info-main {
    order: 2;
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }
  body.catalog-product-view.page-layout-1column .column.main .product.info.detailed {
    order: 3;
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }
}
body.catalog-product-view.page-layout-1column .product.media {
  width: 24%;
  margin: 15px 0 30px 0;
  padding: 0 5px 0 15px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.media {
    width: 100%;
    padding: 15px 0;
  }
}
body.catalog-product-view.page-layout-1column .product.media .gallery-placeholder {
  position: relative;
  width: 100%;
  padding: 0px;
  min-height: 240px;
  margin-bottom: 30px;
  display: block;
}
body.catalog-product-view.page-layout-1column .product.media .gallery-placeholder .loading-mask {
  position: absolute;
  z-index: 1;
  max-height: 240px;
  height: 100%;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.media .gallery-placeholder .loading-mask {
    padding-bottom: 30% !important;
  }
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.media .gallery-placeholder .loading-mask {
    padding-bottom: 37% !important;
  }
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.media .gallery-placeholder .loading-mask {
    padding-bottom: 90% !important;
  }
}
body.catalog-product-view.page-layout-1column .product.media .gallery-placeholder .loading-mask .loader img {
  z-index: 1;
}
body.catalog-product-view.page-layout-1column .product.media .gallery-placeholder .fotorama__stage {
  min-height: 220px;
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 0px;
  margin-bottom: 10px;
  max-height: 240px;
}
body.catalog-product-view.page-layout-1column .product.media .gallery-placeholder .fotorama__stage * {
  max-height: 240px;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews {
  padding-left: 0 !important;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .leftPanel {
  width: 49%;
  float: left;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .leftPanel {
    width: 30%;
    display: inline-block;
  }
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .leftPanel {
    width: 50%;
    display: inline-block;
  }
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .leftPanel img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget br {
  display: none;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel {
  width: 51%;
  float: right;
  padding-left: 5px;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper,
  body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper,
  body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel {
    width: 50%;
    display: inline-block;
  }
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_top_content,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_top_content {
  display: inline-block;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_top_content .reseller_list_count .rating-stars,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_top_content .reseller_list_count .rating-stars {
  display: inline-block;
  text-decoration: none !important;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_top_content .reseller_list_count .rating-stars ul,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_top_content .reseller_list_count .rating-stars ul {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_top_content .reseller_list_count .rating-stars ul li,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_top_content .reseller_list_count .rating-stars ul li {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 16px;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_top_content .reseller_list_count .rating-stars ul li span,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_top_content .reseller_list_count .rating-stars ul li span {
  color: #dddddd;
  font-size: 15px;
  line-height: 16px;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_top_content .reseller_list_count .rating-stars ul li.selected span,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_top_content .reseller_list_count .rating-stars ul li.selected span {
  color: #ff9e32;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_top_content .reseller_list_count .rating-stars span,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_top_content .reseller_list_count .rating-stars span {
  font-size: 12px;
  line-height: 17px;
  display: inline-block;
  vertical-align: top;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_bottom_content,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_bottom_content {
  line-height: 15px;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_bottom_content a,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_bottom_content a {
  color: #004f88;
  font-size: 12px;
  line-height: 17px;
  cursor: pointer;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_bottom_content a:hover,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_bottom_content a:hover {
  color: #9b0005;
  text-decoration: underline;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper .review_bottom_content span,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel .review_bottom_content span {
  color: #333333;
  font-size: 12px;
  line-height: 17px;
  cursor: pointer;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper #answ_reviews_widget #acs_product_reviews_widget .acs_score_wrapper .acs_rating_bar span,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel #answ_reviews_widget #acs_product_reviews_widget .acs_score_wrapper .acs_rating_bar span {
  font-size: 14px;
  line-height: 17px;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper #answ_reviews_widget #acs_product_reviews_widget .acs_score_wrapper .acs_widget_rating,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel #answ_reviews_widget #acs_product_reviews_widget .acs_score_wrapper .acs_widget_rating {
  color: #333333;
  font-size: 12px;
  line-height: 17px;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper #answ_reviews_widget #acs_product_reviews_widget .acs_widget_links a,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel #answ_reviews_widget #acs_product_reviews_widget .acs_widget_links a,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper #answ_reviews_widget #acs_product_reviews_widget .review_bottom_content a,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel #answ_reviews_widget #acs_product_reviews_widget .review_bottom_content a {
  color: #004f88;
  font-size: 12px;
  line-height: 17px;
}
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper #answ_reviews_widget #acs_product_reviews_widget .acs_widget_links a:hover,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel #answ_reviews_widget #acs_product_reviews_widget .acs_widget_links a:hover,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget #RR_PR_Widget_Wrapper #answ_reviews_widget #acs_product_reviews_widget .review_bottom_content a:hover,
body.catalog-product-view.page-layout-1column .product.media .inside-img-reviews .undefined #RR_Product_Widget .rightPanel #answ_reviews_widget #acs_product_reviews_widget .review_bottom_content a:hover {
  color: #9b0005;
}
body.catalog-product-view.page-layout-1column .product.media .pop_img {
  text-align: right;
  position: absolute;
  top: 6px;
  right: 12px;
  z-index: 2;
  cursor: pointer;
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap {
  /* Gallery big images

			/* Thumb nail wrapper 
			--------------------*/
  /* Gallery caption 
			--------------------*/
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap {
  height: 70px;
  /* Thumbnail section
				-----------------------*/
  /* Thumb horizontal view 
				----------------------*/
  /* Thumb vertical view
				--------------------*/
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav {
  /* Thumb nail Arrows 
					--------------------*/
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__nav__shaft {
  padding: 0 15px;
  /* Thumb nail Images 
						----------------------*/
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__nav__shaft .fotorama__thumb-border {
  width: 75px !important;
  height: 75px !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  display: none;
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__nav__shaft .fotorama__nav__frame {
  width: 65px !important;
  height: 65px !important;
  /* Thumb nail Dots 
							--------------------*/
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__nav__shaft .fotorama__nav__frame.fotorama__nav__frame--thumb {
    display: inline-block;
    padding-right: 3px;
  }
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__nav__shaft .fotorama__nav__frame.fotorama__nav__frame--thumb .fotorama__thumb {
  border: 2px solid rgba(0, 79, 136, 0.3);
  padding: 5px;
  background: #ffffff;
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__nav__shaft .fotorama__nav__frame.fotorama__nav__frame--thumb .fotorama__thumb .fotorama__img {
  height: 100%;
  object-fit: contain;
  left: 0;
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__nav__shaft .fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active .fotorama__thumb {
  border: 2px solid #004f88;
  transform: translate3d(0px, 0px, 0px);
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__nav__shaft .fotorama__nav__frame.fotorama__nav__frame--dot {
  display: none;
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__thumb__arr {
  display: block !important;
  height: 70px;
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__nav-wrap.fotorama__nav-wrap--horizontal .fotorama__nav__shaft {
  height: 70px;
}
body.catalog-product-view.page-layout-1column .fotorama-item .fotorama__wrap .fotorama__stage__frame .fotorama__caption {
  display: none;
}
body.catalog-product-view.page-layout-1column .product-info-main {
  width: 76%;
  margin-bottom: 30px;
  padding: 15px 15px 0 25px;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main {
    width: 100%;
    padding: 0;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .page-title-wrapper {
  padding: 0 !important;
  width: 75%;
  float: left;
}
body.catalog-product-view.page-layout-1column .product-info-main .page-title-wrapper .page-title {
  padding: 0;
  border: 0;
  margin-top: 0;
  margin-bottom: 15px;
}
body.catalog-product-view.page-layout-1column .product-info-main .page-title-wrapper .page-title span.base {
  color: #004f88;
  font-size: 19px;
  font-weight: 600;
  margin-top: 0;
  line-height: 26px;
  text-transform: none;
  display: block;
  font-family: 'Open Sans', sans-serif;
  /*.dot_elips; height: 76px; -webkit-line-clamp: 3;*/
}
body.catalog-product-view.page-layout-1column .product-info-main .detail_brand_logo {
  float: right;
  width: 25%;
  position: relative;
  padding-bottom: 9.5%;
}
@media only screen and (max-width: 480px) {
  body.catalog-product-view.page-layout-1column .product-info-main .detail_brand_logo {
    padding-left: 10px;
    padding-bottom: 20%;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .detail_brand_logo img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  height: 100%;
  width: 100%;
  padding: 0 0 0 10px;
}
body.catalog-product-view.page-layout-1column .product-info-main:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
body.catalog-product-view.page-layout-1column .product-info-main .sku_brand {
  /*clear: both;*/
  display: block;
  width: 70%;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .sku_brand {
    clear: both;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .sku_brand .sku_name,
body.catalog-product-view.page-layout-1column .product-info-main .sku_brand .sku_detail {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 700;
  display: inline-block;
  width: 37%;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .sku_brand .sku_name,
  body.catalog-product-view.page-layout-1column .product-info-main .sku_brand .sku_detail {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  body.catalog-product-view.page-layout-1column .product-info-main .sku_brand .sku_name,
  body.catalog-product-view.page-layout-1column .product-info-main .sku_brand .sku_detail {
    width: 100%;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .sku_brand .sku_detail {
  width: 63%;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .sku_brand .sku_detail {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  body.catalog-product-view.page-layout-1column .product-info-main .sku_brand .sku_detail {
    width: 100%;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .ship_availble {
  background: #F5F5F5;
  clear: both;
  padding: 15px 12px 5px;
  border-top: 1px solid #EEE;
  margin-top: 16px;
  margin: 10px 0px 0px 0px;
  min-height: 95px;
  position: relative;
}
body.catalog-product-view.page-layout-1column .product-info-main .ship_availble .grntxt_instock,
body.catalog-product-view.page-layout-1column .product-info-main .ship_availble .black_instock {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
body.catalog-product-view.page-layout-1column .product-info-main .ship_availble .grntxt_instock {
  cursor: pointer;
}
body.catalog-product-view.page-layout-1column .product-info-main .ship_availble .black_instock {
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .ship_availble .pull-right {
    float: none !important;
    width: 100%;
    display: block;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price {
  color: #808080;
  border-top: 1px solid #E2E2E2;
  background-color: #eee;
  margin-bottom: 0px !important;
  min-height: 00px;
  padding: 19px 19px 10px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .product-info-price {
    margin: 0;
    width: 100% !important;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .price-box {
  display: block;
  width: 25%;
  float: left;
  position: static;
  padding-bottom: 0;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .price-box .price-wrapper {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .price-box {
    width: 100%;
    position: static;
    padding: 0;
    float: none;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .price-box .price {
  font-size: 20px;
  line-height: 22px;
  color: #9b0005;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .price-box .price .custom_price_lable {
  font-size: 14px;
  line-height: 20px;
  color: #808080;
  display: block;
  margin-bottom: 15px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .price-box .img_info {
  background: url('../images/info.png') no-repeat;
  width: 16px;
  height: 16px;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .label {
  font-size: 14px;
  line-height: 20px;
  color: #808080 !important;
  display: block;
  margin-bottom: 15px;
  padding: 0;
  text-align: left;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .dcw_price_container strong span {
  font-size: 20px;
  line-height: 22px;
  color: #9b0005;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .dcw_price_container .priceguarentee_blue {
  font-size: 10px;
  line-height: 11px;
  color: #004f88;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .dcw_price_container .priceguarentee_blue i {
  font-size: 14px;
  line-height: 14px;
  color: #004f88;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .dcw_price_container .priceguarentee_blue .price {
  font-size: 10px;
  line-height: 11px;
  color: #004f88;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .dcw_price_container .priceguarentee_blue + .dcw-list-page-customs {
  margin-top: 15px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .dcw-list-page-customs {
  padding: 0;
  margin-top: 0px;
  width: 100%;
  line-height: 0;
  margin-top: -3px;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .dcw-list-page-customs {
    width: 100%;
    margin-top: 0;
    line-height: 10px;
    margin-bottom: 15px;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart {
  padding-left: 0;
  width: 50%;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset {
  width: 100%;
  margin-bottom: 10px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .field {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .field label {
  display: block;
  padding: 0;
  width: auto;
  text-align: left;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .field label span {
  font-size: 14px;
  line-height: 20px;
  color: #808080;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .field .control {
  width: auto;
  display: inline-block;
  position: relative;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .field .control input {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  width: 62px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .field .control a {
  position: absolute;
  top: 0;
  right: -23px;
  font-size: 7px;
  padding: 2px 3px;
  border: 1px solid #ccc;
  background: #ffffff;
  text-align: center;
  width: 24px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .field .control a#decrement_qty {
  bottom: 0;
  top: auto;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .field .control a .decre,
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .field .control a .incre {
  color: #333333;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #004f88;
  display: block;
  text-decoration: underline;
  margin-bottom: 10px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions a:hover {
  color: #9b0005;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions button {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  background: #9b0005;
  margin: 0;
  padding: 6px 10px;
  width: auto;
  height: auto;
  min-height: 45px;
  text-transform: none;
  border-color: #ac2925;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions button {
    font-size: 16px;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions button i {
  font-family: 'FontAwesome';
  font-weight: 400;
  font-size: 24px;
  padding-right: 7px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions button span {
  vertical-align: top;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions button:hover {
  background: #c9302c;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions button.callforprice {
  min-height: 34px;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 13px;
  margin: 0 10px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .box-tocart .fieldset .actions button.callforprice i {
  font-size: 14px;
  line-height: 20px;
  padding-right: 4px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .calculate_shipping {
  /*float: right; width: 30%;*/
  padding: 0;
  width: 25%;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .calculate_shipping {
    width: 100%;
  }
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .calculate_shipping a {
  font-size: 14px;
  line-height: 20px;
  color: #004f88;
  display: block;
  text-decoration: underline;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .calculate_shipping a:hover {
  color: #9b0005;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .calculate_shipping span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #808080;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price .calculate_shipping span:before {
  content: '';
  background: url('../images/autoship_24.png') no-repeat;
  background-size: contain;
  display: inline-block;
  height: 24px;
  position: relative;
  top: 6px;
  width: 24px;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-info-price:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
body.catalog-product-view.page-layout-1column .product-info-main .product-social-links {
  margin: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed {
  padding: 30px 15px 5px;
  margin-bottom: 30px;
  border-top: 1px solid #eee;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items {
    margin: 0;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items strong .data.item.title {
  margin: 0px 3px 0 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title a,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items strong .data.item.title a {
  border-radius: 0;
  color: #666;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  padding: 1px 15px;
}
@media only screen and (max-width: 1200px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title a,
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items strong .data.item.title a {
    padding: 1px 25px;
  }
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title a,
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items strong .data.item.title a {
    padding: 5px 7px;
    height: 30px;
    font-size: 13px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title a,
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items strong .data.item.title a {
    padding: 5px 7px;
    height: 37px;
    font-size: 15px;
    line-height: 24px;
  }
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title a:after,
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items strong .data.item.title a:after {
    top: 6px;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title.active a,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items strong .data.item.title.active a {
  color: #9b0005;
  cursor: default;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
  border-radius: 0;
  height: 41px;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title.active a,
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items strong .data.item.title.active a {
    height: 31px;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title.active a:focus,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items strong .data.item.title.active a:focus {
  outline: none;
  box-shadow: none;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.title.active + .data.item.content {
  display: block !important;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content {
  margin-top: 40px;
  padding: 15px 25px;
  display: none;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content {
    border: 1px solid #ccc;
    margin-top: 0;
    border-bottom-color: transparent;
    border-top-color: #9b0005;
    padding: 15px;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .product.attribute.description {
  margin-bottom: 15px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .product.attribute.description .value h2.description_custom_titles {
  border-bottom: 2px solid #cc0000;
  font-size: 16px !important;
  font-weight: bold;
  margin-bottom: 10px !important;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #333;
  margin-top: 20px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .product.attribute.description p {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .product.attribute.description ul {
  list-style: disc !important;
  padding-left: 40px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .product.attribute.description ul li {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .manuals_tab a {
  display: inline-block;
  color: #004f88;
  font-size: 14px;
  line-height: 20px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .manuals_tab a:hover {
  color: #9b0005;
  text-decoration: underline;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .manuals_tab a img {
  display: inline-block;
  width: 16px;
  height: 16px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper .Specifications-box .row .v-line-right {
  border-right: 2px solid #ccc;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper .Specifications-box .row .v-line-right {
    border-right: 0px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .row.vcenter .col-sm-2 {
    width: 30%;
    float: left;
  }
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .row.vcenter .col-xs-10 {
    width: 70%;
    float: right;
    padding: 0;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .row.vcenter:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents h4 {
  margin: 0 0 10px;
  font-size: 16px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents h4.tabs-title {
  font-size: 20px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents strong {
  font-size: 14px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .row .col-xs-10 {
  padding: 55px 15px 15px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .row .col-xs-10 a {
  color: #004f88;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .row .col-xs-10 a:hover {
  text-decoration: underline;
  color: #9b0005;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper #product_tabs_repairparts_contents .related_pdp .leftsection span {
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  color: #333333;
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper #product_tabs_repairparts_contents .related_pdp .leftsection span {
    font-size: 22px;
    margin-bottom: 5px;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper #product_tabs_repairparts_contents .related_pdp .rightsection a {
  background: #9b0005;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  margin: 0 0;
  display: inline-block;
  text-transform: capitalize;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper #product_tabs_repairparts_contents .related_pdp .rightsection a:after {
  content: '';
  background: url('../images/manual-icon-b-white.png') no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 7px;
  vertical-align: middle;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper #product_tabs_repairparts_contents .related_pdp .rightsection a:hover {
  background: #c9302c;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper #product_tabs_repairparts_contents hr {
  margin: 12px 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper #product_tabs_repairparts_contents .row.vcenter {
  text-align: center;
  margin: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper #product_tabs_repairparts_contents .row.vcenter div {
  width: 100%;
  position: relative;
  padding-bottom: 59%;
  height: 100%;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper #product_tabs_repairparts_contents .row.vcenter div img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block.related {
  margin-bottom: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .row {
  margin: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .row > div {
  border-right: 1px solid #ccc;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .row > div:last-child {
  border: none;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .row > div.col-md-5 {
    border-right: 0;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title {
  padding: 10px 0px;
  background: #eee;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title .block-actions strong {
  padding: 6px 00px 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title .block-actions .qty-message {
  margin: 0;
  float: none;
  display: block;
  text-align: left;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title strong {
  font-size: 16px;
  line-height: 23px;
  color: #333333;
  font-weight: 700;
  vertical-align: middle;
  padding: 13px 10px 0;
  min-height: 45px;
  display: inline-block;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title strong button,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title strong button.addalltocart {
  background: #9b0005;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0;
  color: #fff;
  text-decoration: none;
  margin: 0 0;
  display: inline-block;
  text-transform: capitalize;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title strong button:hover,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title strong button.addalltocart:hover {
  background: #c9302c;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title strong button i,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title strong button.addalltocart i {
  padding-right: 5px;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title strong button,
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title strong button.addalltocart {
    font-size: 13px;
    font-weight: 600;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title .check_selecting {
  float: right;
  width: auto;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title .check_selecting label {
  font-size: 11px;
  line-height: 16px;
  color: #333333 !important;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title .check_selecting label:after {
  content: '\f096';
  font-family: 'FontAwesome';
  font-size: 18px;
  vertical-align: middle;
  margin: 10px 0 0 0;
  display: block;
  color: #333333 !important;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title .check_selecting label:after {
    margin-top: 7px;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title .check_selecting label.checked:after {
  content: '\f14a';
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title .check_selecting label span {
    display: block;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .realted_title:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li {
  margin: 0;
  width: 100%;
  /*&:last-child{
													border-bottom: 0 !important;
												}*/
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li {
    width: 50%;
    padding: 10px;
  }
}
@media only screen and (max-width: 567px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li {
    width: 100%;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div {
  padding: 0 15px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div:last-child {
  border: none;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div strong {
  margin: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section {
  width: 68%;
  float: left;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section {
    width: 100%;
    float: none;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box {
  margin: 0 0 10px ;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box .dcw_price_container .price-container .price {
  font-size: 12px;
  line-height: 15px;
  color: #9b0005;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box .dcw_price_container .dcw-list-page-customs {
  display: none;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box .label {
  display: none;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box .dcw_price_container strong.red-txt {
  display: inline-block;
  vertical-align: middle;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box .dcw_price_container strong.red-txt .price_only {
  display: block;
  color: #9b0005;
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
  width: 100%;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box .dcw_price_container strong.red-txt .old-price {
  color: #9b0005;
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box .dcw_price_container .priceguarentee_blue {
  display: none;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box .old-price {
  margin: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .price-box .img_info {
  background: url('../images/info.png') no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 3px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .green-txt {
  display: block;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .green-txt {
    display: inline-block;
    width: auto;
    text-align: left;
    margin-bottom: 10px;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .green-txt .grntxt_instock {
  cursor: pointer;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .green-txt .grntxt_instock,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .green-txt .black_instock {
  margin: 0;
  font-size: 10px;
  line-height: 15px;
  color: #019901;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_price_section .green-txt .black_instock {
    display: block;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect {
  width: 32%;
  float: right;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect {
    width: 100%;
    float: none;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect .field.choice {
  position: static;
  margin-bottom: 5px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect .field.choice label {
  /*display: inline-block; */
  font-size: 12px;
  line-height: 17px;
  color: #333333 !important;
  font-weight: 400;
  padding-right: 5px;
  margin: 0;
  text-transform: uppercase;
  position: static;
  vertical-align: middle;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect .field.choice input {
  /*display: inline-block; margin: 0; vertical-align: middle;*/
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect .field.choice input[type=checkbox] {
  display: none;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect .field.choice input[type=checkbox] + label:after,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect .field.choice input[type=checkbox] + span.label:after {
  content: '';
  cursor: pointer;
  border: 1px solid #ccc;
  background: #f2f2f2;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
  border-radius: 3px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect .field.choice input[type=checkbox]:checked + label:after,
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect .field.choice input[type=checkbox]:checked + span.label:after {
  background-image: url('../images/white_tick.png');
  width: 13px;
  height: 13px;
  background-size: contain;
  vertical-align: middle;
  background-color: #ed653f;
  border-color: #ed653f;
  background-position: 2px;
  background-repeat: no-repeat;
  background-size: 8px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_qty_sect .related_addtocart_sec label {
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  font-weight: 400;
  padding-right: 5px;
  margin: 0;
  display: inline-block;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .custom_related_title strong a {
  color: #004f88;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  display: block;
  padding: 0 10px;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .custom_related_title strong a:hover {
  color: #9b0005;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section {
  margin: 5px 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_logo_sec {
  width: 19%;
  float: left;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_logo_sec {
    width: 100%;
    float: none;
  }
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_logo_sec img {
    width: 50px;
    height: auto;
    margin: 0 auto;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_sku_key {
  width: 81%;
  float: right;
  padding-left: 15px;
  line-height: 12px;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_sku_key {
    width: 100%;
    float: none;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_sku_key .brand_title {
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  font-weight: 400;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_sku_key .related_sku .cat_sku {
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_sku_key .related_sku a {
  font-size: 12px;
  line-height: 17px;
  color: #666666;
  font-weight: 400;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_sku_key .related_sku a:hover {
  text-decoration: underline;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section .related_sku_key .related_key span {
  font-size: 12px;
  line-height: 17px;
  color: #9b0005;
  font-weight: 700;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_sku_section:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_read_ask {
  display: block;
  width: 100%;
  clear: both;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_read_ask small a {
  font-size: 10px;
  line-height: 15px;
  color: #666666;
  font-weight: 400;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .related_read_ask small a:hover {
  text-decoration: underline;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .bckgd_color {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .bckgd_color {
    margin-bottom: 0;
    margin-top: 5px;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info > div .bckgd_color:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info .col-md-5.bg_space {
  padding-right: 0;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_repairparts_contents .additional-attributes-wrapper .block-content .related_content .products.wrapper ol li .product-item-info .col-md-5.bg_space {
    width: 100%;
    padding-left: 0;
  }
}
body.catalog-product-view.page-layout-1column .product.info.detailed .product.data.items .data.item.content .additional-attributes-wrapper #product_tabs_question_contents ._questions ._questions_in .col-xs-6 span {
  font-size: 14px;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom {
  padding: 0 15px;
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .block.amshopby-morefrom {
    order: 4;
    padding: 0;
  }
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-title {
  border: 0;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-title strong {
  border-bottom: 2px solid #cc0000;
  font-size: 20px !important;
  font-weight: bold;
  margin-bottom: 10px !important;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #333;
  margin-top: 20px;
  display: block;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-title strong {
    font-size: 18px !important;
  }
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom {
  border: none;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol .slick-arrow {
  font-size: 0;
  padding: 0;
  position: absolute;
  top: 42%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: none;
  border: 0;
  z-index: 10;
  background: #ffffff !important;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol .slick-arrow.slick-prev {
  left: 2px;
  right: auto;
  box-shadow: 0px 0 10px #ccc inset !important;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol .slick-arrow.slick-prev:after {
  content: '';
  background: url('../images/arrows.png') no-repeat;
  width: 25px;
  height: 36px;
  background-size: 50px;
  display: block;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol .slick-arrow.slick-next {
  right: 2px;
  left: auto;
  box-shadow: 0px 0 10px #ccc inset !important;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol .slick-arrow.slick-next:after {
  content: '';
  background: url('../images/arrows.png') no-repeat;
  width: 25px;
  height: 36px;
  background-size: 50px;
  background-position: -25px;
  display: block;
  position: relative;
  top: 2px;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li {
  width: 16.66%;
}
@media only screen and (max-width: 1200px) {
  body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li {
    width: 20%;
  }
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li {
    width: 25%;
  }
}
@media only screen and (max-width: 567px) {
  body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li {
    width: 50%;
  }
}
@media only screen and (max-width: 320px) {
  body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li {
    width: 100%;
  }
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li .product-item-info {
  border: 0;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li .product-item-info .product-item-photo .product-image-container .product-image-wrapper {
  background: #fff;
  border: 1px solid #dadada;
  position: relative;
  padding-bottom: 100% !important;
  display: block;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li .product-item-info .product-item-photo .product-image-container .product-image-wrapper .product-image-photo {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 10px 17px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 100%;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li .product-item-info .product-item-details {
  padding: 0;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li .product-item-info .product-item-details a {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #666;
  height: 34px;
  margin: 5px 0 10px;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li .product-item-info .product-item-details a:hover {
  text-decoration: underline;
}
body.catalog-product-view.page-layout-1column .block.amshopby-morefrom .block-content .products.wrapper.grid.products-grid.products-morefrom ol li .product-item-info:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
#pop-up-div {
  display: block;
  width: 100%;
}
#pop-up-div p {
  color: #9b0005;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
/*.repaire_parts_footer .addto-cart strong button.addalltocart:after{
    content: ''; background: url('../images/white_cart.png') no-repeat; display: inline-block; width: 16px; height: 16px; background-size: contain;     
    margin: 0px 0 0 15px; vertical-align: middle;
}
*/
.repaire_parts_footer button.addalltocart,
.related_qty_sect button.addalltocart,
.block.related button.addalltocart {
  background: #9b0005;
  padding: 9px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0;
  color: #fff;
  text-decoration: none;
  margin: 0 0;
  display: inline-block;
  text-transform: capitalize;
}
.repaire_parts_footer button.addalltocart:hover,
.related_qty_sect button.addalltocart:hover,
.block.related button.addalltocart:hover {
  background: #c9302c;
}
.repaire_parts_footer button.addalltocart i,
.related_qty_sect button.addalltocart i,
.block.related button.addalltocart i {
  padding-right: 5px;
}
@media only screen and (max-width: 767px) {
  .repaire_parts_footer button.addalltocart,
  .related_qty_sect button.addalltocart,
  .block.related button.addalltocart {
    font-size: 13px;
    font-weight: 600;
  }
}
.related_qty_sect button.addalltocart,
.block.related button.addalltocart {
  padding: 5px 8px;
  font-size: 12px;
  margin-top: 10px;
}
.repair-table,
.cms-manual-part-finder .manual-result {
  margin-bottom: 20px;
  /*input[type="number"]{
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
		    -webkit-appearance: "Always Show Up/Down Arrows" !important;
		    -webkit-appearance: inner-spin-button !important; margin: 0 !important; opacity: 1 !important;
		}
	}*/
}
.repair-table:after,
.cms-manual-part-finder .manual-result:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.repair-table #cart_main,
.cms-manual-part-finder .manual-result #cart_main {
  width: 100%;
}
.repair-table #cart_main table,
.cms-manual-part-finder .manual-result #cart_main table {
  border-collapse: inherit;
  border: 0;
}
.repair-table #cart_main .table_data_product,
.cms-manual-part-finder .manual-result #cart_main .table_data_product {
  overflow: auto;
}
.repair-table #cart_main p,
.cms-manual-part-finder .manual-result #cart_main p {
  color: #323232;
}
.repair-table #cart_main p.total,
.cms-manual-part-finder .manual-result #cart_main p.total {
  white-space: nowrap;
  text-align: center;
}
.repair-table #cart_main p span,
.cms-manual-part-finder .manual-result #cart_main p span {
  display: inline-block;
}
.repair-table #cart_main tr,
.cms-manual-part-finder .manual-result #cart_main tr {
  font-size: 14px;
  vertical-align: middle;
}
.repair-table #cart_main th,
.cms-manual-part-finder .manual-result #cart_main th {
  font-size: 14px;
  vertical-align: middle;
  white-space: nowrap;
}
.repair-table #cart_main th p.shipping_cart:before,
.cms-manual-part-finder .manual-result #cart_main th p.shipping_cart:before {
  content: '';
  background: url('../images/cart_icon.png') no-repeat;
  width: 24px;
  height: 18px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: sub;
}
.repair-table #cart_main th p.items,
.cms-manual-part-finder .manual-result #cart_main th p.items {
  text-align: right;
}
.repair-table #cart_main td .grntxt_instock,
.cms-manual-part-finder .manual-result #cart_main td .grntxt_instock {
  margin-top: 0;
  display: block;
  cursor: pointer;
}
.repair-table #cart_main td .black_instock,
.cms-manual-part-finder .manual-result #cart_main td .black_instock {
  white-space: nowrap;
  display: block;
}
.repair-table #cart_main td img,
.cms-manual-part-finder .manual-result #cart_main td img {
  margin: 0 auto;
}
.repair-table #cart_main td .repair_parts_title_name,
.cms-manual-part-finder .manual-result #cart_main td .repair_parts_title_name {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  min-width: 150px;
  height: 36px;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 567px) {
  .repair-table #cart_main td .repair_parts_title_name,
  .cms-manual-part-finder .manual-result #cart_main td .repair_parts_title_name {
    -webkit-line-clamp: 3;
    height: 54px;
  }
}
.repair-table #cart_main td.empty_td,
.cms-manual-part-finder .manual-result #cart_main td.empty_td {
  border: 1px solid #fff !important;
  border-right: 1px solid #B4B4B4 !important;
}
.repair-table #cart_main thead,
.cms-manual-part-finder .manual-result #cart_main thead {
  background: #eee;
  border-bottom: 1px solid #B4B4B4;
}
.repair-table #cart_main thead tr > th,
.cms-manual-part-finder .manual-result #cart_main thead tr > th {
  padding: 15px 10px;
  color: #323232;
}
.repair-table #cart_main tbody tr td,
.cms-manual-part-finder .manual-result #cart_main tbody tr td {
  padding-left: 0;
  vertical-align: middle;
}
.repair-table #cart_main tbody tr td.cart_total_heading,
.cms-manual-part-finder .manual-result #cart_main tbody tr td.cart_total_heading,
.repair-table #cart_main tbody tr td.cart_total_amount,
.cms-manual-part-finder .manual-result #cart_main tbody tr td.cart_total_amount {
  padding-right: 0px;
  background: #ffffff;
}
.repair-table #cart_main tbody tr td.addtocart_data,
.cms-manual-part-finder .manual-result #cart_main tbody tr td.addtocart_data {
  padding-right: 0px;
}
.repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th {
  padding: 8px;
  border: 1px solid #B4B4B4;
  color: #323232 !important;
  text-align: center;
  border-left: 0;
}
.repair-table #cart_main tbody tr td .cart_section thead th.delete_row_empty,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th.delete_row_empty {
  border: 1px solid #fff;
  border-right: 1px solid #B4B4B4;
  background: #fff;
  width: 27px;
}
.repair-table #cart_main tbody tr td .cart_section thead th.delete_row_empty + th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th.delete_row_empty + th {
  width: 87px;
}
.repair-table #cart_main tbody tr td .cart_section thead th.Key_id,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th.Key_id {
  color: #9b0005 !important;
}
.repair-table #cart_main tbody tr td .cart_section thead th.Key_id + th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th.Key_id + th {
  width: 340px;
}
.repair-table #cart_main tbody tr td .cart_section thead th.Key_id + th + th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th.Key_id + th + th {
  width: 170px;
}
.repair-table #cart_main tbody tr td .cart_section thead th:last-child,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:last-child {
  min-width: 69px;
}
.repair-table #cart_main tbody tr td .cart_section td,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section td {
  color: #5D5D5E !important;
  padding: 8px;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid #B4B4B4;
  text-align: center;
  border-left: 0;
  border-top: 0;
}
.repair-table #cart_main tbody tr td .cart_section td.delete_row,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section td.delete_row {
  border: 1px solid #fff;
  border-right: 1px solid #B4B4B4;
  width: 27px;
  padding: 8px 3px;
}
.repair-table #cart_main tbody tr td .cart_section td.delete_row .delelte_grid_item,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section td.delete_row .delelte_grid_item {
  font-size: 0;
  padding-left: 0;
  display: block;
  cursor: pointer;
}
.repair-table #cart_main tbody tr td .cart_section td.delete_row .delelte_grid_item:before,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section td.delete_row .delelte_grid_item:before {
  content: '';
  background: url('../images/rubbish-bin.png') no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  vertical-align: middle;
  background-size: 20px;
}
.repair-table #cart_main tbody tr td .cart_section td.key_td_id,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section td.key_td_id {
  color: #9b0005 !important;
}
.repair-table #cart_main tbody tr td .cart_section .number-input input,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section .number-input input {
  text-align: center;
  padding: 0 15px 0 5px;
  width: 60px !important;
}
.repair-table #cart_main tbody tr td td.mcafeesecure_td,
.cms-manual-part-finder .manual-result #cart_main tbody tr td td.mcafeesecure_td {
  border-right: 1px solid #fff;
  padding-left: 100px;
}
.repair-table #cart_main tbody tr td td.total_head,
.cms-manual-part-finder .manual-result #cart_main tbody tr td td.total_head {
  color: #5D5D5E !important;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  border-right: 1px solid #fff;
}
.repair-table #cart_main tbody tr td td.total_head p,
.cms-manual-part-finder .manual-result #cart_main tbody tr td td.total_head p {
  color: #323232 !important;
  font-size: 14px;
  font-weight: 700;
}
.repair-table #cart_main tbody tr td td.total_amount,
.cms-manual-part-finder .manual-result #cart_main tbody tr td td.total_amount {
  text-align: right;
  color: #5D5D5E !important;
  font-size: 14px;
  font-weight: 700;
}
.repair-table #cart_main tbody tr td td.total_amount p,
.cms-manual-part-finder .manual-result #cart_main tbody tr td td.total_amount p {
  color: #323232 !important;
  font-size: 14px;
}
.repair-table .checkout,
.cms-manual-part-finder .manual-result .checkout {
  text-align: right;
  margin: 0 10px 15px 0;
}
@media only screen and (max-width: 767px) {
  .repair-table .checkout,
  .cms-manual-part-finder .manual-result .checkout {
    margin-right: 0;
  }
}
.repair-table .checkout a,
.cms-manual-part-finder .manual-result .checkout a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #1d9b4f;
  background-image: linear-gradient(to top, #0a51aa -15.5%, #057bdf 115.5%);
  border-radius: 4px;
  padding: 10px;
  margin-left: 20px;
}
@media only screen and (max-width: 480px) {
  iframe#myiframe {
    height: 400px !important;
  }
}
.btm,
.number-input {
  position: relative;
  display: inline-block;
  width: 70px;
}
.btm input,
.number-input input {
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  font-weight: 400;
  padding: 0 5px;
}
.btm button#adds,
.number-input button#adds,
.btm button.plus_cart_grid,
.number-input button.plus_cart_grid,
.btm button#subs,
.number-input button#subs,
.btm button.minus_cart_grid,
.number-input button.minus_cart_grid {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #adadad;
  border-radius: 0;
  width: 20px;
  height: 16px;
  line-height: 15px;
  padding: 0;
  margin: 0 !important;
}
.btm button#subs,
.number-input button#subs,
.btm button.minus_cart_grid,
.number-input button.minus_cart_grid {
  bottom: 0;
  top: auto;
  font-size: 16px;
}
.btm input.input-text.qty,
.number-input input.input-text.qty,
.btm input.quantity,
.number-input input.quantity {
  height: 30px;
  width: 51px;
  text-align: center;
  border: 1px solid #b8b8b8;
}
.btm input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-inner-spin-button,
.btm input[type=number]::-webkit-outer-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.cms-manual-part-finder .manual-result {
  margin-top: 20px;
}
.cms-manual-part-finder .manual-result #cart_main {
  float: none;
  width: 100%;
}
.cms-manual-part-finder .manual-result #cart_main .cart_section tbody tr td a {
  color: #9b0005;
}
.cms-manual-part-finder .manual-result #cart_main .cart_section tbody tr td a:hover {
  color: rgba(155, 0, 5, 0.6);
}
.cart-grid-messgae {
  color: #9b0005;
  margin-left: 15px;
}
