@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* PLP Landing page 
======================================*/
.checkout-onepage-success .page-wrapper #maincontent {
  padding: 0 20px;
}
@media only screen and (max-width: 767px) {
  .checkout-onepage-success .page-wrapper #maincontent {
    padding: 0 15px;
  }
}
.checkout-onepage-success .page-wrapper #maincontent .page-title-wrapper {
  padding: 0 5px !important;
  margin-top: 20px;
}
.checkout-onepage-success .page-wrapper #maincontent .page-title-wrapper .page-title {
  border-bottom: 2px solid #cc0000;
  text-align: center;
  padding: 0 0 5px;
  margin: 0 0 10px;
  line-height: 18px;
  font-size: 16px;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
}
.checkout-onepage-success .page-wrapper #maincontent .page-title-wrapper .page-title .base {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success {
  border-top: 1px solid #ddd;
  padding: 10px 5px;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success a.action.print.print_invoice {
  float: none;
  margin: 0 0 ;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success a.action.print.print_invoice span {
  color: #004f88;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success a.action.print.print_invoice:hover {
  text-decoration: underline;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success a.action.print.print_invoice:hover span {
  color: #9b0005;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .success-messages {
  margin-bottom: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .success-messages p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column {
  padding-bottom: 0;
  margin-bottom: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .block {
  margin-bottom: 20px;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .block .block-title {
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .block .block-title strong {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  font-weight: 500;
  text-transform: uppercase;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .block .block-content .box {
  margin-bottom: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .block .block-content .box strong span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  font-weight: 600;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .block .block-content .box .box-content .address {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .block .block-content .box .box-content dl dd table tr th {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333 !important;
  font-weight: 600;
  padding-left: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .block .order-date,
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .block .order-total {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0;
  border: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered {
  padding: 0;
  border: 0;
  margin-bottom: 20px;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper {
  border: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table thead tr th {
  border-bottom: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tbody tr {
  background: #F0F1F1;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr {
  background: none;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr th,
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr td {
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333 !important;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid #ddd;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr th.sku,
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr td.sku,
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr th.price,
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr td.price,
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr th.qty,
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr td.qty {
  text-align: center;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr td strong,
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tr td span {
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333 !important;
  font-weight: 400;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table .grand_total th strong {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  color: #333333 !important;
  font-weight: 700;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table .grand_total td strong span {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  color: #333333 !important;
  font-weight: 700;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tfoot {
  background: none;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tfoot tr {
  background: none;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tfoot tr th,
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .account .column .order-details-items.ordered .table-wrapper table tfoot tr td {
  background: none;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .actions-toolbar .primary {
  float: right;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .actions-toolbar .primary .action {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
  padding: 5px 15px;
  min-height: 30px;
  font-size: 12px;
  line-height: 18px;
  height: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .actions-toolbar .primary .action span {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .actions-toolbar .primary .action:hover {
  text-decoration: none;
  background: #b60006;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main .checkout-success .actions-toolbar:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main #registration {
  border-left: 3px solid #3071a9;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main #registration > div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333 !important;
  font-weight: 400;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main #registration > div form input {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
  padding: 5px 15px;
  min-height: 30px;
  font-size: 12px;
  line-height: 18px;
  height: 0;
}
.checkout-onepage-success .page-wrapper #maincontent .columns .column.main #registration > div form input:hover {
  text-decoration: none;
  background: #b60006;
}
