@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* Footer 
------------------*/
footer .footer.content {
  max-width: 1366px;
  padding: 0 15px;
}
footer .footer-col {
  width: 100%;
  display: inline-block;
}
footer .footer-col > div {
  width: 25%;
  float: left;
}
@media only screen and (max-width: 767px) {
  footer .footer-col > div {
    width: 100%;
  }
}
footer .footer-col > div:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
footer .social_media {
  display: block;
}
footer .social_media a {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  line-height: 42px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .social_media a em {
  margin-left: 4px;
}
footer .social_media a:hover {
  -webkit-animation: shadow_pulse 0.5s 1;
  -moz-animation: shadow_pulse 0.5s 1;
  -ms-animation: shadow_pulse 0.5s 1;
  -o-animation: shadow_pulse 0.5s 1;
  animation: shadow_pulse 0.5s 1;
  /* This is from Variable page */
}
.page-footer {
  padding: 0;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .page-footer {
    margin-top: 0;
  }
}
.page-footer .search_bottom_content {
  text-align: center;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .page-footer .search_bottom_content {
    display: none;
  }
}
.page-footer .search_bottom_content p {
  color: #062b53;
  font-size: 16px;
  padding: 0 12px;
  line-height: 24px;
  margin-bottom: 0;
}
.page-footer .search_bottom_content p strong a {
  color: #062b53;
}
@media only screen and (max-width: 480px) {
  .page-footer .search_bottom_content p strong {
    display: block;
  }
}
.page-footer .foot1 {
  background: linear-gradient(to bottom, #e0e0e0 0%, #ffffff 100%) !important;
}
.page-footer .foot1 .row {
  display: flex;
  flex-wrap: wrap;
}
.page-footer .foot1 .row .sinc {
  width: 19% !important;
}
@media only screen and (max-width: 991px) {
  .page-footer .foot1 .row .sinc {
    width: 33.3% !important;
  }
}
@media only screen and (max-width: 767px) {
  .page-footer .foot1 .row .sinc {
    width: 100% !important;
    text-align: center;
  }
  .page-footer .foot1 .row .sinc p a img {
    margin: 0 auto;
  }
}
.page-footer .foot1 h3 {
  color: #062b53 !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
@media only screen and (max-width: 767px) {
  .page-footer .foot1 h3 {
    margin-bottom: 10px !important;
    margin-top: 15px !important;
  }
}
.page-footer .foot1 ul.our_memberships li {
  padding: 0;
}
.page-footer .foot1 ul.our_memberships li a {
  margin: 0 auto;
}
.page-footer .foot1 ul.our_memberships li a img {
  width: 100%;
  max-width: 150px;
}
.page-footer .foot1 ul li {
  font-size: 12px;
  margin: 5px 0 !important;
  width: 100%;
  display: inline-flex;
}
.page-footer .foot1 ul li a {
  color: #004f88 !important;
}
.page-footer .foot1 ul li a em,
.page-footer .foot1 ul li a i {
  background: #737373;
  border-radius: 3px;
  color: #fff;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
  width: 24px;
  text-align: center;
  padding-left: 4px;
  font-family: 'FontAwesome';
  font-weight: 400;
}
.page-footer .foot1 ul li a em.fa-facebook,
.page-footer .foot1 ul li a i.fa-facebook {
  background: #062b53;
}
.page-footer .foot1 ul li a em.fa-twitter,
.page-footer .foot1 ul li a i.fa-twitter {
  background: #36bede;
}
.page-footer .foot1 ul li a em.fa-youtube,
.page-footer .foot1 ul li a i.fa-youtube {
  background: #ef0f24;
}
.page-footer .foot1 ul li a em.fa-wordpress,
.page-footer .foot1 ul li a i.fa-wordpress {
  background: #595959;
}
@media only screen and (max-width: 1200px) {
  .page-footer .foot1 ul li a em,
  .page-footer .foot1 ul li a i {
    margin-right: 7px;
  }
}
@media only screen and (max-width: 991px) {
  .page-footer .foot1 ul li a em,
  .page-footer .foot1 ul li a i {
    margin-right: 10px;
  }
}
.page-footer .foot1 ul li a:hover {
  color: #9b0005 !important;
}
.page-footer .foot1 ul li a:hover em,
.page-footer .foot1 ul li a:hover i {
  background: #9b0005;
}
.page-footer .foot1 ul.Secure_Shopping {
  font-size: 0;
}
.page-footer .foot1 ul.Secure_Shopping li {
  width: 50%;
  margin: 0 !important;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}
.page-footer .foot1 .call_us_ft {
  color: #062b53;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page-footer .foot1 .call_us_ft span {
  font-family: 'franchiseregular', arial;
  font-size: 19px;
}
.page-footer .inner-container {
  background: #062b53;
  padding: 10px 30px 30px 30px;
}
@media only screen and (max-width: 767px) {
  .page-footer .inner-container {
    padding: 0 15px;
  }
  .page-footer .inner-container .col-xs-12 {
    width: 50%;
  }
}
.page-footer .inner-container h3 {
  border-bottom: 1px solid #9b0005;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 5px;
  text-transform: uppercase;
  line-height: 21px;
  color: #c4c4c4;
  margin-bottom: 5px;
  margin-top: 20px;
}
@media only screen and (max-width: 767px) {
  .page-footer .inner-container h3 {
    margin-top: 15px;
  }
}
.page-footer .inner-container ul {
  margin-bottom: 10px;
}
.page-footer .inner-container ul li {
  margin-bottom: 0;
}
.page-footer .inner-container ul li a {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  display: block;
}
@media only screen and (max-width: 480px) {
  .page-footer .inner-container ul li a {
    font-size: 12px;
  }
}
.page-footer .inner-container ul li a:hover {
  text-decoration: underline;
  color: #c4c4c4;
}
.page-footer .inner-container ul:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
@media only screen and (max-width: 767px) {
  .page-footer .foot1 h3:after {
    color: #062b53 !important;
  }
  .page-footer .foot1 .col-xs-12.active h3:after {
    content: '\f077';
  }
}
@media only screen and (max-width: 767px) {
  .page-footer .foot2,
  .page-footer .foot1 {
    padding: 0 15px 30px;
  }
  .page-footer .foot2 .col-xs-12,
  .page-footer .foot1 .col-xs-12 {
    width: 100%;
  }
  .page-footer .foot2 .col-xs-12 h3:after,
  .page-footer .foot1 .col-xs-12 h3:after {
    content: '\f078';
    position: absolute;
    font-family: 'FontAwesome';
    font-weight: 400;
    right: 15px;
    color: #ffffff;
  }
  .page-footer .foot2 .col-xs-12 ul,
  .page-footer .foot1 .col-xs-12 ul {
    display: none;
  }
  .page-footer .foot2 .col-xs-12.active h3:after,
  .page-footer .foot1 .col-xs-12.active h3:after {
    content: '\f077';
  }
}
.page-footer .base_footer {
  background: #1f5ca0;
  padding: 10px 30px;
}
@media only screen and (max-width: 480px) {
  .page-footer .base_footer {
    padding: 10px 15px;
  }
}
.page-footer .base_footer p {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 0;
  line-height: 18px;
}
.page-footer .base_footer p a {
  color: #85c7fd;
}
div a.back_to_top {
  bottom: 3px;
  font-size: 12px;
  position: fixed;
  right: 55px;
  color: #FB0002 !important;
  cursor: pointer;
  display: block !important;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  div a.back_to_top {
    display: none !important;
  }
}
div a.back_to_top i,
div a.back_to_top em {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 23px;
  margin: 0 auto;
  text-align: center;
  line-height: 23px;
  text-decoration: none;
  width: 30px;
  display: block;
  font-family: 'FontAwesome';
  font-weight: 300;
}
div a.back_to_top i:before,
div a.back_to_top em:before {
  padding-left: 7px;
}
div a.back_to_top i:hover,
div a.back_to_top em:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-decoration: none;
}
div a.questions-ad {
  animation: 3s ease 0s normal forwards 1 running centerme;
  position: fixed;
  right: 5px;
  top: inherit;
  z-index: 999;
  bottom: 16.5%;
}
@media only screen and (max-width: 1300px) {
  div a.questions-ad {
    max-width: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  div a.questions-ad {
    max-width: 90px;
  }
}
@media only screen and (max-width: 1024px) {
  div a.questions-ad {
    max-width: 80px;
  }
}
@media only screen and (max-width: 991px) {
  div a.questions-ad {
    display: none;
  }
}
div a.questions-ad img {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}
