@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* Css reset 
----------------------*/
* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none !important;
}
a,
a:visited,
.alink:visited {
  color: #000000;
}
a:hover {
  text-decoration: none;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
html {
  height: auto !important;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /*-webkit-font-smoothing: antialiased;*/
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  background-color: #fff !important;
  height: auto !important;
}
.columns .column.main {
  padding-bottom: 25px;
}
.slick-next:before {
  content: '→';
}
.slick-prev:before {
  content: '←';
}
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,
header,
section,
footer,
aside,
nav,
article,
figure,
main {
  display: block;
}
main.page-main,
.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 15px;
}
p:empty {
  display: none;
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #636363;
}
h1,
.h1 {
  font-size: 40px;
  margin: 5px 0 15px;
  font-weight: 600;
}
h2,
.h2 {
  font-size: 32px;
  margin: 5px 0 15px;
  font-weight: 600;
}
h3,
.h3 {
  font-size: 28px;
  margin: 5px 0 15px;
  font-weight: 600;
}
h4,
.h4 {
  font-size: 24px;
  margin: 5px 0 15px;
  font-weight: 600;
}
h5,
.h5 {
  font-size: 20px;
  margin: 5px 0 15px;
  font-weight: 600;
}
h6,
.h6 {
  font-size: 16px;
  margin: 5px 0 15px;
  font-weight: 600;
}
/* page title 
======================================*/
.page-title-wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px !important;
}
.page-title-wrapper h1 {
  display: block !important;
  font-size: 32px;
  font-weight: 300;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: dashed 1px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 767px) {
  .page-title-wrapper h1 {
    font-size: 24px;
    padding-bottom: 4px;
  }
}
.page-title-wrapper .print {
  display: none !important;
}
.account .page-title-wrapper {
  padding: 0 !important;
  margin-bottom: 15px;
}
.account .page-title-wrapper h1 {
  margin: 0 !important;
}
/* breadcrumbs 
======================================*/
body.blog-page .breadcrumbs .items > li.blog {
  display: none !important;
}
.breadcrumbs {
  width: 100% !important;
  max-width: 1366px;
  padding: 10px 15px;
  display: block;
  margin-bottom: 0;
  position: relative;
  background: #ffffff;
  z-index: 1;
}
.breadcrumbs ul {
  padding: 10px 0 !important;
}
@media only screen and (max-width: 767px) {
  .breadcrumbs ul {
    padding-top: 5px;
  }
}
.breadcrumbs ul li {
  padding: 0px 0;
  color: #333333;
  display: inline !important;
  font-size: 13px;
}
.breadcrumbs ul li a,
.breadcrumbs ul li strong {
  color: #333333 !important;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 19px;
}
@media only screen and (max-width: 767px) {
  .breadcrumbs ul li a,
  .breadcrumbs ul li strong {
    font-size: 12px;
    margin-bottom: 12px;
  }
}
.breadcrumbs ul li:hover a {
  text-decoration: underline;
}
.breadcrumbs ul li:after {
  content: '' !important;
  font-size: 16px !important;
  background: url('../images/double-angle-pointing-to-right.svg') no-repeat;
  width: 7px;
  height: 7px;
  display: block;
  background-size: contain;
  margin: 6px 0px 6px 1px !important;
}
.breadcrumbs ul li:last-child:after {
  display: none;
}
/* Buttons & input fields 
======================================*/
textarea,
button,
select,
input:not([type=radio]),
input:not([type=checkbox]) {
  box-shadow: none !important;
  outline: 0 none !important;
}
.actions a.action.continue,
.actions a.action.viewcart,
a.link,
.actions-toolbar a.action:not(.remind):not(.action-delete):not(.action-edit),
button[class*=action]:not(.search):not(.close):not(.action-close) {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
  /* From variable file */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.actions a.action.continue:hover,
.actions a.action.viewcart:hover,
a.link:hover,
.actions-toolbar a.action:not(.remind):not(.action-delete):not(.action-edit):hover,
button[class*=action]:not(.search):not(.close):not(.action-close):hover {
  background: #000000;
  color: #ffffff;
}
.actions a.action.continue:hover,
.actions a.action.viewcart:hover,
a.link:hover,
.actions-toolbar a.action:not(.remind):not(.action-delete):not(.action-edit):hover,
button[class*=action]:not(.search):not(.close):not(.action-close):hover {
  /*.animation(shadow_pulse_inset 0.5s 1);*/
  /* This is from Variable page */
}
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
  height: 32px;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif !important;
}
textarea {
  /*resize: none;*/
}
input[type="password"] {
  font-weight: 900 !important;
  letter-spacing: 1px;
}
input[type="number"] {
  padding: 0;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  margin: 0;
  opacity: 1;
}
/* Check box 
======================================*/
/*input[type=checkbox]{
  display: none;
  &+label{
    cursor: pointer;
    &:before{
      content:'\f096'; font-family: @FontAwesome; margin-right: 10px;
    }
  }
  &:checked{
    &+label{
      &:before{
        content:'\f046'; 
      };
    }
  }
}*/
/* Radio buttons
======================================*/
/*input[type=radio]{
  display: none;
  &+label{
    cursor: pointer;
    &:before{
      content:'\f10c'; font-family: @FontAwesome; margin-right: 10px;
    }
  }
  &:checked{
    &+label{
      &:before{
        content:'\f058'; 
      };
    }
  }
}*/
select {
  border-radius: 0 !important;
  background-color: transparent !important;
  margin-top: 1px !important;
}
.fieldset:focus {
  box-shadow: none;
}
.column.main {
  padding-top: 0 !important;
}
/* Model Design 
======================================*/
.modals-wrapper .modal-popup .modal-inner-wrap {
  width: 95%;
  max-width: 600px;
  border-top: solid 10px #000000;
}
.modals-wrapper .modal-popup .modal-inner-wrap .modal-header h1 {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  border-bottom: 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .modals-wrapper .modal-popup .modal-inner-wrap .modal-header h1 {
    font-size: 20px;
  }
}
/* ===========================*/
@media (min-width: 992px) {
  .cols-5 .col-md-3 {
    width: 20% !important;
  }
}
.cms-home #maincontent {
  background: linear-gradient(to bottom, #f7f7f7 0%, #ffffff 100%);
}
#maincontent {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  padding: 0;
  background: #ffffff;
}
/*.page-wrapper{
  width: 100%; max-width: 1054px; margin: 0 auto; box-shadow: 0 0 11px rgba(0, 0, 0, 0.2); padding: 0 15px;
  @media only screen and(max-width: 767px){
    padding: 0;
  }
}*/
.page-header {
  margin: 0;
}
.hide_popup .close {
  float: right;
  margin: -10px -10px 0 0;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 5px;
}
.hide_popup .close:after {
  content: "\f057";
  font-family: 'FontAwesome';
  color: #004f88;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
}
.hide_popup {
  display: none;
  z-index: 99;
  text-align: left;
  border: solid 2px #8f8f8f;
  box-shadow: 0 0 5px #aaa;
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
  max-width: 440px;
  padding: 15px;
  font-size: 12px;
  background: none repeat scroll 0 0 #fff;
  position: fixed;
  right: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.popup_trigger,
.see_price_incart {
  color: #019901;
  text-decoration: underline;
  display: inline-block;
  margin-top: 5px;
}
.see_price_incart {
  color: #9b0005;
  width: 100%;
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
  cursor: pointer;
}
.catalog-product-view .dcw-list-page-customs .see_price_incart {
  font-size: 14px;
}
.modal-backdrop {
  display: none;
}
.page-header {
  margin: 0;
}
.page-header .panel.wrapper {
  /*display: none;*/
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}
.page-header .panel.wrapper .panel.header {
  border-radius: 0;
  background: none;
  margin: 0;
}
label,
th {
  color: #000 !important;
}
@media (min-width: 768px) {
  .page-layout-1column .product-info-main {
    width: 65%;
  }
  .page-layout-1column .product.media {
    width: 32%;
  }
  .product-info-stock-sku .product.attribute.sku {
    display: none;
  }
  .product-info-stock-sku .stock.available {
    display: none;
  }
  .h1,
  h1 {
    font-size: 30px;
  }
  .product-info-main .product-info-price {
    border-bottom: none !important;
  }
  .product-info-main .product-info-price {
    margin-bottom: -20px !important;
  }
  .product-info-main .product-add-form {
    padding-top: 0px !important;
  }
  .product-options-bottom .price-box .price-container .price,
  .product-info-price .price-box .price-container .price {
    font-size: 20px;
    line-height: 33px;
    color: #9b0005;
  }
  ._questions h4 {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important;
    margin: 10px 0;
  }
  ._questions > strong {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important;
  }
  ._questions .col-xs-6 {
    padding-top: 0px;
  }
  .col-xs-6 {
    /*width: 50%;*/
  }
  ._questions img {
    width: 96px;
    height: auto;
    margin-left: 40px;
  }
  ._questions .col-xs-6 p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
  }
  ._questions .col-xs-6 p._tele {
    color: #333;
    font-weight: 500;
    font-size: 18px;
  }
  ._questions .col-xs-6 p i {
    color: #9b0005;
  }
  ._questions .col-xs-6 p._tele strong {
    color: #0095da;
  }
  .tab-pane {
    border: 1px solid #ccc !important;
    border-top: 0 !important;
    padding: 15px 25px !important;
  }
  .row.vcenter {
    display: table;
    width: 100%;
  }
  #product_tabs_repairparts_contents .row.vcenter > [class*="col-"] {
    color: #333;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
  }
  #product_tabs_repairparts_contents .row.vcenter img {
    width: 128px;
  }
  hr.light-gray {
    border-color: #ccc;
    margin: 15px 0;
  }
  #product_tabs_repairparts_contents h4.tabs-title {
    color: #333;
    font-weight: 600;
    font-size: 20px;
  }
}
