@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* Shopping Cart 
-------------------------*/
.cart-container {
  /* Left Column 
	=======================================*/
  /* Right Column 
	=======================================*/
}
@media only screen and (max-width: 991px) {
  .cart-container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
}
.cart-container form.form-cart {
  width: 100%;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .cart-container form.form-cart {
    padding-right: 0;
    order: 1;
  }
}
.cart-container form.form-cart #shopping-cart-table thead {
  background: #f4f4f4;
}
.cart-container form.form-cart #shopping-cart-table thead th {
  padding: 10px 5px;
  vertical-align: middle;
  text-align: center;
  min-width: 120px;
}
.cart-container form.form-cart #shopping-cart-table thead th:first-child {
  text-align: left;
}
.cart-container form.form-cart #shopping-cart-table thead th:last-child {
  text-align: right;
}
.cart-container form.form-cart #shopping-cart-table tbody td {
  padding: 10px 5px;
  vertical-align: middle;
  text-align: center;
}
.cart-container form.form-cart #shopping-cart-table tbody td span {
  font-weight: 500;
  font-size: 16px;
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child {
  text-align: left;
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-photo {
  width: 110px;
  height: 110px;
  border: solid 1px #ddd;
  float: left;
  vertical-align: middle;
  border-radius: 5px;
  background: #ffffff;
  padding: 0;
  margin-right: 15px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-photo {
    position: static;
    width: auto;
    height: 65px;
  }
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-photo:focus {
  outline: none;
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-photo:hover,
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-photo:focus,
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-photo:active {
  border-color: #428bca;
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-details {
  padding: 15px 0 0 0;
}
@media only screen and (max-width: 767px) {
  .cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-details {
    width: calc(100% - 80px);
    float: right;
    padding: 0 0 10px;
  }
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-details a {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
  -webkit-line-clamp: 3;
  height: 64px;
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-details a:hover {
  text-decoration: none;
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-details .grntxt_instock,
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-details .black_instock {
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 0;
  color: #333333;
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-details .grntxt_instock {
  cursor: pointer;
  font-weight: 600;
  color: #019901;
  text-decoration: none;
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child .product-item-details .grntxt_instock:hover {
  color: #9b0005;
  text-decoration: underline;
}
.cart-container form.form-cart #shopping-cart-table tbody td:first-child:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.cart-container form.form-cart #shopping-cart-table tbody td:last-child {
  text-align: right;
}
.cart-container form.form-cart .cart.main.actions a,
.cart-container form.form-cart .cart.main.actions button {
  display: inline-block;
}
.cart-container .cart-summary {
  width: 25%;
  position: static !important;
}
@media only screen and (max-width: 991px) {
  .cart-container .cart-summary {
    width: 100%;
    order: 2;
  }
}
.checkout-cart-index .column.main {
  padding-left: 7px;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index .column.main {
    padding-left: 0;
  }
}
.checkout-cart-index .column.main .breadcrumbs {
  margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index .column.main .breadcrumbs {
    margin-bottom: 15px;
  }
}
.checkout-cart-index .cart-empty .empty-cart {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 5px;
  line-height: 18px;
  border-bottom: 2px solid #cc0000;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0 30px;
  padding-top: 0;
}
.checkout-cart-index .cart-empty .empty-cart span {
  font-weight: 600;
}
.checkout-cart-index .cart-empty p {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 10px;
}
.checkout-cart-index .cart-empty p a {
  color: #004f88;
}
.checkout-cart-index .cart-empty p a:hover {
  color: #9b0005;
}
.checkout-cart-index #maincontent {
  padding: 0 15px;
}
.checkout-cart-index #maincontent .page-title-wrapper {
  padding: 0 !important;
}
.checkout-cart-index #maincontent .page-title-wrapper .page-title {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 5px;
  border-bottom: 2px solid #cc0000;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 30px;
  padding-top: 0;
}
.checkout-cart-index #maincontent .page-title-wrapper .page-title span {
  font-weight: 600;
}
.checkout-cart-index #maincontent .columns .breadcrumbs {
  padding: 0;
}
.checkout-cart-index #maincontent .columns .sidebar.sidebar-additional {
  margin-top: 1px !important;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper {
    border: 0;
  }
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table thead {
  border: 0;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table thead tr {
  background: #d9edf7;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tbody {
  border: 0;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tbody tr:hover {
  background: #f5f5f5;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr.grand-total {
    display: table;
    width: 100%;
  }
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr.grand-total td {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr.grand-total td {
    display: table-cell;
    width: 33.3%;
    border: 1px solid #ddd;
    padding: 8px;
  }
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr.grand-total td span {
  font-size: 18px;
  line-height: 20px;
  color: #333333;
  font-weight: 500;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr.grand-total .grand_total {
  text-align: right;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr.grand-total .grand_total span {
  font-weight: 700;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr {
  border: 1px solid #ddd;
  background: #f9f9f9;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr {
    border: 0;
  }
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr th {
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 20px;
  color: #333333 !important;
  font-weight: 700;
  padding: 8px;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr th.subtotal {
  text-align: center;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td {
  border: 1px solid #ddd;
  display: table-cell;
  padding: 8px;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td {
    height: 100%;
    border: 0;
    display: inline-block;
    width: 33.3%;
  }
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td:before {
    background: none;
    padding: 0px;
    width: 100%;
    margin-bottom: 10px;
    border: 0;
  }
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td .product-item-photo .product-image-container .product-image-wrapper .product-image-photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 5px;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td .price {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  font-weight: 700;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td .input-text.qty {
  margin-top: 0;
  height: 30px;
  width: 60px;
  text-align: left;
  padding: 6px 12px;
  background: #ffffff !important;
  text-align: center;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td .input-text.qty::-webkit-inner-spin-button,
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td .input-text.qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  opacity: 1;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td .actions-toolbar {
  text-align: center;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td .actions-toolbar .remove .action {
  display: block;
  margin-top: 5px;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr td .actions-toolbar .remove .action span {
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #ff0000;
  font-size: 11px;
  margin-top: 6px;
  padding: 1px 1px 1px 5px;
  font-weight: 600;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr .col.item {
  border: 0;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr .col.item {
    width: 100%;
  }
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.table-wrapper table tr .col.item:before {
    content: attr(data-th);
    display: block;
    font-weight: 600;
    height: auto;
    position: static;
    overflow: visible;
    background: #d9edf7;
    padding: 8px;
    margin: -8px -8px 10px;
    border: 1px solid #ddd;
    width: calc(100% + 16px);
  }
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.main.actions {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.main.actions > div.col-xs-12 {
    width: 33.3%;
  }
}
@media only screen and (max-width: 567px) {
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.main.actions > div.col-xs-12 {
    width: 100%;
  }
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.main.actions .action {
  background: #9b0005;
  color: #ffffff;
  margin-bottom: 3px;
  border-radius: 0px;
  border: 1px solid #d43f3a;
  margin: 0 auto;
  padding: 6px 12px;
  height: 34px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.main.actions .action {
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
  }
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.main.actions .action:hover,
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.main.actions .action:focus {
  background-color: #c9302c;
  border-color: #ac2925;
}
.checkout-cart-index #maincontent .columns .column.main .cart-container form .cart.main.actions .action span {
  text-transform: capitalize;
}
