@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
.checkout-index-index .nav-sections {
  display: block;
}
.checkout-index-index #checkout.am-checkout {
  background: #ffffff;
  padding: 6px;
  margin: 0;
}
.checkout-index-index .fieldset {
  width: 100%;
  max-width: 700px;
  margin-bottom: 0;
}
.checkout-index-index .fieldset:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.checkout-index-index .fieldset .field {
  margin-bottom: 0px;
  margin-top: 0;
  /*width: 50%;  padding-right: 30px; float: left;*/
}
.checkout-index-index .fieldset .field .label,
.checkout-index-index .fieldset .field label {
  padding: 0;
  border: 0;
  text-align: left;
  display: inline-block;
}
.checkout-index-index .fieldset .field .label span,
.checkout-index-index .fieldset .field label span {
  font-size: 12px;
  line-height: 15px;
  color: #5f5f5f;
  display: inline-block;
}
.checkout-index-index .fieldset .field .label:after,
.checkout-index-index .fieldset .field label:after {
  margin-left: 4px;
  font-size: 11px;
}
.checkout-index-index .fieldset .field .checkbox {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin-top: 0px;
}
.checkout-index-index .fieldset .field .control input,
.checkout-index-index .fieldset .field .control select {
  height: 25px;
  border-radius: 4px !important;
  width: 100%;
  padding: 0 5px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
  text-align: left;
  color: #000000;
  font-weight: 400;
}
.checkout-index-index .fieldset .field .control input:focus,
.checkout-index-index .fieldset .field .control select:focus {
  /*box-shadow: 0px 0px 5px #005CB8 !important;*/
}
.checkout-index-index .fieldset .field .control select {
  padding-right: 15px;
  border: 1px solid #b8b8b8;
  background: url(../images/down-arrow.svg) no-repeat;
  background-size: 6px;
  background-position: 98% 50%;
}
.checkout-index-index .fieldset .field .control .field .label {
  display: none;
}
.checkout-index-index .fieldset .field .control .field-tooltip {
  display: none;
}
.checkout-index-index #maincontent .checkout-header {
  padding: 0 15px 15px !important;
  border-bottom: 2px solid #ccc;
  margin: 15px;
}
.checkout-index-index #maincontent .checkout-header .title {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 7px;
  border-bottom: 2px solid #cc0000;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding-top: 0;
}
.checkout-index-index #maincontent .checkout-header .description {
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  font-weight: 700;
}
.checkout-index-index #maincontent:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.checkout-index-index #maincontent .opc-estimated-wrapper {
  display: none;
}
.checkout-index-index #maincontent .authentication-wrapper {
  margin: 0 10px 15px;
  /*text-align: left;*/
  padding: 0 15px !important;
  border-bottom: 2px solid #ccc;
  max-width: 100%;
  width: calc(100% - 20px);
  display: none;
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .authentication-wrapper {
    text-align: right;
  }
}
.checkout-index-index #maincontent .authentication-wrapper button.action {
  /*display: none;*/
  background: #9b0005;
  color: #ffffff;
  margin-bottom: 3px;
  border-radius: 0px;
  border: 1px solid #d43f3a;
  margin: 0 auto 15px;
  padding: 6px 12px;
  height: 34px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .authentication-wrapper button.action {
    margin-bottom: 10px;
  }
}
.checkout-index-index #maincontent .authentication-wrapper button.action:hover,
.checkout-index-index #maincontent .authentication-wrapper button.action:focus {
  background-color: #c9302c;
  border-color: #ac2925;
}
.checkout-index-index #maincontent .authentication-wrapper button.action span {
  text-transform: capitalize;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom {
  /*position: static; .transform(none); visibility: visible; border: 0;*/
  width: 100%;
  max-width: 320px;
  right: 15px;
  top: 40px;
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .authentication-wrapper .modal-custom {
    left: 0;
    right: 0;
    top: 20%;
    margin: 0 auto;
  }
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap {
  padding: 0 20px;
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap {
    min-height: 320px;
  }
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-header {
  /*display: none;*/
  border: 0;
  padding: 0;
  height: 20px;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-header button.action-close {
  width: 22px;
  height: 22px;
  background: url('../images/topnav_close_1.png') no-repeat;
  background-size: contain;
  display: block;
  opacity: 1;
  margin: 5px;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-header button.action-close:before {
  display: none;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-header:before {
  display: none;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-header:after {
  margin: 10px;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content {
  box-shadow: none;
  border: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content .block-authentication .block .block-title {
  margin-bottom: 10px;
  background-image: linear-gradient(to top, #1a6dc0, #004081);
  width: auto;
  display: inline-block;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content .block-authentication .block .block-title a,
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content .block-authentication .block .block-title strong {
  display: block;
  padding: 4px 10px;
  font-weight: bold;
  color: #FFF;
  font-size: 12px;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset {
  width: 100%;
  max-width: 700px;
  margin-bottom: 0;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field {
  margin-bottom: 0px;
  margin-top: 0;
  /*width: 50%;  padding-right: 30px; float: left;*/
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field .label,
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field label {
  padding: 0;
  border: 0;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field .label span,
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field label span {
  font-size: 12px;
  line-height: 15px;
  color: #5f5f5f;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field .label:after,
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field label:after {
  margin-left: 4px;
  font-size: 11px;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field .control input,
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field .control select {
  height: 25px;
  border-radius: 4px !important;
  width: 100%;
  padding: 0 5px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 0px;
  text-align: left;
  color: #000000;
  font-weight: 700;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field .control select {
  padding-right: 15px;
  border: 1px solid #b8b8b8;
  background: url(../images/down-arrow.svg) no-repeat;
  background-size: 6px;
  background-position: 98% 50%;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .fieldset .field .control .field-tooltip {
  display: none;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .primary {
  margin: 20px 0 10px;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .primary button.action {
  background: #9b0005;
  color: #ffffff;
  margin-bottom: 3px;
  border-radius: 0px;
  border: 1px solid #d43f3a;
  margin: 0 auto;
  padding: 6px 12px;
  height: 34px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .primary button.action {
    margin-bottom: 10px;
  }
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .primary button.action:hover,
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .primary button.action:focus {
  background-color: #c9302c;
  border-color: #ac2925;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .primary button.action span {
  text-transform: capitalize;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .secondary {
  /*float: right; */
  /*padding-left: 37%;*/
  padding-top: 3px;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .secondary a.action {
  border: 0;
  padding: 0;
  margin: 0;
  height: auto;
  min-height: 0;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 20px;
  color: #005cb8;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .secondary a.action span {
  font-size: 14px;
  line-height: 20px;
  color: #005cb8;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .secondary a.action:hover {
  background: #ffffff;
  color: #005cb8;
  text-decoration: underline;
}
.checkout-index-index #maincontent .authentication-wrapper .modal-custom .modal-inner-wrap .modal-content form .actions-toolbar .secondary a.action:focus {
  color: #9b0005;
  text-decoration: underline !important;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper {
  display: block;
  padding: 0 5px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column {
  float: left;
}
@media only screen and (max-width: 991px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column {
    width: 100% !important;
  }
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:first-child {
  width: 33.3%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:first-child .checkout-block {
  padding: 0 10px 10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:first-child .checkout-block .step-title {
  margin: 0 -10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:nth-child(2) {
  width: 66.6%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:nth-child(2) .checkout-block {
  float: left;
  width: 48.25%;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:nth-child(2) .checkout-block {
    width: calc(100% - 20px) !important;
    float: none;
  }
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:nth-child(2) .checkout-block:first-child .step-title {
    margin: 0 -16px;
  }
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:nth-child(2) .checkout-block:first-child .step-title:before {
  content: '2';
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:nth-child(2) .checkout-block:last-child {
    padding: 0 15px 15px;
  }
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:nth-child(2) .checkout-block:last-child .step-title {
    margin: 0 -16px;
  }
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:nth-child(2) .checkout-block:last-child .step-title:before {
  content: '3';
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:last-child {
  width: 66.6%;
  float: right;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column:last-child .title:before {
  content: '✔';
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset {
  margin: 0 -3px;
  width: calc(100% + 6px);
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field {
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0 3px;
  /* position: relative;*/
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .label,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field label {
  padding: 0;
  border: 0;
  text-align: left;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .label span,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field label span {
  font-size: 12px;
  line-height: 15px;
  color: #5f5f5f;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .label:after,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field label:after {
  margin: 0;
  font-size: 11px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control {
  position: relative;
  width: 100%;
  padding-right: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control input,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control select {
  height: 25px;
  border-radius: 4px !important;
  width: 100%;
  padding: 0 5px;
  font-family: 'Arial', sans-serif !important;
  font-size: 12px;
  line-height: 15px;
  color: #2f2f2f;
  font-weight: 400;
  margin-bottom: 0px;
  text-align: left;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control select {
  padding-right: 15px;
  border: 1px solid #b8b8b8;
  background: url(../images/down-arrow.svg) no-repeat;
  background-size: 6px;
  background-position: 98% 50%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control .field-tooltip {
  display: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control div.field-error,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control div.mage-error {
  padding: 4px 10px;
  border: 2px solid #DDD;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #EE0101;
  -webkit-box-shadow: 0px 0px 6px #000;
  -moz-box-shadow: 0px 0px 6px #000;
  box-shadow: 0px 0px 6px #000;
  color: #FFF;
  text-align: center;
  font-weight: 100;
  font-size: 11px;
  font-family: Tahoma,Geneva,Kalimati,sans-serif;
  position: absolute;
  right: auto !important;
  bottom: calc(100% + 7px) !important;
  left: 75% !important;
  width: 154px !important;
  height: auto !important;
  z-index: 9 !important;
  opacity: .87;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control div.field-error:before,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control div.mage-error:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #DDD;
  font-size: 0;
  position: absolute;
  top: 100%;
  left: 12px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control div.field-error:after,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field .control div.mage-error:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgba(238, 1, 1, 0.92);
  font-size: 0;
  position: absolute;
  top: 100%;
  left: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field._error .control input,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field._error .control select,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field._error .control textarea,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset input.mage-error,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset select.mage-error,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset textarea.mage-error {
  border: 1px dashed rgba(238, 1, 1, 0.92) !important;
  outline: none;
  box-shadow: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field._error .control input:focus,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field._error .control select:focus,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset .field._error .control textarea:focus,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset input.mage-error:focus,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset select.mage-error:focus,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset textarea.mage-error:focus {
  outline: none;
  box-shadow: none;
  background: #fff;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .fieldset fieldset.field .field {
  padding: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .step-title,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .title {
  margin: 0 -15px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  padding: 10px 15px;
  background-color: #005CB8;
  border-radius: 5px 5px 0 0;
  line-height: 20px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#005cb8), to(#004387));
  background-image: -webkit-linear-gradient(top, #005cb8, #004387);
  background-image: -moz-linear-gradient(top, #005cb8, #004387);
  background-image: -o-linear-gradient(top, #005cb8, #004387);
  background-image: linear-gradient(to bottom, #005cb8, #004387);
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .step-title:before,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .title:before {
  content: '1';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  color: #696969;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
  text-align: center;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block {
  padding: 0 15px 10px;
  border-radius: 5px;
  border: solid 1px #EAEAEA;
  box-shadow: none;
  margin: 0 5px 30px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block:hover {
  box-shadow: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .title {
  margin-bottom: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block {
  margin-bottom: 0px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .title {
  margin: 0;
  display: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .title:before {
  display: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper {
  padding: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li {
  padding: 10px 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-image-container {
  margin: 0;
  width: 50px !important;
  height: 50px !important;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-image-container .product-image-wrapper img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-item-details {
  padding-left: 50px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-item-details .product-item-inner {
  margin-bottom: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-item-details .product-item-inner .product-item-name-block {
  width: 100%;
  font-size: 0;
  vertical-align: middle;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-item-details .product-item-inner .product-item-name-block .product-item-name {
  width: 80%;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  font-weight: 600;
  margin-bottom: 0;
  vertical-align: middle;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-item-details .product-item-inner .product-item-name-block .details-qty {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  margin-top: 0px;
  width: 20%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-item-details .product-item-inner .product-item-name-block .details-qty .label {
  display: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-item-details .product-item-inner .subtotal {
  vertical-align: middle;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary .block .content .minicart-items-wrapper ol.minicart-items li .product .product-item-details .product-item-inner .subtotal .price {
  font-size: 14px;
  line-height: 30px;
  color: #666666;
  font-weight: 700;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals tr {
  width: 100%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals tr th {
  width: 85%;
  background: #ffffff;
  text-align: right;
  font-size: 12px;
  line-height: 17px;
  color: #666666 !important;
  font-weight: 600;
  vertical-align: middle;
  padding: 4px 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals tr th span {
  font-size: 12px;
  line-height: 17px;
  color: #666666 !important;
  font-weight: 600;
  padding: 0;
  background-color: none;
  background: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals tr th strong {
  padding: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals tr td {
  width: 15%;
  padding: 0 0 0 10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals tr td .price {
  font-size: 14px;
  line-height: 30px;
  color: #666666;
  font-weight: 700;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals tr td span {
  font-size: 12px;
  line-height: 17px;
  color: #666666 !important;
  font-weight: 600;
  background-color: none;
  background: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals tr td strong {
  padding: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals .grand.totals th {
  border-bottom: 1px solid #ccc;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals .grand.totals td {
  border-bottom: 1px solid #ccc;
  padding: 6px 0 6px 10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .opc-block-summary table.table-totals .grand.totals td strong span.price {
  font-size: 20px;
  line-height: 29px;
  color: #9b0005 !important;
  font-weight: 700;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options {
  width: 50%;
  float: right;
  margin: 0;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}
@media only screen and (max-width: 567px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options {
    width: 100%;
    float: none;
  }
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options .admin__field {
  order: 2;
  width: 100%;
  text-align: right;
  padding-right: 10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options .admin__field label {
  font-size: 14px;
  line-height: 20px;
  color: #000001 !important;
  font-weight: 400;
  margin-bottom: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options .admin__field input {
  margin: 0;
  vertical-align: middle;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div {
  order: 1;
  margin-bottom: 10px;
  text-align: right;
  width: 100%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement {
  display: block;
  position: relative;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement input {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement p {
  font-size: 14px;
  line-height: 20px;
  color: #000001;
  font-weight: 400;
  margin-bottom: 0;
  display: inline-block;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement p a {
  color: #005CB8;
  display: inline-block;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement p a:hover {
  text-decoration: underline;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement div.field-error,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement div.mage-error {
  padding: 4px 10px;
  border: 2px solid #DDD;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #EE0101;
  -webkit-box-shadow: 0px 0px 6px #000;
  -moz-box-shadow: 0px 0px 6px #000;
  box-shadow: 0px 0px 6px #000;
  color: #FFF;
  text-align: center;
  font-weight: 100;
  font-size: 11px;
  font-family: Tahoma,Geneva,Kalimati,sans-serif;
  position: absolute;
  right: auto !important;
  bottom: calc(100% + 7px) !important;
  left: 75% !important;
  width: 154px !important;
  height: auto !important;
  z-index: 9 !important;
  opacity: .87;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement div.field-error:before,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement div.mage-error:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #DDD;
  font-size: 0;
  position: absolute;
  top: 100%;
  left: 12px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement div.field-error:after,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement div.mage-error:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgba(238, 1, 1, 0.92);
  font-size: 0;
  position: absolute;
  top: 100%;
  left: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement button.action.action-show {
  text-transform: none;
  font-size: 14px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .additional-options > div .checkout-agreements .checkout-agreement button.action.action-show span {
  font-weight: 700;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method.submit .payment-methods .actions-toolbar button.action {
  background: #9b0005;
  border: 0;
  padding: 6px 23px;
  box-shadow: none;
  border-radius: 2px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method.submit .payment-methods .actions-toolbar button.action span {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  text-transform: capitalize;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method.submit .payment-methods .actions-toolbar button.action:hover {
  background: #c9302c;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method.submit .payment-methods .actions-toolbar button.action[title*="Continue to PayPal"] {
  background: url('../images/paypal-checkout.png') no-repeat;
  display: block;
  background-size: contain;
  width: 175px;
  height: 50px;
  font-size: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method.submit .payment-methods .actions-toolbar button.action[title*="Continue to PayPal"] span {
  font-size: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 567px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method {
    width: 100%;
    float: none;
  }
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option {
    margin: 0 0 20px;
  }
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-title {
  padding: 0 0 10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-title span {
  font-size: 12px;
  line-height: 15px;
  color: #2f2f2f;
  font-family: 'Arial', sans-serif;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-title span:after {
  display: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-content {
  display: block !important;
  padding: 0 0 10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-content .form.form-discount .payment-option-inner {
  margin-bottom: 10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-content .form.form-discount .payment-option-inner .field label {
  display: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-content .form.form-discount .payment-option-inner .field .control input {
  width: 100%;
  max-width: 185px;
  height: 25px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 17px;
  color: #000001;
  font-weight: 700;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-content .form.form-discount .payment-option-inner .field .control input:focus {
  /*box-shadow: 0px 0px 5px #005CB8 !important;*/
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-content .form.form-discount .actions-toolbar .primary {
  float: none;
  text-align: left;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-content .form.form-discount .actions-toolbar .primary button.action {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25), inset 0 0 3px rgba(255, 255, 255, 0.89) !important;
  background: #dddddd;
  border-radius: 5px;
  font-weight: bold;
  width: auto;
  padding: 0px 7px;
  color: #0054a9;
  border-color: #ddd;
  line-height: 0;
  height: auto;
  min-height: 22px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block .checkout-payment-method .payment-option .payment-option-content .form.form-discount .actions-toolbar .primary button.action span {
  text-transform: capitalize;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment {
  width: 100%;
  float: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment br {
  display: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .field .control input,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .field .control select {
  background-color: #ffffff !important;
  border-radius: 0 !important;
  background-position: 96% 50%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .field .control .fields {
  margin: 0 -3px;
  width: calc(100% + 6px);
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .field .control .fields .field {
  width: 50% !important;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .field.number {
  margin-bottom: 10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .field label {
  font-weight: 400;
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items {
    margin: 0;
  }
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .step-title {
  margin: 0 -13px 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method {
  margin-bottom: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .field.choice {
  border: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .field.choice input {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .field.choice label {
  white-space: normal;
  display: inline-flex;
  flex-wrap: wrap;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .field.choice label img {
  width: 50px;
  height: 35px;
  order: 2;
  margin-top: -10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .field.choice label span {
  order: 1;
  margin-right: 10px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .field.choice label a {
  order: 3;
  color: #005CB8;
  font-size: 12px;
  line-height: 17px;
  font-family: 'Arial', sans-serif;
  display: inline-block;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .field.choice label a span {
  color: #005CB8;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .field.choice label a:hover {
  text-decoration: underline;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content {
  padding: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content .credit-card-types {
  margin: 10px auto;
  width: 100%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content .credit-card-types li img {
  width: 30px;
  filter: none;
  -webkit-filter: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content fieldset .field label:after {
  font-size: 14px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content fieldset .field .control input,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content fieldset .field .control select {
  text-align: left !important;
  padding: 0 10px !important;
  height: 25px;
  border-radius: 4px !important;
  width: 100%;
  padding: 0 5px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
  text-align: left;
  color: #000000;
  font-weight: 400;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content fieldset .field .control input:focus,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content fieldset .field .control select:focus {
  /*box-shadow: 0px 0px 5px #005CB8 !important;*/
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content #co-transparent-form {
  border: 1px solid #ccc;
  background: #f4f4f4;
  padding: 5px 15px 15px;
  display: block;
  margin-bottom: 5px;
  color: #2f2f2f;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content #co-transparent-form input[type="number"] {
  padding: 0;
  text-align: center;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content #co-transparent-form input[type="number"]::-webkit-inner-spin-button,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset .opc-payment .items .payment-group .payment-method .payment-method-content #co-transparent-form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  opacity: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset#payment_form_paypal_express {
  width: 100%;
  margin: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #payment #checkout-step-payment #co-payment-form fieldset#payment_form_paypal_express .payment-method-note {
  border: 1px solid #ccc;
  background: #f4f4f4;
  padding: 5px 15px 15px;
  display: block;
  margin-bottom: 5px;
  color: #2f2f2f;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping {
  padding-top: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items {
  display: flex;
  flex-wrap: wrap;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item {
  border-color: rgba(25, 83, 156, 0.5);
  padding: 20px 25px 15px 15px;
  margin: 0 2px 15px;
  font-size: 14px;
  line-height: 20px;
  color: #303030;
  width: 48%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item.selected-item {
  border-color: #19539C;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item.not-selected-item:after {
  display: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item:before {
  display: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item:after {
  background: #19539C;
  height: 23px !important;
  width: 23px;
  font-size: 16px;
  display: block;
  content: '\e610' !important;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item button.action {
  color: #9b0005;
  margin-bottom: 3px;
  border-radius: 0px;
  font-weight: 600;
  border: 0;
  margin: 10px 0 0;
  padding: 0;
  height: 34px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  background: none;
  float: right;
  text-decoration: underline;
}
@media only screen and (max-width: 767px) {
  .checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item button.action {
    margin-bottom: 10px;
  }
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item button.action:hover,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item button.action:focus {
  background-color: none;
  border-color: none;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item button.action span {
  text-transform: capitalize;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .field .control .shipping-address-items .shipping-address-item:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping button.action.action-show-popup,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping button.action.action-edit-address {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
  padding: 5px 15px;
  min-height: 30px;
  font-size: 12px;
  line-height: 18px;
  height: 0;
  margin-bottom: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping button.action.action-show-popup span,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping button.action.action-edit-address span {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping button.action.action-show-popup:hover,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping button.action.action-edit-address:hover {
  text-decoration: none;
  background: #b60006;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login {
  /*display: none;*/
  margin-top: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login #customer-email-error {
  /*color: #c00;*/
  font-size: 12px;
  line-height: 17px;
  margin-top: 2px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login .fieldset .hidden-fields {
  margin: 0;
  width: 100%;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login .fieldset .hidden-fields .control span.note,
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login .fieldset .hidden-fields .control span {
  font-size: 14px;
  line-height: 20px;
  color: #000001;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login .fieldset .hidden-fields .actions-toolbar .primary button {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
  padding: 5px;
  min-height: 27px;
  font-size: 12px;
  line-height: 18px;
  height: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login .fieldset .hidden-fields .actions-toolbar .primary button span {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login .fieldset .hidden-fields .actions-toolbar .primary button:hover {
  text-decoration: none;
  background: #b60006;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login .fieldset .hidden-fields .actions-toolbar .secondary a.action span {
  color: #005cb8;
  font-size: 14px;
  line-height: 20px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-login .fieldset .hidden-fields .actions-toolbar .secondary a.action:hover {
  text-decoration: underline;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .form.form-shipping-address {
  margin-top: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .checkout-billing-address .billing-address-details {
  font-size: 14px;
  line-height: 20px;
  color: #303030;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .checkout-billing-address .billing-address-details button.action {
  margin-top: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .checkout-billing-address .field.choice input {
  vertical-align: middle;
  margin: 0;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .checkout-billing-address .field.choice label {
  display: inline;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .checkout-billing-address .field.choice label span {
  font-size: 12px;
  line-height: 17px;
  color: #5f5f5f;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .checkout-billing-address .fieldset .actions-toolbar button.action {
  background: #9b0005;
  border: 0;
  padding: 0px 15px;
  box-shadow: none;
  border-radius: 2px;
  height: 30px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .checkout-billing-address .fieldset .actions-toolbar button.action span {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #shipping #checkout-step-shipping .checkout-billing-address .fieldset .actions-toolbar button.action:hover {
  background: #c9302c;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #opc-shipping_method .step-title {
  margin-bottom: 15px;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #opc-shipping_method .checkout-shipping-method .step-content .no-quotes-block span {
  font-size: 12px;
  line-height: 19px;
  color: #2f2f2f;
  font-weight: 400;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #opc-shipping_method .checkout-shipping-method .step-content .form.methods-shipping #checkout-shipping-method-load table tr th {
  font-size: 12px;
  line-height: 17px;
  color: #2f2f2f !important;
  font-weight: 700;
  padding: 5px 10px;
  vertical-align: top;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #opc-shipping_method .checkout-shipping-method .step-content .form.methods-shipping #checkout-shipping-method-load table tr td {
  border: 0;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 19px;
  color: #5f6162;
  font-weight: 400;
  font-family: 'Arial', sans-serif;
}
.checkout-index-index #maincontent .columns .column.main #checkout .opc-wrapper .checkout-column .checkout-block #opc-shipping_method .checkout-shipping-method .step-content .form.methods-shipping #checkout-shipping-method-load table tr td input {
  margin: 2px 0 0;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap {
  border: 0;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-header {
  border: 0;
  padding: 0;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-header button {
  width: 22px;
  height: 22px;
  background: url('../images/topnav_close_1.png') no-repeat;
  background-size: contain;
  display: block;
  opacity: 1;
  margin: 5px;
  padding: 0;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-header button:before {
  display: none;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-header h1 {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 7px;
  border-bottom: 2px solid #cc0000;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 10px;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-content {
  border: 0 !important;
  box-shadow: none !important;
  padding: 15px;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-content #opc-new-shipping-address form #shipping-new-address-form {
  margin: 0;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-footer {
  border: 0;
  padding: 15px;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-footer button.action {
  background: #9b0005;
  color: #ffffff;
  margin-bottom: 3px;
  border-radius: 0px;
  border: 1px solid #d43f3a;
  margin: 0 auto;
  padding: 6px 12px;
  height: 34px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
}
@media only screen and (max-width: 767px) {
  .checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-footer button.action {
    margin-bottom: 10px;
  }
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-footer button.action:hover,
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-footer button.action:focus {
  background-color: #c9302c;
  border-color: #ac2925;
}
.checkout-index-index .modals-wrapper aside .modal-inner-wrap .modal-footer button.action span {
  text-transform: capitalize;
}
#co-transparent-form-braintree fieldset .field .control .hosted-date-wrap #braintree_expirationMonth {
  margin-right: 10px;
}
#co-transparent-form-braintree fieldset .field .control .hosted-date-wrap #braintree_expirationMonth:after {
  top: 4;
  right: -15px;
  font-size: 25px;
}
#co-transparent-form-braintree fieldset .field .control .hosted-date-wrap div#braintree_expirationYear {
  margin-left: 10px;
}
#co-transparent-form-braintree fieldset .field .control .hosted-date-wrap .hosted-control {
  width: calc(50% - 10px);
}
.modal-popup #opc-new-shipping-address .fieldset {
  margin: 0 -3px;
  width: calc(100% + 6px);
}
.modal-popup #opc-new-shipping-address .fieldset .field {
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0 3px;
  /* position: relative;*/
}
.modal-popup #opc-new-shipping-address .fieldset .field .label,
.modal-popup #opc-new-shipping-address .fieldset .field label {
  padding: 0;
  border: 0;
  text-align: left;
}
.modal-popup #opc-new-shipping-address .fieldset .field .label span,
.modal-popup #opc-new-shipping-address .fieldset .field label span {
  font-size: 12px;
  line-height: 15px;
  color: #5f5f5f;
}
.modal-popup #opc-new-shipping-address .fieldset .field .label:after,
.modal-popup #opc-new-shipping-address .fieldset .field label:after {
  margin: 0;
  font-size: 11px;
}
.modal-popup #opc-new-shipping-address .fieldset .field .control {
  position: relative;
  width: 100%;
  padding-right: 0;
}
.modal-popup #opc-new-shipping-address .fieldset .field .control input,
.modal-popup #opc-new-shipping-address .fieldset .field .control select {
  height: 25px;
  border-radius: 4px !important;
  width: 100%;
  padding: 0 5px;
  font-family: 'Arial', sans-serif !important;
  font-size: 12px;
  line-height: 15px;
  color: #2f2f2f;
  font-weight: 400;
  margin-bottom: 0px;
  text-align: left;
}
.modal-popup #opc-new-shipping-address .fieldset .field .control select {
  padding-right: 15px;
  border: 1px solid #b8b8b8;
  background: url(../images/down-arrow.svg) no-repeat;
  background-size: 6px;
  background-position: 98% 50%;
}
.modal-popup #opc-new-shipping-address .fieldset .field .control .field-tooltip {
  display: none;
}
.modal-popup #opc-new-shipping-address .fieldset .field .control div.field-error,
.modal-popup #opc-new-shipping-address .fieldset .field .control div.mage-error {
  padding: 4px 10px;
  border: 2px solid #DDD;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #EE0101;
  -webkit-box-shadow: 0px 0px 6px #000;
  -moz-box-shadow: 0px 0px 6px #000;
  box-shadow: 0px 0px 6px #000;
  color: #FFF;
  text-align: center;
  font-weight: 100;
  font-size: 11px;
  font-family: Tahoma,Geneva,Kalimati,sans-serif;
  position: absolute;
  right: auto !important;
  bottom: calc(100% + 7px) !important;
  left: 15% !important;
  width: 154px !important;
  height: auto !important;
  z-index: 9 !important;
  opacity: .87;
}
.modal-popup #opc-new-shipping-address .fieldset .field .control div.field-error:before,
.modal-popup #opc-new-shipping-address .fieldset .field .control div.mage-error:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #DDD;
  font-size: 0;
  position: absolute;
  top: 100%;
  left: 12px;
}
.modal-popup #opc-new-shipping-address .fieldset .field .control div.field-error:after,
.modal-popup #opc-new-shipping-address .fieldset .field .control div.mage-error:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgba(238, 1, 1, 0.92);
  font-size: 0;
  position: absolute;
  top: 100%;
  left: 15px;
}
.modal-popup #opc-new-shipping-address .fieldset .field._error .control input,
.modal-popup #opc-new-shipping-address .fieldset .field._error .control select,
.modal-popup #opc-new-shipping-address .fieldset .field._error .control textarea,
.modal-popup #opc-new-shipping-address .fieldset input.mage-error,
.modal-popup #opc-new-shipping-address .fieldset select.mage-error,
.modal-popup #opc-new-shipping-address .fieldset textarea.mage-error {
  border: 1px dashed rgba(238, 1, 1, 0.92) !important;
  outline: none;
  box-shadow: none;
}
.modal-popup #opc-new-shipping-address .fieldset .field._error .control input:focus,
.modal-popup #opc-new-shipping-address .fieldset .field._error .control select:focus,
.modal-popup #opc-new-shipping-address .fieldset .field._error .control textarea:focus,
.modal-popup #opc-new-shipping-address .fieldset input.mage-error:focus,
.modal-popup #opc-new-shipping-address .fieldset select.mage-error:focus,
.modal-popup #opc-new-shipping-address .fieldset textarea.mage-error:focus {
  outline: none;
  box-shadow: none;
  background: #fff;
}
.modal-popup #opc-new-shipping-address .fieldset fieldset.field .field {
  padding: 0;
}
