@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* PDP Prin page
------------------*/
@media print {
  @page {
    size: 0;
    margin: 0;
  }
  a[href]:after {
    content: none !important;
  }
  .book-date,
  .post-content {
    page-break-before: always;
  }
  p {
    page-break-inside: avoid;
  }
  body.catalog-product-view {
    padding-top: 0 !important;
    /* Header
		================*/
    /* Page titles
		================*/
    /* breadcrumbs
		================*/
    /* maincontent
		================*/
    /* Footer
		================*/
  }
  body.catalog-product-view * {
    box-sizing: border-box;
  }
  body.catalog-product-view .page-header {
    border: none !important;
    border-bottom: solid 1px #cccccc !important;
    box-shadow: none !important;
    position: relative !important;
  }
  body.catalog-product-view .page-header .panel.wrapper {
    display: none;
  }
  body.catalog-product-view .page-header .header.content {
    padding: 15px 0  !important;
  }
  body.catalog-product-view .page-header:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
  }
  body.catalog-product-view .page-title-wrapper {
    padding: 0 !important;
    display: none;
  }
  body.catalog-product-view .page-title-wrapper h1 {
    border: none;
  }
  body.catalog-product-view .breadcrumbs {
    display: none !important;
  }
  body.catalog-product-view main#maincontent {
    padding: 25px 0;
  }
  body.catalog-product-view main#maincontent .column.main {
    /* Related Items
				===================*/
  }
  body.catalog-product-view main#maincontent .column.main .product-info-main {
    width: 70%;
    padding-left: 30px;
    float: right;
  }
  body.catalog-product-view main#maincontent .column.main .product-info-main .page-title-wrapper {
    display: block;
  }
  body.catalog-product-view main#maincontent .column.main .product-info-main .product-info-stock-sku,
  body.catalog-product-view main#maincontent .column.main .product-info-main .box-tocart,
  body.catalog-product-view main#maincontent .column.main .product-info-main .product-social-links {
    display: none;
  }
  body.catalog-product-view main#maincontent .column.main .product.media {
    width: 30%;
    margin: 0 0 30px 0;
    padding: 0;
  }
  body.catalog-product-view main#maincontent .column.main .product.media .fotorama__stage {
    border: solid 1px #cccccc !important;
    background: #cccccc !important;
    height: 220px !important;
  }
  body.catalog-product-view main#maincontent .column.main .product.media .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
    display: none !important;
  }
  body.catalog-product-view main#maincontent .column.main .product.info.detailed {
    padding: 0 5px;
  }
  body.catalog-product-view main#maincontent .column.main .product.info.detailed .product.data.items[role=tablist] .item.title,
  body.catalog-product-view main#maincontent .column.main .product.info.detailed .product.data.items[role=tablist] .item.content {
    display: block !important;
  }
  body.catalog-product-view main#maincontent .column.main .product.info.detailed .product.data.items[role=tablist] .item.title[id*=tab-label-reviews],
  body.catalog-product-view main#maincontent .column.main .product.info.detailed .product.data.items[role=tablist] .item.content[id*=tab-label-reviews],
  body.catalog-product-view main#maincontent .column.main .product.info.detailed .product.data.items[role=tablist] .item.title[id*=reviews],
  body.catalog-product-view main#maincontent .column.main .product.info.detailed .product.data.items[role=tablist] .item.content[id*=reviews] {
    display: none !important;
  }
  body.catalog-product-view main#maincontent .column.main .product.info.detailed .product.data.items[role=tablist] a {
    text-decoration: none !important;
    font-size: 24px;
    display: inline-block !important;
    width: 100% !important;
    background: #cccccc !important;
    border: 0 none !important;
    border-bottom: solid 1px #cccccc !important;
  }
  body.catalog-product-view main#maincontent .column.main .block.related,
  body.catalog-product-view main#maincontent .column.main .block.upsell,
  body.catalog-product-view main#maincontent .column.main .block.crosssell {
    display: none;
  }
  body.catalog-product-view main#maincontent .column.main:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
  }
  body.catalog-product-view .copyright,
  body.catalog-product-view .back_to_top {
    display: none !important;
  }
}
