@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* Pagination 
------------------------------------*/
.pager {
  display: block;
}
.pager .toolbar-amount {
  display: none;
}
.pager .pages {
  padding: 0;
  border: 0;
  margin: 0;
}
.pager .pages strong {
  display: inline-block;
  position: static;
  width: auto;
  height: auto;
  vertical-align: top;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
.pager .pages strong * {
  width: 100%;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.pager .pages ul.items {
  vertical-align: top;
  display: inline-block;
  padding: 0 15px;
}
.pager .pages ul.items li {
  margin: 0;
  padding: 0;
  width: 30px;
  position: static;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.pager .pages ul.items li a {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  display: block;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
  box-shadow: none;
}
.pager .pages ul.items li.pages-item-previous a:before {
  content: '\f053';
  font-family: 'FontAwesome';
  font-size: 12px;
}
.pager .pages ul.items li.pages-item-next a:before {
  content: '\f054';
  font-family: 'FontAwesome';
  font-size: 12px;
}
.pager .pages ul.items li.current span {
  color: #000000;
  font-weight: 600;
}
.pager .pages ul.items li.current * {
  width: 100%;
  background: none;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.pager .pages ul.items li:hover a {
  color: #000000;
}
.pager .pages ul.items li:hover a:before {
  color: #000000;
}
.pager .pages ul.items li:hover span {
  color: #000000;
}
.amfinder-index-index .page-title-wrapper {
  display: none;
}
.cms-part-finder .part_finder_main,
.cms-manual-part-finder .part_finder_main {
  padding: 0 15px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 991px) {
  .cms-part-finder .part_finder_main,
  .cms-manual-part-finder .part_finder_main {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .cms-part-finder .part_finder_main,
  .cms-manual-part-finder .part_finder_main {
    margin-bottom: 15px;
    padding: 0;
  }
}
.cms-part-finder .part_finder_main .part_finder_title,
.cms-manual-part-finder .part_finder_main .part_finder_title {
  margin: 45px 0;
}
@media only screen and (max-width: 767px) {
  .cms-part-finder .part_finder_main .part_finder_title,
  .cms-manual-part-finder .part_finder_main .part_finder_title {
    margin: 25px 0;
  }
}
.cms-part-finder .part_finder_main .part_finder_title .browse-lft-line,
.cms-manual-part-finder .part_finder_main .part_finder_title .browse-lft-line {
  border-bottom: 3px solid #cc0000;
  padding-top: 0px;
}
@media only screen and (max-width: 991px) {
  .cms-part-finder .part_finder_main .part_finder_title .browse-lft-line,
  .cms-manual-part-finder .part_finder_main .part_finder_title .browse-lft-line {
    width: 20%;
    display: inline-block;
  }
}
@media only screen and (max-width: 567px) {
  .cms-part-finder .part_finder_main .part_finder_title .browse-lft-line,
  .cms-manual-part-finder .part_finder_main .part_finder_title .browse-lft-line {
    width: 100%;
    padding-top: 0;
    line-height: 0;
  }
}
@media only screen and (max-width: 991px) {
  .cms-part-finder .part_finder_main .part_finder_title .browse,
  .cms-manual-part-finder .part_finder_main .part_finder_title .browse {
    text-align: center;
    width: 60%;
    display: inline-block;
  }
}
@media only screen and (max-width: 567px) {
  .cms-part-finder .part_finder_main .part_finder_title .browse,
  .cms-manual-part-finder .part_finder_main .part_finder_title .browse {
    width: 100%;
  }
}
.cms-part-finder .part_finder_main .part_finder_title .browse p,
.cms-manual-part-finder .part_finder_main .part_finder_title .browse p {
  box-shadow: 0 0 20px #ddd inset;
  background-color: #f6f6f6;
  border-radius: 5px;
  color: #002757;
  font-size: 24px;
  font-weight: bold;
  padding: 11px 14px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto 10px;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .cms-part-finder .part_finder_main .part_finder_title .browse p,
  .cms-manual-part-finder .part_finder_main .part_finder_title .browse p {
    padding: 10px 16px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 567px) {
  .cms-part-finder .part_finder_main .part_finder_title .browse p,
  .cms-manual-part-finder .part_finder_main .part_finder_title .browse p {
    margin: 10px auto;
    max-width: fit-content;
    width: auto;
  }
}
.cms-part-finder .part_finder_main .part_finder_title .browse-right-line,
.cms-manual-part-finder .part_finder_main .part_finder_title .browse-right-line {
  border-bottom: 3px solid #cc0000;
  padding-top: 0px;
}
@media only screen and (max-width: 991px) {
  .cms-part-finder .part_finder_main .part_finder_title .browse-right-line,
  .cms-manual-part-finder .part_finder_main .part_finder_title .browse-right-line {
    width: 20%;
    display: inline-block;
  }
}
@media only screen and (max-width: 567px) {
  .cms-part-finder .part_finder_main .part_finder_title .browse-right-line,
  .cms-manual-part-finder .part_finder_main .part_finder_title .browse-right-line {
    width: 100%;
    padding-top: 0;
    line-height: 0;
  }
}
.cms-part-finder .part_finder_main .part_finder_title:after,
.cms-manual-part-finder .part_finder_main .part_finder_title:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.cms-part-finder .part_finder_main .part_finder_search,
.cms-manual-part-finder .part_finder_main .part_finder_search {
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .cms-part-finder .part_finder_main .part_finder_search,
  .cms-manual-part-finder .part_finder_main .part_finder_search {
    margin-bottom: 15px;
  }
}
.cms-part-finder .part_finder_main .part_finder_search .block.block-search,
.cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search {
  float: none;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field,
  .cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field {
    position: relative;
  }
  .cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .label,
  .cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .label {
    position: absolute;
    top: 3px;
    right: 0;
    margin: 0;
    cursor: pointer;
  }
  .cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .label:before,
  .cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .label:before {
    color: #cc0001;
    margin: 0;
    line-height: 23px;
    font-size: 19px;
  }
}
.cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .control,
.cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .control {
  border: 0;
}
.cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .control input,
.cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .control input {
  height: 34px;
  border-radius: 2px !important;
  font-family: 'Arial', sans-serif !important;
  font-size: 13px;
  padding-right: 120px;
  padding-left: 10px;
  position: static;
  margin: 0;
  color: #999999;
}
@media only screen and (max-width: 767px) {
  .cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .control input,
  .cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .field .control input {
    padding-right: 40px;
  }
}
.cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .actions .action.search,
.cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .actions .action.search {
  height: 34px !important;
  color: #ffffff;
  padding: 5px 23px 6px 12px;
  height: auto;
  font-size: 14px;
  background: #cc0001;
  border-radius: 0 5px 5px 0 !important;
  opacity: 1;
  right: 0;
  line-height: 19px;
  font-family: 'Arial', sans-serif;
}
@media only screen and (max-width: 991px) {
  .cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .actions .action.search,
  .cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .actions .action.search {
    padding: 5px 15px 6px;
  }
}
.cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .actions .action.search:before,
.cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .actions .action.search:before {
  content: '\f002';
  font-family: 'FontAwesome';
  color: #ffffff;
  line-height: 19px;
  padding: 0 8px 0 0;
  font-size: 17px;
}
@media only screen and (max-width: 991px) {
  .cms-part-finder .part_finder_main .part_finder_search .block.block-search .block form .actions .action.search:before,
  .cms-manual-part-finder .part_finder_main .part_finder_search .block.block-search .block form .actions .action.search:before {
    padding: 0 5px 0 0px;
  }
}
.cms-part-finder .part_finder_main .part_finder_search .search_bottom_content,
.cms-manual-part-finder .part_finder_main .part_finder_search .search_bottom_content {
  display: none;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper {
  background: none;
  padding: 15px;
}
@media only screen and (max-width: 480px) {
  .cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper,
  .cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper {
    padding: 15px 0;
  }
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form {
  clear: both;
  max-width: 100%;
  margin: 0 auto;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form .amfinder-title,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form .amfinder-title {
  display: block;
  color: #333333;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  margin-bottom: 30px;
  border: 0;
  background: none;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form .amfinder-title:after,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form .amfinder-title:after,
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form .amfinder-title:before,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form .amfinder-title:before {
  display: none;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle {
  padding: 0;
  font-size: 0;
  display: block;
  border: 0;
  margin: 0 auto;
  text-align: center;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li {
  vertical-align: top;
  margin: 0;
  width: 25% !important;
  padding-right: 15px;
  font-size: 14px;
}
@media only screen and (max-width: 480px) {
  .cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li,
  .cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li {
    width: 100% !important;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item {
  float: none;
  width: auto !important;
  padding-right: 0;
  margin-bottom: 0px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item,
  .cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item {
    width: 100% !important;
  }
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons {
  padding: 00px 0 0;
}
@media only screen and (max-width: 1024px) {
  .cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons,
  .cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons {
    padding: 20px 0 0;
  }
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons button,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons button {
  padding: 6px 12px;
  height: 30px;
  background: #9b0005;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  margin-left: 10px;
  text-transform: capitalize;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons button:hover,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons button:hover {
  background: #c9302c;
}
@media only screen and (max-width: 480px) {
  .cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons,
  .cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li.last.-list-item .amfinder-buttons {
    padding: 0;
  }
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li:last-child,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li:last-child {
  padding-right: 0;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li .dropdown-title,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li .dropdown-title {
  display: none;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li .dropdown-element .amfinder-select-wrapper:after,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li .dropdown-element .amfinder-select-wrapper:after {
  display: none;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li .dropdown-element .amfinder-select-wrapper select,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li .dropdown-element .amfinder-select-wrapper select {
  color: #666666;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 19px;
  background-color: #f5f5f5 !important;
  border-radius: 4px !important;
  margin: 0 !important;
  background: url('../images/sort-up-and-down-arrows-couple.svg') no-repeat;
  background-size: 14px;
  background-position: 98% 50%;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li .chosen-container .chosen-drop ul li,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li .chosen-container .chosen-drop ul li {
  width: 100% !important;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li:last-child,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li:last-child {
  width: 9% !important;
  display: inline-block;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li:last-child .button,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle li:last-child .button {
  background: #cc0001;
  color: #fff;
  border: 1px solid #cc0001;
  padding: 4px 7px;
}
.cms-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle:after,
.cms-manual-part-finder .part_finder_main .part_finder_selection .amfinder-common-wrapper form ul.amfinder-toggle:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
/* manual finder */
.cms-manual-part-finder .manual-result {
  border: none;
  margin-top: 15px;
}
.cms-manual-part-finder .manual-result #cart_main tr td table {
  border: none;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr,
.cms-manual-part-finder .manual-result #cart_main tbody tr {
  border-bottom: none;
}
.cms-manual-part-finder .repair-table #cart_main tr td,
.cms-manual-part-finder .manual-result #cart_main tr td {
  padding: 0;
}
.cms-manual-part-finder .repair-table #cart_main thead tr,
.cms-manual-part-finder .manual-result #cart_main thead tr {
  border-bottom: 1px solid #B4B4B4;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td table tbody tr,
.cms-manual-part-finder .manual-result #cart_main tbody tr td table tbody tr {
  border-bottom: 1px solid #B4B4B4;
}
.cms-manual-part-finder .repair-table #cart_main thead,
.cms-manual-part-finder .manual-result #cart_main thead {
  border: none;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th {
  border: none;
  padding: 15px;
  font-size: 15px;
  text-align: center;
  position: relative;
  line-height: 45px;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section td,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section td {
  padding: 15px !important;
  vertical-align: middle;
  border: none;
  position: relative;
  line-height: 22px;
  font-size: 15px;
}
.cms-manual-part-finder .manual-result #cart_main .cart_section tbody tr td a {
  color: #fff;
  background: #9b0005;
  padding: 1px 15px;
}
.cms-manual-part-finder .manual-result #cart_main .cart_section tbody tr td a:hover {
  color: #fff;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: calc(80%);
  top: 9px;
  background: #B4B4B4;
  vertical-align: middle;
}
.cms-manual-part-finder .repair-table #cart_main tr,
.cms-manual-part-finder .manual-result #cart_main tbody tr td table tbody tr {
  border-bottom: 1px solid #B4B4B4;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:last-child:after {
  display: none;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section tbody td:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: calc(86%);
  top: 6px;
  background: #B4B4B4;
  vertical-align: middle;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section tbody td:last-child:after {
  display: none;
}
.manual_filter_result {
  width: auto;
  text-align: center;
  padding: 17px 0 0;
}
.manual_filter_result span {
  font-size: 14px;
  color: #052B53;
  display: inline-block;
}
.manual_filter_result span h5 {
  display: inline;
  font-weight: 700;
  font-size: 14px;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(1) {
  width: 15%;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(2) {
  width: 33%;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(3) {
  width: 42%;
}
.cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
.cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(4) {
  width: 10%;
}
@media only screen and (max-width: 768px) {
  .cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
  .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(1) {
    width: 20%;
  }
  .cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
  .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th:nth-child(2) {
    width: 28%;
  }
}
@media only screen and (max-width: 767px) {
  .cms-manual-part-finder .manual-result {
    overflow: auto;
  }
}
@media only screen and (max-width: 480px) {
  .cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section thead th,
  .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section thead th {
    vertical-align: top;
  }
  .cms-manual-part-finder .repair-table #cart_main tbody tr td .cart_section td,
  .cms-manual-part-finder .manual-result #cart_main tbody tr td .cart_section td {
    padding: 15px 5px 15px 10px !important;
  }
}
/* Popups desgin for all pages*/
.account .modal-inner-wrap .modal-content {
  box-shadow: none;
  padding: 15px;
  border: none;
}
.account .modal-inner-wrap .modal-footer {
  border: none;
}
.modal-open {
  overflow: auto;
}
.modal-open .modal {
  background: rgba(0, 0, 0, 0.5);
}
/* Add to cart popup design*/
body.catalog-product-view .modal,
.page-with-filter.page-products .modal,
.imports-compare-index .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}
body.catalog-product-view .modal .modal-dialog,
.page-with-filter.page-products .modal .modal-dialog,
.imports-compare-index .modal .modal-dialog {
  margin: 50px auto;
}
@media only screen and (max-width: 991px) {
  body.catalog-product-view .modal .modal-dialog,
  .page-with-filter.page-products .modal .modal-dialog,
  .imports-compare-index .modal .modal-dialog {
    margin: 50px 20px;
  }
}
@media only screen and (max-width: 480px) {
  body.catalog-product-view .modal .modal-dialog,
  .page-with-filter.page-products .modal .modal-dialog,
  .imports-compare-index .modal .modal-dialog {
    margin: 50px 10px;
  }
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body {
  position: relative;
  padding: 20px;
  z-index: 10;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel {
  margin: 0;
  overflow: auto;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading {
  background: #428bca;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading img.ajax-cart-img,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading img.ajax-cart-img,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading img.ajax-cart-img {
  display: none;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading .panel-title h3,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading .panel-title h3,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading .panel-title h3 {
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading p,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading p,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading p {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  height: 0;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading p button#add_to_cart_d,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading p button#add_to_cart_d,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading p button#add_to_cart_d,
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading p button#add_to_cart_details,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading p button#add_to_cart_details,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel .panel-heading p button#add_to_cart_details {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #990000;
  border: none;
  color: #ffffff;
  border-top-right-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 0px 6px 1px;
  border-bottom-left-radius: 3px;
  width: 20px;
  height: 20px;
  border-radius: 0 5px 0 4px;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table {
  padding: 15px;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table table tr th,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table table tr th,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table table tr th {
  border: 1px solid #ccc;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table table tr td,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table table tr td,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table table tr td {
  border: 1px solid #ccc;
  padding: 5px;
  vertical-align: middle;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table th,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table th,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table th {
  font-size: 12px;
  color: #666666 !important;
  line-height: 17px;
  padding: 5px;
  white-space: nowrap;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table th.miniqty,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table th.miniqty,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table th.miniqty {
  width: 60px;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table td,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table td,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table td {
  padding: 0;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_qty,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_qty,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_qty {
  font-size: 12px;
  color: #666;
  line-height: 17px;
  text-align: center;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_d,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_d,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_d,
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_details,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_details,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_details {
  background: #9d9e9e;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  border: 1px solid transparent;
  color: #ffffff;
  border: 1px solid #8f8f8f;
  margin: 0 20px 8px;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_d:hover,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_d:hover,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_d:hover,
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_details:hover,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_details:hover,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #add_to_cart_details:hover {
  opacity: 0.8;
  text-decoration: underline;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #sale_add_to_cart_redirect,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #sale_add_to_cart_redirect,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #sale_add_to_cart_redirect {
  background: #9b0005;
  border-color: #d43f3a;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  margin: 0 20px 8px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  color: #ffffff;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #sale_add_to_cart_redirect:hover,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #sale_add_to_cart_redirect:hover,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #sale_add_to_cart_redirect:hover {
  background-color: #c9302c;
  text-decoration: underline;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table .box2,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table .box2,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table .box2 {
  padding: 0;
  margin: 20px 20px 8px;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table .box2 table tr:first-child:hover,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table .box2 table tr:first-child:hover,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table .box2 table tr:first-child:hover {
  background: none;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table .box2 table tr:hover,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table .box2 table tr:hover,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table .box2 table tr:hover {
  background-color: #f5f5f5;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_image,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_image,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_image {
  width: 40px;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_image img,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_image img,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_image img {
  width: 40px;
  height: 40px;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_title a,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_title a,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_title a {
  font-size: 12px;
  color: #666;
  line-height: 17px;
  display: block;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_title a:hover,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_title a:hover,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_title a:hover {
  text-decoration: underline;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_price,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_price,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_price {
  white-space: nowrap;
  font-size: 12px;
  color: #666;
  line-height: 17px;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_price strong,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_price strong,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table #product_price strong {
  font-size: 12px;
  color: #666;
  line-height: 17px;
  display: inline-block;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table tr td.actions table tr th,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table tr td.actions table tr th,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table tr td.actions table tr th {
  border: 0px solid #ccc;
}
body.catalog-product-view .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table tr td.actions table tr td,
.page-with-filter.page-products .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table tr td.actions table tr td,
.imports-compare-index .modal .modal-dialog .modal-content .modal-body .ajax_cart_box .panel table tr td.actions table tr td {
  border: 0px solid #ccc;
  padding: 0;
}
/*  call_pop popup  myModalPricePopup  call_msrp_pop */
#call_pop,
#myModalPricePopup,
#call_msrp_pop {
  z-index: 9999;
}
#call_pop .modal-dialog,
#myModalPricePopup .modal-dialog,
#call_msrp_pop .modal-dialog {
  width: 500px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
}
#call_pop .modal-dialog .modal-content .modal-header button.close,
#myModalPricePopup .modal-dialog .modal-content .modal-header button.close,
#call_msrp_pop .modal-dialog .modal-content .modal-header button.close {
  width: 22px;
  height: 22px;
  background: url('../images/topnav_close_1.png') no-repeat;
  background-size: contain;
  display: block;
  opacity: 1;
}
#call_pop .modal-dialog .modal-content .modal-header button.close span,
#myModalPricePopup .modal-dialog .modal-content .modal-header button.close span,
#call_msrp_pop .modal-dialog .modal-content .modal-header button.close span {
  display: none;
}
#call_pop .modal-dialog .modal-content .modal-header strong,
#myModalPricePopup .modal-dialog .modal-content .modal-header strong,
#call_msrp_pop .modal-dialog .modal-content .modal-header strong {
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  font-weight: 700;
}
#call_pop .modal-dialog .modal-content .modal-body,
#myModalPricePopup .modal-dialog .modal-content .modal-body,
#call_msrp_pop .modal-dialog .modal-content .modal-body {
  padding: 10px 15px;
}
#call_pop .modal-dialog .modal-content .modal-body strong,
#myModalPricePopup .modal-dialog .modal-content .modal-body strong,
#call_msrp_pop .modal-dialog .modal-content .modal-body strong {
  font-size: 13px;
  line-height: 19px;
  color: #666666;
  font-weight: 700;
}
#call_pop .modal-dialog .modal-content .modal-body hr,
#myModalPricePopup .modal-dialog .modal-content .modal-body hr,
#call_msrp_pop .modal-dialog .modal-content .modal-body hr {
  margin: 10px 0;
}
#call_pop .modal-dialog .modal-content .modal-body p,
#myModalPricePopup .modal-dialog .modal-content .modal-body p,
#call_msrp_pop .modal-dialog .modal-content .modal-body p {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
}
#call_pop .modal-dialog .modal-content .modal-body div,
#myModalPricePopup .modal-dialog .modal-content .modal-body div,
#call_msrp_pop .modal-dialog .modal-content .modal-body div {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  font-weight: 400;
}
#call_pop .modal-dialog .modal-content .modal-body div h4,
#myModalPricePopup .modal-dialog .modal-content .modal-body div h4,
#call_msrp_pop .modal-dialog .modal-content .modal-body div h4 {
  font-size: 18px;
  line-height: 18px;
  color: #666666;
  font-weight: 500;
  margin-top: 10px;
}
#call_pop .modal-dialog .modal-content .modal-body div h4 i,
#myModalPricePopup .modal-dialog .modal-content .modal-body div h4 i,
#call_msrp_pop .modal-dialog .modal-content .modal-body div h4 i {
  font-size: 18px;
  line-height: 18px;
  color: #9b0005;
  font-weight: 400;
}
#call_pop .modal-dialog .modal-content .modal-body div h4 strong,
#myModalPricePopup .modal-dialog .modal-content .modal-body div h4 strong,
#call_msrp_pop .modal-dialog .modal-content .modal-body div h4 strong {
  font-size: 18px;
  line-height: 18px;
  color: #0095da;
  font-weight: 700;
}
#call_pop .modal-dialog .modal-content .modal-body div img,
#myModalPricePopup .modal-dialog .modal-content .modal-body div img,
#call_msrp_pop .modal-dialog .modal-content .modal-body div img {
  width: 71px;
  height: 71px;
  margin-right: 25px;
}
#call_pop .modal-dialog .modal-content .modal-body div span,
#myModalPricePopup .modal-dialog .modal-content .modal-body div span,
#call_msrp_pop .modal-dialog .modal-content .modal-body div span {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  font-weight: 400;
}
/*  myModalPricePopup  */
#myModalPricePopup .modal-header h4,
#myModal_compare_callforprice .modal-header h4 {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  font-weight: 500;
}
#myModalPricePopup .modal-header .close,
#myModal_compare_callforprice .modal-header .close {
  width: 22px;
  height: 22px;
  background: url('../images/topnav_close_1.png') no-repeat;
  background-size: contain;
  display: block;
  opacity: 1;
}
#myModalPricePopup .modal-body,
#myModal_compare_callforprice .modal-body {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  font-weight: 400;
  padding: 10px;
}
#myModalPricePopup .modal-body strong,
#myModal_compare_callforprice .modal-body strong {
  font-size: 14px !important;
  line-height: 20px !important;
  color: #333333 !important;
}
#myModalPricePopup .modal-body h4,
#myModal_compare_callforprice .modal-body h4 {
  font-size: 18px;
  line-height: 18px;
  color: #666666;
  font-weight: 500;
  margin-top: 10px;
}
#myModalPricePopup .modal-body h4 i,
#myModal_compare_callforprice .modal-body h4 i {
  font-size: 18px;
  line-height: 18px;
  color: #9b0005;
  font-weight: 400;
}
#myModalPricePopup .modal-body h4 strong,
#myModal_compare_callforprice .modal-body h4 strong {
  font-size: 18px !important;
  line-height: 18px !important;
  color: #0095da !important;
  font-weight: 700 !important;
}
/*   categoryvideos popup  */
#categoryvideos .modal-dialog {
  width: 612px;
}
#categoryvideos .modal-dialog .modal-content button.close {
  opacity: 1;
  padding: 0 4px;
}
#categoryvideos .modal-dialog .modal-content .modal-body {
  width: 100%;
  padding: 0 15px 15px;
  overflow: auto;
}
/* price match popup  */
#priceMatch .modal-dialog .modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#priceMatch .modal-dialog .modal-content .modal-body {
  padding: 10px 10px 0;
}
#priceMatch .modal-dialog .modal-content .modal-body .close {
  margin-bottom: 10px;
  width: 100%;
  display: block;
  opacity: 1;
}
#priceMatch .modal-dialog .modal-content .modal-body .close button {
  width: 24px;
  height: 26px;
  padding: 0;
  border-radius: 1px;
  border-color: #adadad;
  background: #e8e8e8;
  color: #444444;
}
#priceMatch .modal-dialog .modal-content .modal-body p {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  margin-bottom: 10px;
}
#priceMatch .modal-dialog .modal-content .modal-body ul {
  padding-left: 40px;
  margin-bottom: 15px;
}
#priceMatch .modal-dialog .modal-content .modal-body ul li {
  margin-bottom: 0;
}
#priceMatch .modal-dialog .modal-content .modal-body ul li p {
  margin-bottom: 0;
}
#priceMatch .modal-dialog .modal-content .modal-body h3 {
  border-bottom: 1px solid #9b0005;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  line-height: 21px;
}
#priceMatch .modal-dialog .modal-content .modal-body .priceguarenteedetail {
  text-align: left;
  font-size: 22px;
  margin: 0.5em auto;
  display: block;
  line-height: 1em;
  width: 100%;
  max-width: 250px;
  color: #1C5174;
  font-weight: bold;
  padding-bottom: 5px;
  clear: both;
}
#priceMatch .modal-dialog .modal-content .modal-body .priceguarenteedetail img {
  width: 55px !important;
  height: auto !important;
  float: left;
  margin-right: 10px;
}
#priceMatch .modal-dialog .modal-content .modal-body .priceguarenteedetail p {
  font-size: 22px;
  line-height: 22px;
  color: #1c5174;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 5px;
  position: relative;
  top: 5px;
}
#priceMatch .modal-dialog .modal-content .modal-body .priceguarenteedetail p span {
  font-weight: 400;
}
#priceMatch .modal-dialog .modal-content .modal-body .priceguarenteedetail:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
/* myModal_gallery */
#myModal_gallery .modal-header {
  padding: 10px 10px 5px;
}
#myModal_gallery .modal-header button.close {
  opacity: 1;
}
#myModal_gallery .modal-body {
  padding-top: 10px;
}
#myModal_gallery .modal-body figure {
  position: relative;
  padding-bottom: 75%;
  width: 100%;
  height: 100%;
}
#myModal_gallery .modal-body figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#myModalResellerRating .modal-dialog {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin: 50px auto;
  padding: 0 15px;
}
#myModalResellerRating .modal-header {
  border-bottom: 0;
  padding-bottom: 5px;
}
#myModalResellerRating .modal-header button.close {
  opacity: 1;
  height: 35px;
  padding: 6px;
  width: 35px;
  border-radius: 100%;
  background: #ffffff;
  transition: background-color 0.5s ease;
  position: relative;
  right: -7px;
}
#myModalResellerRating .modal-header button.close:before {
  width: 24px;
  background: url('../images/icon-close-black.png');
  background-repeat: no-repeat;
  height: 24px;
  content: '';
  display: block;
  background-size: 24px;
  /*background-color: @clr_white;*/
}
#myModalResellerRating .modal-header button.close span {
  display: none;
}
#myModalResellerRating .modal-header button.close:hover {
  background-color: #ea0eea;
}
#myModalResellerRating .modal-header button.close:hover:before {
  /*background-color: #ea0eea;*/
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-header .modal-title {
    font-size: 18px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-header .modal-title strong {
    font-size: 18px;
    line-height: 24px;
  }
}
#myModalResellerRating .modal-body {
  padding-top: 0;
}
#myModalResellerRating .modal-body .acs_product_reviews {
  color: #000000;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_top_container {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_top_container {
    padding-bottom: 0;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td {
  width: 85%;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td {
    width: 50%;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td.centerContainer h4 {
  display: none;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td.centerContainer .rr_smb_starts_container > span {
  display: none;
  width: 100%;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td.centerContainer .rr_smb_starts_container .acs_rating_bar .acs_blox {
  position: relative;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td.centerContainer .rr_smb_starts_container .acs_rating_bar .acs_blox .acs_blox_fill {
  position: absolute;
  top: 0;
  left: 0;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td.centerContainer .rr_smb_starts_container .rating-count {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td:first-child {
  width: 15%;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td:first-child {
    width: 50%;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_top_container .rr_smb_ratings_container table tr td:last-child {
  display: none;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review {
  position: relative;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info {
  width: 25%;
  float: left;
  padding-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info {
    width: 100%;
    float: none;
    padding-bottom: 00px;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_user_info {
  padding-right: 25px;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_user_info .acs_user_img:before {
  width: 150px;
  background: url('../images/generic_user_png.png');
  background-repeat: no-repeat;
  height: 150px;
  content: '';
  display: block;
  background-size: 150px;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_user_info .acs_user_img:before {
    height: 100px;
    width: 100px;
    background-size: 100px;
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_user_info .acs_user_img:before {
    height: 50px;
    width: 50px;
    background-size: 50px;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_reviewer_stats {
  position: absolute;
  left: 25%;
  top: 0;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_reviewer_stats {
    position: static;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_reviewer_stats .acs_verified_user {
  display: none !important;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_reviewer_stats li {
  font-size: 11px;
  display: inline-block;
  width: auto;
  padding-right: 15px;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_reviewer_stats li {
    display: block;
    width: 100%;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_reviewer_stats li:last-child {
  padding-right: 0;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_reviewer_stats li span {
  font-size: 11px;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_heading_lg {
  text-align: center;
  font-size: 18px;
  color: #000000;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_heading_lg {
    text-align: left;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info .acs_review_recommend {
  display: none;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review .acs_js_review_info:after {
  content: '';
  display: block;
  clear: both;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary {
  width: 75%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary {
    width: 100%;
    float: none;
    padding-top: 0;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_score_wrapper {
  width: 100%;
  display: block;
  order: 1;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_score_wrapper {
    margin-bottom: 10px;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_score_wrapper .acs_rating_score {
  display: none;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_score_wrapper .acs_rating_bar .acs_blox {
  position: relative;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_score_wrapper .acs_rating_bar .acs_blox .acs_blox_fill {
  position: absolute;
  top: 0;
  left: 0;
  color: #FF9E32 !important;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_score_wrapper .rating-count {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_heading_lg {
  font-size: 21px;
  width: 100%;
  display: block;
  order: 2;
  color: #672d91;
  font-weight: 700;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_heading_lg {
    margin-bottom: 15px;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_review_text {
  width: 100%;
  display: block;
  order: 3;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  #myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_summary .acs_review_text {
    margin-bottom: 10px;
  }
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review > .acs_review_recommend {
  width: auto;
  float: left;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container .acs_review_container .acs_single_review:after {
  content: '';
  display: block;
  clear: both;
}
#myModalResellerRating .modal-body .acs_product_reviews .acs_js_reviews_container #answ_pagination_bottom {
  display: none;
}
.modal-body a#add_to_cart_details {
  /*display: none !important;*/
}
