@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* Common Product design
======================================*/
.page-products,
.catalog-product-view,
.wishlist-index-index {
  /* 1 column layout
  ==================*/
}
.page-products .products,
.catalog-product-view .products,
.wishlist-index-index .products,
.page-products .wishlist,
.catalog-product-view .wishlist,
.wishlist-index-index .wishlist {
  margin: 0;
  /* Grid View
    ==================*/
  /* List View
    ==================*/
}
.page-products .products ol.product-items,
.catalog-product-view .products ol.product-items,
.wishlist-index-index .products ol.product-items,
.page-products .wishlist ol.product-items,
.catalog-product-view .wishlist ol.product-items,
.wishlist-index-index .wishlist ol.product-items {
  margin: 0;
}
.page-products .products ol.product-items li,
.catalog-product-view .products ol.product-items li,
.wishlist-index-index .products ol.product-items li,
.page-products .wishlist ol.product-items li,
.catalog-product-view .wishlist ol.product-items li,
.wishlist-index-index .wishlist ol.product-items li {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 0px;
  border: 0 !important;
  font-size: 14px;
  line-height: 18px;
}
.page-products .products .product-item-info,
.catalog-product-view .products .product-item-info,
.wishlist-index-index .products .product-item-info,
.page-products .wishlist .product-item-info,
.catalog-product-view .wishlist .product-item-info,
.wishlist-index-index .wishlist .product-item-info {
  width: 100%;
  margin: 0;
  /*box-shadow: 0 0 5px 0px fade(@clr_black, 20%);*/
  border: 0;
  position: relative;
  top: 0;
  /*.transition(all 0.2s ease-in-out);*/
}
.page-products .products .product-item-info .product-item-photo,
.catalog-product-view .products .product-item-info .product-item-photo,
.wishlist-index-index .products .product-item-info .product-item-photo,
.page-products .wishlist .product-item-info .product-item-photo,
.catalog-product-view .wishlist .product-item-info .product-item-photo,
.wishlist-index-index .wishlist .product-item-info .product-item-photo {
  width: 100%;
  display: block;
}
.page-products .products .product-item-info .product-item-photo .product-image-container,
.catalog-product-view .products .product-item-info .product-item-photo .product-image-container,
.wishlist-index-index .products .product-item-info .product-item-photo .product-image-container,
.page-products .wishlist .product-item-info .product-item-photo .product-image-container,
.catalog-product-view .wishlist .product-item-info .product-item-photo .product-image-container,
.wishlist-index-index .wishlist .product-item-info .product-item-photo .product-image-container {
  width: 100% !important;
  max-width: 100%;
  display: block;
}
.page-products .products .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
.catalog-product-view .products .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
.wishlist-index-index .products .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
.page-products .wishlist .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
.catalog-product-view .wishlist .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
.wishlist-index-index .wishlist .product-item-info .product-item-photo .product-image-container .product-image-wrapper {
  padding-bottom: 38% !important;
  /*background: fade(@clr_black,10%);*/
}
@media only screen and (max-width: 991px) {
  .page-products .products .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
  .catalog-product-view .products .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
  .wishlist-index-index .products .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
  .page-products .wishlist .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
  .catalog-product-view .wishlist .product-item-info .product-item-photo .product-image-container .product-image-wrapper,
  .wishlist-index-index .wishlist .product-item-info .product-item-photo .product-image-container .product-image-wrapper {
    padding-bottom: 24% !important;
  }
}
.page-products .products .product-item-info .product-item-photo .product-image-container .product-image-wrapper .product-image-photo,
.catalog-product-view .products .product-item-info .product-item-photo .product-image-container .product-image-wrapper .product-image-photo,
.wishlist-index-index .products .product-item-info .product-item-photo .product-image-container .product-image-wrapper .product-image-photo,
.page-products .wishlist .product-item-info .product-item-photo .product-image-container .product-image-wrapper .product-image-photo,
.catalog-product-view .wishlist .product-item-info .product-item-photo .product-image-container .product-image-wrapper .product-image-photo,
.wishlist-index-index .wishlist .product-item-info .product-item-photo .product-image-container .product-image-wrapper .product-image-photo {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}
.page-products .products .product-item-info .product-item-details,
.catalog-product-view .products .product-item-info .product-item-details,
.wishlist-index-index .products .product-item-info .product-item-details,
.page-products .wishlist .product-item-info .product-item-details,
.catalog-product-view .wishlist .product-item-info .product-item-details,
.wishlist-index-index .wishlist .product-item-info .product-item-details {
  padding: 15px;
  display: block;
}
.page-products .products .product-item-info .product-item-name,
.catalog-product-view .products .product-item-info .product-item-name,
.wishlist-index-index .products .product-item-info .product-item-name,
.page-products .wishlist .product-item-info .product-item-name,
.catalog-product-view .wishlist .product-item-info .product-item-name,
.wishlist-index-index .wishlist .product-item-info .product-item-name {
  display: inline-block;
  width: 100%;
}
.page-products .products .product-item-info .product-item-name a,
.catalog-product-view .products .product-item-info .product-item-name a,
.wishlist-index-index .products .product-item-info .product-item-name a,
.page-products .wishlist .product-item-info .product-item-name a,
.catalog-product-view .wishlist .product-item-info .product-item-name a,
.wishlist-index-index .wishlist .product-item-info .product-item-name a,
.page-products .products .product-item-info .product-item-name .product-item-link,
.catalog-product-view .products .product-item-info .product-item-name .product-item-link,
.wishlist-index-index .products .product-item-info .product-item-name .product-item-link,
.page-products .wishlist .product-item-info .product-item-name .product-item-link,
.catalog-product-view .wishlist .product-item-info .product-item-name .product-item-link,
.wishlist-index-index .wishlist .product-item-info .product-item-name .product-item-link {
  font-weight: 600;
  /*.dot_elips;*/
}
.page-products .products .product-item-info .product-item-inner,
.catalog-product-view .products .product-item-info .product-item-inner,
.wishlist-index-index .products .product-item-info .product-item-inner,
.page-products .wishlist .product-item-info .product-item-inner,
.catalog-product-view .wishlist .product-item-info .product-item-inner,
.wishlist-index-index .wishlist .product-item-info .product-item-inner {
  position: static !important;
  width: 100% !important;
  height: auto !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.page-products .products .product-item-info .product-item-inner .product-item-actions,
.catalog-product-view .products .product-item-info .product-item-inner .product-item-actions,
.wishlist-index-index .products .product-item-info .product-item-inner .product-item-actions,
.page-products .wishlist .product-item-info .product-item-inner .product-item-actions,
.catalog-product-view .wishlist .product-item-info .product-item-inner .product-item-actions,
.wishlist-index-index .wishlist .product-item-info .product-item-inner .product-item-actions {
  margin: 0 0 15px;
  display: inline-block;
  width: 100%;
}
.page-products .products .product-item-info .product-item-inner .product-item-actions > div,
.catalog-product-view .products .product-item-info .product-item-inner .product-item-actions > div,
.wishlist-index-index .products .product-item-info .product-item-inner .product-item-actions > div,
.page-products .wishlist .product-item-info .product-item-inner .product-item-actions > div,
.catalog-product-view .wishlist .product-item-info .product-item-inner .product-item-actions > div,
.wishlist-index-index .wishlist .product-item-info .product-item-inner .product-item-actions > div {
  display: inline-block;
}
.page-products .products .product-item-info .product-item-inner .product-item-actions a,
.catalog-product-view .products .product-item-info .product-item-inner .product-item-actions a,
.wishlist-index-index .products .product-item-info .product-item-inner .product-item-actions a,
.page-products .wishlist .product-item-info .product-item-inner .product-item-actions a,
.catalog-product-view .wishlist .product-item-info .product-item-inner .product-item-actions a,
.wishlist-index-index .wishlist .product-item-info .product-item-inner .product-item-actions a {
  float: none;
}
.page-products .products .product-item-info .product-item-inner .product-item-actions:after,
.catalog-product-view .products .product-item-info .product-item-inner .product-item-actions:after,
.wishlist-index-index .products .product-item-info .product-item-inner .product-item-actions:after,
.page-products .wishlist .product-item-info .product-item-inner .product-item-actions:after,
.catalog-product-view .wishlist .product-item-info .product-item-inner .product-item-actions:after,
.wishlist-index-index .wishlist .product-item-info .product-item-inner .product-item-actions:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.page-products .products .product-item-info .product-item-inner .field.comment-box,
.catalog-product-view .products .product-item-info .product-item-inner .field.comment-box,
.wishlist-index-index .products .product-item-info .product-item-inner .field.comment-box,
.page-products .wishlist .product-item-info .product-item-inner .field.comment-box,
.catalog-product-view .wishlist .product-item-info .product-item-inner .field.comment-box,
.wishlist-index-index .wishlist .product-item-info .product-item-inner .field.comment-box {
  display: none;
}
.page-products .products .product-item-info:hover,
.catalog-product-view .products .product-item-info:hover,
.wishlist-index-index .products .product-item-info:hover,
.page-products .wishlist .product-item-info:hover,
.catalog-product-view .wishlist .product-item-info:hover,
.wishlist-index-index .wishlist .product-item-info:hover {
  padding: 0;
  top: 0;
  /*box-shadow: 0 5px 10px 2px rgba(0,0,0,0.2); */
}
.page-products .products .product-item-info:after,
.catalog-product-view .products .product-item-info:after,
.wishlist-index-index .products .product-item-info:after,
.page-products .wishlist .product-item-info:after,
.catalog-product-view .wishlist .product-item-info:after,
.wishlist-index-index .wishlist .product-item-info:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.page-products .products.grid.products-grid ol li,
.catalog-product-view .products.grid.products-grid ol li,
.wishlist-index-index .products.grid.products-grid ol li,
.page-products .wishlist.grid.products-grid ol li,
.catalog-product-view .wishlist.grid.products-grid ol li,
.wishlist-index-index .wishlist.grid.products-grid ol li {
  width: 33.3%;
}
@media only screen and (max-width: 991px) {
  .page-products .products.grid.products-grid ol li,
  .catalog-product-view .products.grid.products-grid ol li,
  .wishlist-index-index .products.grid.products-grid ol li,
  .page-products .wishlist.grid.products-grid ol li,
  .catalog-product-view .wishlist.grid.products-grid ol li,
  .wishlist-index-index .wishlist.grid.products-grid ol li {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .page-products .products.grid.products-grid ol li,
  .catalog-product-view .products.grid.products-grid ol li,
  .wishlist-index-index .products.grid.products-grid ol li,
  .page-products .wishlist.grid.products-grid ol li,
  .catalog-product-view .wishlist.grid.products-grid ol li,
  .wishlist-index-index .wishlist.grid.products-grid ol li {
    width: 100%;
  }
}
.page-products .products.list.products-list .product-item-info,
.catalog-product-view .products.list.products-list .product-item-info,
.wishlist-index-index .products.list.products-list .product-item-info,
.page-products .wishlist.list.products-list .product-item-info,
.catalog-product-view .wishlist.list.products-list .product-item-info,
.wishlist-index-index .wishlist.list.products-list .product-item-info {
  padding: 0px;
  display: block;
}
.page-products .products.list.products-list .product-item-info .product-item-photo,
.catalog-product-view .products.list.products-list .product-item-info .product-item-photo,
.wishlist-index-index .products.list.products-list .product-item-info .product-item-photo,
.page-products .wishlist.list.products-list .product-item-info .product-item-photo,
.catalog-product-view .wishlist.list.products-list .product-item-info .product-item-photo,
.wishlist-index-index .wishlist.list.products-list .product-item-info .product-item-photo {
  width: 30%;
  float: left;
  padding: 0;
  /*border: solid 1px @clr_gray;*/
}
.page-products .products.list.products-list .product-item-info .product-item-photo .product-image-wrapper,
.catalog-product-view .products.list.products-list .product-item-info .product-item-photo .product-image-wrapper,
.wishlist-index-index .products.list.products-list .product-item-info .product-item-photo .product-image-wrapper,
.page-products .wishlist.list.products-list .product-item-info .product-item-photo .product-image-wrapper,
.catalog-product-view .wishlist.list.products-list .product-item-info .product-item-photo .product-image-wrapper,
.wishlist-index-index .wishlist.list.products-list .product-item-info .product-item-photo .product-image-wrapper {
  padding-bottom: 73% !important;
}
.page-products .products.list.products-list .product-item-info .product-item-details,
.catalog-product-view .products.list.products-list .product-item-info .product-item-details,
.wishlist-index-index .products.list.products-list .product-item-info .product-item-details,
.page-products .wishlist.list.products-list .product-item-info .product-item-details,
.catalog-product-view .wishlist.list.products-list .product-item-info .product-item-details,
.wishlist-index-index .wishlist.list.products-list .product-item-info .product-item-details {
  width: 70%;
  float: left;
  padding: 0 15px;
}
.page-products .products.list.products-list .product-item-info .product-item-details .product-item-link,
.catalog-product-view .products.list.products-list .product-item-info .product-item-details .product-item-link,
.wishlist-index-index .products.list.products-list .product-item-info .product-item-details .product-item-link,
.page-products .wishlist.list.products-list .product-item-info .product-item-details .product-item-link,
.catalog-product-view .wishlist.list.products-list .product-item-info .product-item-details .product-item-link,
.wishlist-index-index .wishlist.list.products-list .product-item-info .product-item-details .product-item-link {
  -webkit-line-clamp: 1;
  height: 22px;
}
.page-products .products.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
.catalog-product-view .products.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
.wishlist-index-index .products.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
.page-products .wishlist.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
.catalog-product-view .wishlist.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
.wishlist-index-index .wishlist.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description {
  margin: 0 0 10px;
}
@media only screen and (max-width: 767px) {
  .page-products .products.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
  .catalog-product-view .products.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
  .wishlist-index-index .products.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
  .page-products .wishlist.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
  .catalog-product-view .wishlist.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description,
  .wishlist-index-index .wishlist.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description {
    font-size: 12px;
  }
}
.page-products .products.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description .action.more,
.catalog-product-view .products.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description .action.more,
.wishlist-index-index .products.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description .action.more,
.page-products .wishlist.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description .action.more,
.catalog-product-view .wishlist.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description .action.more,
.wishlist-index-index .wishlist.list.products-list .product-item-info .product-item-details .product-item-inner .product-item-description .action.more {
  color: #ff0000;
}
.page-products.page-layout-1column .grid.products-grid ol li,
.catalog-product-view.page-layout-1column .grid.products-grid ol li,
.wishlist-index-index.page-layout-1column .grid.products-grid ol li {
  width: 25%;
}
@media only screen and (max-width: 991px) {
  .page-products.page-layout-1column .grid.products-grid ol li,
  .catalog-product-view.page-layout-1column .grid.products-grid ol li,
  .wishlist-index-index.page-layout-1column .grid.products-grid ol li {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .page-products.page-layout-1column .grid.products-grid ol li,
  .catalog-product-view.page-layout-1column .grid.products-grid ol li,
  .wishlist-index-index.page-layout-1column .grid.products-grid ol li {
    width: 100%;
  }
}
/* Related items Design in PDP Page
======================================*/
/* Dash board wishlist item design
======================================*/
.wishlist-index-index .wishlist {
  margin: 0;
}
.wishlist-index-index .wishlist ol.product-items li {
  width: 33.3%;
}
@media only screen and (max-width: 991px) {
  .wishlist-index-index .wishlist ol.product-items li {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .wishlist-index-index .wishlist ol.product-items li {
    width: 100%;
  }
}
.wishlist-index-index .wishlist .product-item-info {
  padding: 0 15px !important;
}
.wishlist-index-index .wishlist .product-item-info a.product-item-photo {
  margin: 0 -15px 15px;
  width: calc(100% + 30px) !important;
  float: none;
}
.wishlist-index-index .wishlist .product-item-info .product-item-name,
.wishlist-index-index .wishlist .product-item-info .price-box {
  margin: 0;
}
.wishlist-index-index .wishlist .product-item-info .box-tocart {
  margin-bottom: 15px;
  float: none;
  width: 100%;
}
.wishlist-index-index .wishlist .product-item-info .box-tocart .fieldset {
  display: block;
}
.wishlist-index-index .wishlist .product-item-info .box-tocart .fieldset .field.qty {
  display: inline-block;
  margin: 0 10px 0 0;
}
.wishlist-index-index .wishlist .product-item-info .box-tocart .fieldset .product-item-actions {
  width: auto;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: bottom;
}
.wishlist-index-index .wishlist .product-item-info .box-tocart .tocart {
  font-size: 12px;
  padding: 0 20px;
  line-height: 30px;
}
/* plp products list and grid */
@media only screen and (max-width: 767px) {
  .products.wrapper.list.products-list {
    border-top: 1px solid #ccc;
  }
  .products.wrapper.list.products-list ol {
    margin: 0 -15px;
    border: 0 !important;
  }
  .products.wrapper.list.products-list ol li {
    padding: 15px;
    width: 50%;
    display: inline-block;
  }
  .products.wrapper.list.products-list ol li .product-item-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    -webkit-transition: 0.8s all ease-in-out;
    -moz-transition: 0.8s all ease-in-out;
    -ms-transition: 0.8s all ease-in-out;
    -o-transition: 0.8s all ease-in-out;
    transition: 0.8s all ease-in-out;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-2 {
    width: 100%;
    display: block;
    clear: both;
    padding: 15px 15px 30px !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-2 a.product-item-photo {
    width: 100%;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-2 a.product-item-photo .product-image-container .product-image-wrapper {
    padding-bottom: 24% !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-2 a.product-item-photo .product-image-container .product-image-wrapper .product-image-photo {
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
  }
  .products.wrapper.list.products-list ol li .product-item-info .checkbox {
    padding-top: 10px !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .checkbox input {
    margin-top: 3px !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 {
    width: 100%;
    display: block;
    clear: both;
    padding-right: 15px;
    padding-left: 0;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5.border_line {
    border: 0 !important;
    padding-left: 15px;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 h2 {
    text-align: center;
    padding-bottom: 0 !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 h2 a {
    text-align: center;
    padding: 0 10px;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 42px;
    -webkit-line-clamp: 4;
    height: 48px !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row {
    margin: 0 0 20px;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-2 {
    padding: 0 !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-2,
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4,
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 {
    width: 100%;
    display: block;
    clear: both;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-2 .brand_title,
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4 .brand_title,
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .brand_title {
    display: block;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container {
    min-height: 220px;
    padding: 27px 20px 20px !important;
    text-align: center;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty {
    float: none !important;
    margin: 25px 0 10px;
    width: 100%;
    display: block !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs {
    padding: 0;
    text-align: left;
    padding-left: 0px;
    width: auto;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt .black_instock {
    display: block;
  }
  .products.wrapper.list.products-list ol li .product-item-info:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: none;
  }
}
@media only screen and (max-width: 480px) {
  .products.wrapper.list.products-list {
    border-top: 1px solid #ccc;
  }
  .products.wrapper.list.products-list ol {
    margin: 0;
    border: 0 !important;
  }
  .products.wrapper.list.products-list ol li {
    width: 100%;
    display: block;
    padding: 15px 0;
  }
}
.products.wrapper.list.products-list ol li {
  border-bottom: 1px solid #ccc !important;
  margin: 0 15px;
  width: calc(100% - 30px);
}
@media only screen and (max-width: 767px) {
  .products.wrapper.list.products-list ol li {
    width: 50%;
    margin: 0;
  }
}
@media only screen and (max-width: 567px) {
  .products.wrapper.list.products-list ol li {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .products.wrapper.list.products-list ol li .product-item-info > .col-md-2 {
    width: 100%;
    padding: 15px 0;
  }
}
.products.wrapper.list.products-list ol li .product-item-info > .col-md-2 a.product-item-photo {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .products.wrapper.list.products-list ol li .product-item-info > .col-md-2 a.product-item-photo .product-image-container .product-image-wrapper {
    padding-bottom: 22% !important;
  }
}
.products.wrapper.list.products-list ol li .product-item-info > .col-md-2 a.product-item-photo .product-image-container .product-image-wrapper .product-image-photo {
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5.border_no {
    display: block;
    width: 100%;
    clear: both;
    padding-left: 0;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-2 {
    width: 20%;
    display: inline-block;
    margin-top: 5px !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4,
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    line-height: 0 !important;
  }
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4 .brand_title,
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .brand_title {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5.border_line {
    padding: 0 !important;
  }
}
.products.wrapper.grid.products-grid {
  border-top: 1px solid #ccc;
}
@media only screen and (max-width: 767px) {
  .products.wrapper.grid.products-grid {
    /*display: none;*/
  }
}
.products.wrapper.grid.products-grid ol {
  margin: 0 -15px;
  border: 0 !important;
}
.products.wrapper.grid.products-grid ol li {
  padding: 15px;
}
.products.wrapper.grid.products-grid ol li .product-item-info {
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 0.8s all ease-in-out;
  -moz-transition: 0.8s all ease-in-out;
  -ms-transition: 0.8s all ease-in-out;
  -o-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 {
  width: 100%;
  display: block;
  clear: both;
  padding: 15px 15px 30px !important;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 a.product-item-photo {
  width: 100%;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 a.product-item-photo .product-image-container .product-image-wrapper .product-image-photo {
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
}
.products.wrapper.grid.products-grid ol li .product-item-info .checkbox {
  padding-top: 10px !important;
}
.products.wrapper.grid.products-grid ol li .product-item-info .checkbox input {
  margin-top: 3px !important;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 {
  width: 100%;
  display: block;
  clear: both;
  padding-right: 15px;
  padding-left: 0;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5.border_line {
  border: 0 !important;
  padding-left: 15px;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 h2 {
  text-align: center;
  padding-bottom: 0 !important;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 h2 a {
  text-align: center;
  height: 48px !important;
  padding: 0 10px;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
  height: 56px;
  -webkit-line-clamp: 4;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row {
  margin: 0;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-2 {
  padding: 0 !important;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-2 .brand-logo {
  width: 30px !important;
  height: auto !important;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-2,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-4,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 {
  width: 100%;
  display: block;
  clear: both;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-2 .brand_title,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-4 .brand_title,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 .brand_title {
  display: block;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container {
  min-height: 220px;
  padding: 27px 20px 20px !important;
  text-align: center;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty {
  float: none !important;
  margin: 25px 0 10px;
  width: 100%;
  display: block !important;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs {
  padding: 0;
  text-align: left;
  padding-left: 0px;
  width: auto !important;
  display: inline-block !important;
}
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt .black_instock {
  display: block;
}
.products.wrapper.grid.products-grid ol li .product-item-info:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: none;
}
.products.wrapper.list.products-list ol,
.products.wrapper.grid.products-grid ol {
  font-size: 0;
  border-top: 1px solid #ccc;
}
.products.wrapper.list.products-list ol li .product-item-info,
.products.wrapper.grid.products-grid ol li .product-item-info {
  /*border: 1px solid #ccc; */
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 {
  /*padding: 0;*/
  padding-left: 0;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 a.product-item-photo,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 a.product-item-photo {
  width: 100%;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 a.product-item-photo .product-image-container .product-image-wrapper .product-image-photo,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 a.product-item-photo .product-image-container .product-image-wrapper .product-image-photo {
  width: 75px;
  margin: 0 auto;
  object-fit: contain;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 a.product-item-photo:focus,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 a.product-item-photo:focus {
  outline: none;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 .checkbox,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 .checkbox {
  display: block;
  clear: both;
  width: 100%;
  padding: 3px 5px 3px 20px;
  margin: 0;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 .checkbox input,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 .checkbox input {
  margin-top: 3px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 .checkbox form,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 .checkbox form {
  width: auto;
  display: inline-block;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 .checkbox a span,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 .checkbox a span {
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  color: #004f88;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 .checkbox a.btn,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 .checkbox a.btn {
  background: #9b0005;
  color: #ffffff;
  height: 30px;
  padding: 5px 15px;
  border: 0;
  display: block;
  border-color: #d43f3a;
  border-radius: 0;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 .checkbox a.btn span,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 .checkbox a.btn span {
  color: #ffffff;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 .checkbox a.btn:hover,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 .checkbox a.btn:hover {
  background: #c9302c;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 .checkbox a.btn:hover span,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 .checkbox a.btn:hover span {
  color: #ffffff;
  text-decoration: none;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-2 .checkbox a:hover span,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-2 .checkbox a:hover span {
  text-decoration: underline;
  color: #9b0005;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 {
  padding-right: 0;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5.border_line,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5.border_line {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-right: 15px;
}
@media only screen and (max-width: 991px) {
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5.border_line,
  .products.wrapper.grid.products-grid ol li .product-item-info .col-md-5.border_line {
    border: 0;
  }
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 h2,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 h2 {
  margin: 0;
  padding-bottom: 5px;
  line-height: 0px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 h2 a,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 h2 a {
  font-size: 11px;
  color: #004f88;
  line-height: 12px;
  font-weight: 700;
  /*.dot_elips; height: 36px; -webkit-line-clamp: 3;*/
  display: block;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 h2 a:hover,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 h2 a:hover {
  text-decoration: underline;
  color: #9b0005;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-2,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-2 {
  padding-right: 0px;
  margin-top: 10px;
  padding-left: 15px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-2 img.brand-logo,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-2 img.brand-logo {
  width: 50px;
  height: auto;
  min-width: 40px;
  margin: 0 auto;
  object-fit: contain;
  /* max-height: 50px;*/
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-4 {
  line-height: 0px;
  /*    word-break: break-all; */
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4 span,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-4 span {
  color: #666666;
  font-size: 12px;
  line-height: 17px;
  display: inline-block;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4 span.brand_title,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-4 span.brand_title,
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4 span.cat_sku,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-4 span.cat_sku {
  color: #333333;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4 span.brand_title,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-4 span.brand_title {
  display: block;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4 span.cat_sku,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-4 span.cat_sku {
  text-transform: uppercase;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-4 span a:hover,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-4 span a:hover {
  text-decoration: underline;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 {
  line-height: 0px;
  margin-bottom: 10px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 small a,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 small a {
  font-size: 10px;
  line-height: 15px;
  color: #666666;
  font-weight: 400;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 small a:hover,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 small a:hover {
  text-decoration: underline;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .rating-stars ul,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .rating-stars ul {
  display: inline-block;
  width: auto;
  font-size: 0;
  vertical-align: middle;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .rating-stars ul li,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .rating-stars ul li {
  font-size: 14px;
  line-height: 18px;
  color: #dddddd;
  border: 0 !important;
  margin: 0;
  padding: 0;
  width: auto;
  display: inline-block;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .rating-stars ul li .star_icon,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .rating-stars ul li .star_icon {
  font-size: 20px;
  line-height: 20px;
  color: #dddddd;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .rating-stars ul li.selected .star_icon,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .rating-stars ul li.selected .star_icon {
  color: #ff9e32;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .reseller_list_score,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 .reseller_list_rating .reseller_list_count .reseller_list_score {
  font-size: 12px;
  line-height: 17px;
  color: #666666;
  font-weight: 400;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .rr_cat_ratings .rating_anchor .reviews .acs_rating_bar span,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 .rr_cat_ratings .rating_anchor .reviews .acs_rating_bar span {
  font-size: 18px;
  line-height: 19px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .rr_cat_ratings .rating_anchor .reviews .acs_prod_review_count,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 .rr_cat_ratings .rating_anchor .reviews .acs_prod_review_count {
  font-size: 11px;
  line-height: 19px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .row .col-md-6 .rr_cat_ratings .rating_anchor:hover .acs_prod_review_count,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .row .col-md-6 .rr_cat_ratings .rating_anchor:hover .acs_prod_review_count {
  text-decoration: underline;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container {
  background: #ececec;
  padding: 15px 5px;
  font-size: 12px;
  line-height: 17px;
}
@media only screen and (max-width: 767px) {
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container,
  .products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container {
    text-align: center;
  }
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee {
  text-align: right;
  margin-bottom: 7px;
}
@media only screen and (max-width: 767px) {
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee,
  .products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee {
    text-align: center;
  }
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee a,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee a {
  color: #019901;
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee span,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee span {
  color: #019901;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee i,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .priceguarentee i {
  font-size: 14px;
  color: #019901;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .red-txt,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .red-txt {
  display: inline-block;
  vertical-align: middle;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .red-txt .price_only,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .red-txt .price_only {
  display: block;
  color: #9b0005;
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
  width: 100%;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .red-txt .old-price,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .red-txt .old-price {
  color: #9b0005;
  font-size: 12px;
  line-height: 17px;
  font-weight: 700;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .price-box,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .price-box {
  display: inline-block;
  margin: 0;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .price-box .price-container .price-wrapper .price,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .price-box .price-container .price-wrapper .price {
  font-size: 12px;
  line-height: 17px;
  color: #9b0005;
  font-weight: 700;
  vertical-align: bottom;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .info_img,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .info_img {
  display: inline-block;
  padding-left: 0px;
  vertical-align: middle;
  cursor: pointer;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .info_img img,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .info_img img {
  object-fit: contain;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container:after,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty {
  display: inline-block;
  float: right;
  margin-right: 15px;
  margin-bottom: 5px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form label,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form label,
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form .label,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form .label {
  font-size: 12px;
  line-height: 17px;
  color: #333333 !important;
  font-weight: 400;
  margin: 0;
  vertical-align: top;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form input,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form input {
  display: inline;
  position: relative;
  text-align: center;
  top: 1px;
  width: 20px;
  padding: 0;
  height: 24px;
  top: 0px;
  margin: 0 1px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form button,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form button {
  background: #9b0005;
  color: #ffffff;
  margin-bottom: 0px;
  border-radius: 0px;
  height: 24px;
  padding: 0 0px 0 6px;
  border: 0;
  vertical-align: top;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form button i,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form button i {
  padding: 0 5px;
  font-size: 12px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form button i.fa-caret-right,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form button i.fa-caret-right {
  padding-right: 2px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form button.callforprice,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form button.callforprice,
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form button.seepriceincart,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form button.seepriceincart {
  padding: 0 2px 0 3px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form button.callforprice,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form button.callforprice {
  margin-right: 15px;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form button.callforprice i,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form button.callforprice i {
  font-size: 14px;
  padding-left: 0;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .plqty form button:hover,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .plqty form button:hover {
  background: #c9302c;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs {
  display: block;
  clear: both;
  width: 100%;
  line-height: 12px;
}
@media only screen and (max-width: 767px) {
  .products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs,
  .products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs {
    display: inline-block;
    width: auto;
  }
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt {
  font-weight: 600;
  display: block;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt span,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt span {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt .grntxt_instock,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt .grntxt_instock,
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt .black_instock,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt .black_instock {
  font-size: 10px;
  line-height: 15px;
  color: #019901;
  margin-bottom: 0;
  display: inline-block;
}
.products.wrapper.list.products-list ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt .grntxt_instock,
.products.wrapper.grid.products-grid ol li .product-item-info .col-md-5 .price_detail_container .dcw-list-page-customs .green-txt .grntxt_instock {
  cursor: pointer;
  font-weight: 600;
}
