@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* login register page design 
=============================*/
body[class*=customer-account] {
  /* Login page 
  ===============*/
  /* Register page 
  ===============*/
  /* Forgot password page 
  =======================*/
}
body[class*=customer-account] .login-container,
body[class*=customer-account] form.form.form-create-account,
body[class*=customer-account] form.form.password {
  width: calc(100% + 30px);
  max-width: calc(100% + 30px);
  min-width: min-content;
  margin: 0 -15px;
}
@media only screen and (max-width: 767px) {
  body[class*=customer-account] .login-container,
  body[class*=customer-account] form.form.form-create-account,
  body[class*=customer-account] form.form.password {
    width: 100%;
    max-width: 100%;
    margin: 0 0 30px;
    padding-top: 40px;
  }
}
body[class*=customer-account] .login-container > div.block,
body[class*=customer-account] form.form.form-create-account > div.block,
body[class*=customer-account] form.form.password > div.block,
body[class*=customer-account] .login-container > fieldset.fieldset,
body[class*=customer-account] form.form.form-create-account > fieldset.fieldset,
body[class*=customer-account] form.form.password > fieldset.fieldset {
  width: 50%;
  padding: 0 15px;
  float: left;
}
@media only screen and (max-width: 767px) {
  body[class*=customer-account] .login-container > div.block,
  body[class*=customer-account] form.form.form-create-account > div.block,
  body[class*=customer-account] form.form.password > div.block,
  body[class*=customer-account] .login-container > fieldset.fieldset,
  body[class*=customer-account] form.form.form-create-account > fieldset.fieldset,
  body[class*=customer-account] form.form.password > fieldset.fieldset {
    width: 100%;
    display: block;
    float: none;
    padding: 0;
  }
}
body[class*=customer-account] .login-container .actions-toolbar,
body[class*=customer-account] form.form.form-create-account .actions-toolbar,
body[class*=customer-account] form.form.password .actions-toolbar {
  padding: 0 15px;
  display: inline-block;
  width: 100%;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  body[class*=customer-account] .login-container .actions-toolbar,
  body[class*=customer-account] form.form.form-create-account .actions-toolbar,
  body[class*=customer-account] form.form.password .actions-toolbar {
    padding: 0;
  }
}
body[class*=customer-account] .login-container:after,
body[class*=customer-account] form.form.form-create-account:after,
body[class*=customer-account] form.form.password:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
body[class*=customer-account] .login-container .field .control {
  width: 100%;
}
body[class*=customer-account] .login-container .actions-toolbar {
  padding: 0;
  margin: 0;
}
body[class*=customer-account] form.form.form-create-account fieldset legend.legend {
  margin: 30px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #4598da;
}
