<div class="container">
	<div class="row top_search_row">
		<div class="col-md-4">
			<form action="" method="post">
			    <input type='text' name='address' placeholder='Enter any address here' value="<?php //echo $address; ?>" />    
			    <input type='submit' value='Search' class="btn btn-primary" />
			</form>
		</div>
		<div class="col-md-8">
		        <input name="Latitude" type="text" id="Latitude" size="16" maxlength="10" placeholder='Please enter Latitude' />
		        <input name="Longitude" type="text" id="Longitude" size="16" maxlength="10" placeholder='Please enter Longitude' />  
		        <input type="button" value="Search" onclick="//ReverseCode()" class="btn btn-primary">     
		</div>
	</div>

	<div class="gmap_section">
		<div class="col-md-6 map_sec">
			<div id="gmap_canvas"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1030.442054597403!2d-95.55562409832181!3d29.691356059920405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c2b6ef0a2037%3A0x86fd9f317bb30cda!2sNational%20Oilwell%20Varco%2C%207909%20Parkwood%20Cir%20Dr%2C%20Houston%2C%20TX%2077036%2C%20USA!5e0!3m2!1sen!2sin!4v1576630803086!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
    		<div id='map-label'></div>
		</div>
		<!-- <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCSiNb2QI4HfoA6c7xBjs3UWf8WIPeCmrw"></script> -->  
		<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSiNb2QI4HfoA6c7xBjs3UWf8WIPeCmrw" async defer></script> -->


		<div class="col-md-6 map_cont_sec">
			<div class="gmap-right">
				<form name="" method="post" action="" onsubmit="" enctype="multipart/form-data">
				
				<input type="hidden" name="address_entered" value="<?php //echo $formatted_address; ?>">
				
				<input type="checkbox" value="trail_report" id="trail_report" name="trail_report"> Trial Report<br/><br/>
				<div id="property_div">
					<input type="radio" name="property" id="regular" value="regular" />Instant Squares
					<input type="radio" name="property" id="residential" value="residential" />Residential
					<input type="radio" name="property" id="commercial" value="commercial" />Commercial
					<input type="radio" name="property" id="multifamily" value="multifamily" />Multi Family
					<input type="radio" name="property" id="multifamily" value="multifamily" />Wall Report
					<input type="radio" name="property" id="multifamily" value="multifamily" />Blue prints
				</div>
				<div><input type="hidden" name="upgrade" id="upgrade" class="input" value="<?php  ?>" />
				<div id="fullAddress"></div>
				<div id="price"></div>
				<div class="resdentialSize">
				<h6 class="head-title">
				Estimation Area</h6>
				<input type="radio" name="propertySq" id="residentialSimp" value="30" />30 Squares
				<input type="radio" class="input-value" name="propertySq" id="residentialComp" value="30 Above" />30+ Squares 
				</div>
				<div class="complexSize">
				<h6 class="head-title">
				Estimation Area</h6>
				<input type="radio" name="propertySq" id="complexSimp" value="40" />60 Squares
				<input type="radio" name="propertySq" id="complexComp" value="40 Above" />60+ Squares
				</div>
				</div>
				<div class="file_format">
					<h6 class="head-title">File Format</h6>
					<input type="radio" name="fileformat" id="fxml" value="xml" />XML
					<input type="radio" name="fileformat" id="fesx" value="esx" />ESX
				</div>
				<div id="measurements_div">
				<h6 class="head-title" id="measure-header">Measurments</h6>
				<select name="measurements" id="measurements">
				    <option value="Main Structure + Garage">Main Structure + Garage</option>
				    <option value="Main Structure">Main Structure</option>
				    <!--<option value="Overhead photo with Outline">Overhead photo with Outline</option>
				    <option value="Primary Pitch">Primary Pitch</option>
				    <option value="Total Squares">Total Squares</option>
				    <option value="Lengths">Lengths</option>
				    <option value="Area Measurements">Area Measurements</option>
				    <option value="Waste Factor Table Upto 25%">Waste Factor Table Upto 25%</option>
				    <option value="Pitch Values">Pitch Values</option>-->
				</select>
				</div>

				<div id="multi_type" style="display:none;">
					<h6 class="head-title" id="measure1-header">Type</h6>
					<select name="multi_typesel" id="multi_typesel">
						<option value="multi_residential" selected>Residential</option>
						<option value="multi_commercial">Commercial</option>
					</select>
					<h6 class="head-title" id="measure1-header">No.of Buildings</h6>
					<input type="text" name="noof_buildings" id="noof_buildings" onchange="//noofchange()">
				</div>


				<div>

				<div id="delihvery">

				</div>

				<div id="delivery_trail" style="display:none;">
					<h6 class="head-title">Delivery</h6>
					<input type="radio" name="delivery" id="base" value="0" onclick="//deliver(this.value)">Delivery - 1 Business day or Less<br>
					<input type="radio" name="delivery" id="rush" value="15" onclick="//deliver(this.value)">Rush Report Delivey  - 2 Hours
				</div>
				</div>
				<input type="hidden" name="del" id="del"  class="input" value="" />
				<input type="hidden" name="prices" id="prices"  class="input" value="" />
				<input type="hidden" name="latitude" id="latitude1"  class="input" value="<?php //echo $latitude; ?>" />
				<input type="hidden" name="longitude" id="longitude1" class="input" value="<?php //echo $longitude; ?>" />
				<input type="hidden" name="geoAddress" id="geoAddress1" class="input" value="<?php //echo $formatted_address; ?>" />
				<input type="hidden" name="upgrade" id="upgrade" class="input" value="<?php //if($getProperty != NULL){ //echo $_product->getPrice(); } ?>" />
				<div> <h6 class="head-title">Special Notes</h6></div>
				<textarea rows="4" cols="50" name="comments"></textarea>
				<div> <h6 class="head-title">Upload Logo</h6></div>
				<input type="file" name="logo" id="logo"  class="input" value="" />
				<div> <h6 class="head-title">Enter Pitch value if known</h6></div>
				<input type="text" name="pitch" id="pitch"  class="input" value="" />
				<div class="estimated"></div>
				<div>&nbsp;</div>
				<input type="submit" value="Order" class="submit btn btn-primary" name="submit" />
				</form>
				</div>
			
		</div>
	</div>  <!--end of the gmap_section -->
<div class="note_Order">
Note: Any Rush Report to be charged Extra $15.00
</div>
		</div>
	</div>
</div>
		<script type="text/javascript">
		require(['jquery', 'jquery/ui'], function($){
			jQuery(document).ready(function(){
			   //          var myOptions = {
		    //             zoom: 18,
		    //             center: new google.maps.LatLng(latt, long),
		    //             mapTypeId: google.maps.MapTypeId.SATELLITE,
						// labels:true,
						//  mapTypeId: google.maps.MapTypeId.HYBRID,
						// styles:[
						// 	{
						// 		featureType: "all",
						// 		elementType: "labels",
						// 		stylers: [
						// 			{ visibility: "on" }
						// 		]
						// 	}
						// ]
		    //         };

		});
		});
		</script>

<style type="text/css">
	
.row.top_search_row div[class^="col-md"] {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row.top_search_row form{
	width: 100%;
	padding: 0 15px;
}
.row.top_search_row form input[type="text"]{
	width: 80%;
}
.row.top_search_row {
    padding: 30px 0;
}
</style>
