<?php 
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
//$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();  
$FormKey = $_objectManager->get('Magento\Framework\Data\Form\FormKey'); 
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore();
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

?>
<div class="col-md-5">
<!-- 	<div class="roof_Left">
        <div class="address_title"></div>    
            <h5>Aerialestimation Customer service </h5><br>
            
	 <p><b>Email Us <br>            
	info@aerialestimation.com<br>
	orders@aerialestimation.com<br> </b></p>
	<b>
	<p><b>Phone Number: </b> 424-256-1757<br>
	 <b style="margin-left:23%;">424-666-2345</b><br>
	<b>Fax Number: </b> 424-204-0720</p>

	<p><b> Working hours: Weekdays </b> Mon - Fri 8:00 am - 6.00 PM CST<br>
	<b>Saturday: </b>  8:00 am - 12.00 PM CST</p>

	<b>www.aerialestimation.com&#8203;</b>

	</b>
	</div> -->

	<address>
	<h5>Aerialestimation Customer service </h5>
            
	 Email Us <br>            
	info@aerialestimation.com<br>
	orders@aerialestimation.com<br> 

	Phone Number:  424-256-1757 ,
	 424-666-2345<br>
	Fax Number:  424-204-0720<br>

	Working hours: Weekdays  Mon - Fri 8:00 am - 6.00 PM CST<br>
	Saturday:  8:00 am - 12.00 PM CST<br>

	www.aerialestimation.com


	</address>
</div>
<div class="col-md-7">
	
	<form  name="simple_contact_form" action="<?php echo $this->getUrl().'simple/index/form'?>" method="post" id="simple_contact_form" enctype="multipart/form-data">
<input name="form_key" id="form_key" type="hidden" value="<?php echo $FormKey->getFormKey();?>" />
  <div class="form-group">
    <label for="fname" class="col-sm-4 control-label">First Name  <span class="astric">*</span></label>
    <div class="col-sm-8">
    <input name="fname" id="fname" title="Name" class="form-control input-text" type="text" placeholder="First Name" />
    <input type="hidden"  name="contact_type" value="simple-contact" />   
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Last Name  <span class="astric">*</span></label>
    <div class="col-sm-8">
      <input type="text" name="lastname" class="form-control  input-text" id="inputEmail3" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Email Address  <span class="astric">*</span></label>
    <div class="col-sm-8">
      <input name="quoteemail" title="Email" class="input-text validate-email form-control" type="text" placeholder="Email Address" />
     
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail32" class="col-sm-4 control-label">Company <span class="astric">*</span></label>
    <div class="col-sm-8">
      <input type="text" name="company" class="form-control  input-text" id="inputEmail32" placeholder="Company">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail33" class="col-sm-4 control-label">Phone  <span class="astric">*</span></label>
    <div class="col-sm-8">
      <input type="text" name="phone" class=" input-text form-control" id="inputEmail33" placeholder="Phone" maxlength="10">
    </div>
  </div>
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Comment  <span class="astric">*</span></label>
    <div class="col-sm-8">
     <textarea name="comment" id="comment" rows="5" title="Comment" class="form-control  input-text" ></textarea>
     
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">How did you hear about us?  <span class="astric">*</span></label>
    <div class="col-sm-8">      
      <select class="wid_180 form-control  input-text" id="select2" name="how_did">
                    <option value="" selected="">Please select...</option>
                    <option value="Google">Google</option>
                    <option value="Magazine">Magazine</option>
                    <option value="Word of Mouth">Word of Mouth</option>
                    <option value="Other">Other</option>
	 </select>
    </div>
  </div>
 <div class="form-group">
    <div class="col-sm-12">
      <button type="button" class="btn btn-danger contact-submit pull-right" name="submitform">Submit</button>
    </div>
  </div>
</form>
</div>


<!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
<script type="text/javascript">
require(['jquery', 'jquery/ui'],function($){	
	 jQuery(document).ready(function(){
		jQuery(".contact-submit").click(function(){			
			var err=false;
			var err_msg	=	'';
			var fname = jQuery('input[name=fname]').val();
			if(fname.length==0)
			{
				var err=true;
				err_msg	+= 'First name must be filled out \n';
			}
			var lastname = jQuery('input[name=lastname]').val();
			if(lastname.length==0)
			{
				var err=true;
				err_msg	+= 'Last name must be filled out \n';
			}
			var email = jQuery('input[name=quoteemail]').val();
			var atpos = email.indexOf("@");
			var dotpos = email.lastIndexOf(".");		
			if(email.length==0)
			{
				var err=true;
				err_msg	+= 'Email must be filled out \n';
			}		
			else if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length) {
				var err=true;
				err_msg	+= 'Not a valid e-mail address \n';
			}
			var phone = jQuery('input[name=phone]').val();
			if(phone.length==0)
			{
				var err=true;
				err_msg	+= 'Phone Number must be filled out \n';
			}
			else if(phone.length < 10){
				var err=true;
				err_msg	+= 'Phone Number must be filled 10 Digits \n';
			}
			var state=jQuery("select[name='state'] option:selected").val();
			if(state=='choose')
			{
				var err=true;
				err_msg	+= 'Select the State \n';
			}
			var question=jQuery("select[name='question'] option:selected").val();
			if(question=='choose')
			{
				var err=true;
				err_msg	+= 'Select a Question \n';
			}
			var comment = jQuery('textarea[name=comment]').val();
			if(comment.length==0)
			{
				var err=true;
				err_msg	+= 'Message must be filled out \n';
			}
	        var attimage = document.getElementById('myImage').value;//jQuery('file[name=myImage]').val();
			if(attimage != '')
			{
				var extFile = attimage.substring(attimage.lastIndexOf('.') + 1);
				if (extFile=="jpg" || extFile=="jpeg" || extFile=="png")
				{

				}
				else{
					var err=true;
					err_msg	+= 'Only jpg/jpeg and png files are allowed! \n';
				}   
			}
			var user_captcha = jQuery("#user_captha").val();
			var system_captcha = jQuery("#system_captha").val();
			if(user_captcha != '' && user_captcha != null && user_captcha==system_captcha)
			{

			}
			else
			{
				var err=true;
				err_msg	+= 'Invalid Captcha \n';
				
			}
			if(err==false)
			{
				jQuery("#simple_contact_form").submit();	
			}
			else
			{
				alert(err_msg);
			}
		});

	    $("#inputEmail33").keypress(function (e) {
	        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
	            return false;
	        }
	    });
	 });	
});
</script>

