@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* Top banners 
---------------------------*/
.top_banner {
  width: 100%;
  max-width: 1366px;
  height: 190px;
  max-height: 190px;
  min-height: 190px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.top_banner > p {
  margin: 0;
  height: 100%;
}
.top_banner img {
  width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
}
.top_banner:after {
  content: '';
  width: 100%;
  height: 100%;
  /*background: rgba(0,0,0,0.5);*/
  position: absolute;
  top: 0;
  left: 0;
}
.top_banner .top_banner_in {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  z-index: 3;
  width: 100%;
  max-width: 1366px;
  padding: 0 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.top_banner .top_banner_in h1 {
  font-size: 35px;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}
.top_banner .top_banner_in h1 span.bold-title {
  font-weight: bold;
}
@media only screen and (max-width: 499px) {
  .top_banner p {
    font-size: 14px;
    line-height: 22px;
  }
}
