@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.less');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700.less');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i.less');
@import url('https://fonts.googleapis.com/css?family=Economica:400,400i,700,700i.less');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i.less');
/* variables, Mixins & Fonts */
/*==== FontAwesome 4 */
/*==== FontAwesome 5 */
@font-face {
  font-family: 'franchiseregular';
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot');
  src: url('../fonts/franchise-bold-hinted-fontsbucket-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.woff') format('woff'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.ttf') format('truetype'), url('../fonts/franchise-bold-hinted-fontsbucket-webfont.svg#franchiseregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
}
.dot_elips {
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
}
.all_button_design {
  border: 1px solid #000000;
  background: none;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 5px 0 0;
  line-height: 30px;
  font-weight: normal;
  min-height: 30px;
  display: inline-block;
  border-radius: 0;
}
.all_button_design:hover {
  background: #000000;
  color: #ffffff;
}
/* Top Banner Slider  
********************************************************/
/* variables, Mixins & Fonts */
.home_title {
  font-size: 20px;
  font-weight: 600;
  color: #636363;
  border-bottom: 2px solid #4598da;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding-top: 25px;
}
.home_sub_title {
  font-size: 16px;
  color: #636363;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 700;
}
.left_sec {
  padding-right: 30px;
}
.left_sec .left_sec ul li {
  list-style: disc;
  margin-left: 30px;
}
.left_sec,
.right_sec {
  width: 50%;
  float: left;
}
.right_sec form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.right_sec form input[type="text"] {
  float: left;
  width: 85%;
}
.right_sec form input[type="submit"] {
  width: 15%;
  height: 32px;
  float: right;
  background-color: #4598da;
  color: #fff;
  font-weight: 700;
  border: none;
}
